services:
  # FastAPI Backend (image)
  - type: web
    name: server-image
    env: image
    image:
      url: ghcr.io/polarsource/polar:latest
      creds:
        fromRegistryCreds:
          name: polarsource
    preDeployCommand: "poetry run task pre_deploy"
    region: ohio
    plan: standard
    numInstances: 1
    healthCheckPath: /readyz
    autoDeploy: false # deploys are triggered by github actions
    # domains:
    #   - api.polar.sh
    envVars:
      # CORS
      - key: POLAR_CORS_ORIGINS
        value: '["https://dashboard.polar.sh", "https://github.com" , "https://polar.sh", "https://polar-polar-sh.vercel.app"]'

      # GitHub
      - key: POLAR_GITHUB_REDIRECT_URL
        value: "https://dashboard.polar.sh/github/session"

      # PostgreSQL
      - key: POLAR_POSTGRES_USER
        fromDatabase:
          name: polar
          property: user
      - key: POLAR_POSTGRES_PWD
        fromDatabase:
          name: polar
          property: password
      - key: POLAR_POSTGRES_DATABASE
        fromDatabase:
          name: polar
          property: database
      - key: POLAR_POSTGRES_PORT
        fromDatabase:
          name: polar
          property: port
      - key: POLAR_POSTGRES_HOST
        fromDatabase:
          name: polar
          property: host

      # Redis
      - key: POLAR_REDIS_HOST
        fromService:
          type: redis
          name: polar-tasks
          property: host
      - key: POLAR_REDIS_PORT
        fromService:
          type: redis
          name: polar-tasks
          property: port

      - fromGroup: github-production
      - fromGroup: server-common
      - fromGroup: server-stripe

  # Worker
  - type: worker
    name: worker-image
    env: image
    image:
      url: ghcr.io/polarsource/polar:latest
      creds:
        fromRegistryCreds:
          name: polarsource
    dockerCommand: "poetry run arq run_worker.WorkerSettings --custom-log-dict run_worker.silent_logger_config_dict"
    region: ohio
    plan: standard
    numInstances: 1
    autoDeploy: false # deploys are triggered by github actions
    envVars:
      # PostgreSQL
      - key: POLAR_POSTGRES_USER
        fromDatabase:
          name: polar
          property: user
      - key: POLAR_POSTGRES_PWD
        fromDatabase:
          name: polar
          property: password
      - key: POLAR_POSTGRES_DATABASE
        fromDatabase:
          name: polar
          property: database
      - key: POLAR_POSTGRES_PORT
        fromDatabase:
          name: polar
          property: port
      - key: POLAR_POSTGRES_HOST
        fromDatabase:
          name: polar
          property: host

      # Redis
      - key: POLAR_REDIS_HOST
        fromService:
          type: redis
          name: polar-tasks
          property: host
      - key: POLAR_REDIS_PORT
        fromService:
          type: redis
          name: polar-tasks
          property: port

      - fromGroup: github-production
      - fromGroup: server-common
      - fromGroup: server-stripe

  - type: redis
    name: polar-tasks
    ipAllowList: [] # allow only internal connections
    plan: standard
    maxmemoryPolicy: noeviction # no-eviciton for our queue

databases:
  - name: polar
    databaseName: polar
    user: polar
    ipAllowList:
      - source: 34.90.244.142/32
        description: mason_app_1
      - source: 35.204.223.102/32
        description: mason_app_2
    plan: standard


envVarGroups:
- name: github-production
  envVars:
    - key: POLAR_GITHUB_APP_IDENTIFIER
      sync: false
    - key: POLAR_GITHUB_APP_PRIVATE_KEY
      sync: false
    - key: POLAR_GITHUB_APP_WEBHOOK_SECRET
      sync: false
    - key: POLAR_GITHUB_CLIENT_ID
      sync: false
    - key: POLAR_GITHUB_CLIENT_SECRET
      sync: false

- name: server-common
  envVars:
  - key: POLAR_GITHUB_BADGE_EMBED
    value: 1
  - key: POLAR_ENV
    value: production
  - key: POLAR_LOG_LEVEL
    value: INFO
  - key: POLAR_TESTING
    value: 0
  - key: POLAR_DEBUG
    value: 0
  - key: POLAR_FRONTEND_BASE_URL
    value: "https://polar.sh"
  - key: POLAR_SENTRY_DSN
    sync: false
  - key: POLAR_EMAIL_SENDER
    value: "sendgrid"
  - key: POLAR_SENDGRID_API_KEY
    sync: false
  - key: POLAR_BASE_URL
    value: "https://api.polar.sh/api/v1"
  - key: POLAR_DISCORD_WEBHOOK_URL
    sync: false
  - key: POLAR_POSTHOG_PROJECT_API_KEY
    sync: false

- name: server-stripe
  envVars:
  - key: POLAR_STRIPE_SECRET_KEY
    sync: false
  - key: POLAR_STRIPE_WEBHOOK_SECRET
    sync: false
