version: "1"

services:
  ################
  ## PRODUCTION ##
  ################

  # API
  - type: web
    name: api
    runtime: image
    image:
      url: ghcr.io/polarsource/polar:latest
      creds:
        fromRegistryCreds:
          name: Registry Credentials (by fvoron)
    plan: standard
    preDeployCommand: "poetry run task pre_deploy"
    region: ohio
    scaling:
      maxInstances: 3
      minInstances: 1
      targetCPUPercent: 50
      targetMemoryPercent: 75
    healthCheckPath: /readyz
    autoDeploy: false # deploys are triggered by github actions
    domains:
      - api.polar.sh
    envVars:
      - key: FORWARDED_ALLOW_IPS
        value: '*'
      - key: POLAR_ALLOWED_HOSTS
        value: '["polar.sh","docs.polar.sh"]'
      - key: POLAR_CORS_ORIGINS
        value: '["https://dashboard.polar.sh", "https://github.com" , "https://polar.sh", "https://docs.polar.sh", "https://polar-polar-sh.vercel.app"]'
      - key: POLAR_POSTGRES_DATABASE
        fromDatabase:
          name: db
          property: database
      - key: POLAR_POSTGRES_HOST
        fromDatabase:
          name: db
          property: host
      - key: POLAR_POSTGRES_PORT
        fromDatabase:
          name: db
          property: port
      - key: POLAR_POSTGRES_PWD
        fromDatabase:
          name: db
          property: password
      - key: POLAR_POSTGRES_USER
        fromDatabase:
          name: db
          property: user
      - key: POLAR_REDIS_HOST
        fromService:
          type: redis
          name: redis
          property: host
      - key: POLAR_REDIS_PORT
        fromService:
          type: redis
          name: redis
          property: port
      - key: POLAR_REDIS_DB
        value: 0
      - fromGroup: aws-s3-production
      - fromGroup: google-production
      - fromGroup: github-production
      - fromGroup: backend-production
      - fromGroup: stripe-production
      - fromGroup: logfire-server

  # Worker
  - type: worker
    name: worker
    runtime: image
    image:
      url: ghcr.io/polarsource/polar:latest
      creds:
        fromRegistryCreds:
          name: Registry Credentials (by fvoron)
    plan: standard
    dockerCommand: poetry run python -m run_worker
    region: ohio
    numInstances: 1
    autoDeploy: false # deploys are triggered by github actions
    envVars:
      - key: POLAR_POSTGRES_DATABASE
        fromDatabase:
          name: db
          property: database
      - key: POLAR_POSTGRES_HOST
        fromDatabase:
          name: db
          property: host
      - key: POLAR_POSTGRES_PORT
        fromDatabase:
          name: db
          property: port
      - key: POLAR_POSTGRES_PWD
        fromDatabase:
          name: db
          property: password
      - key: POLAR_POSTGRES_USER
        fromDatabase:
          name: db
          property: user
      - key: POLAR_REDIS_HOST
        fromService:
          type: redis
          name: redis
          property: host
      - key: POLAR_REDIS_PORT
        fromService:
          type: redis
          name: redis
          property: port
      - key: POLAR_REDIS_DB
        value: 0
      - fromGroup: google-production
      - fromGroup: github-production
      - fromGroup: backend-production
      - fromGroup: stripe-production
      - fromGroup: logfire-worker

  - type: redis
    name: redis
    plan: standard
    region: ohio
    maxmemoryPolicy: noeviction
    ipAllowList: []

  ################
  ##  SANDBOX   ##
  ################

  # API
  - type: web
    name: api-sandbox
    runtime: image
    image:
      url: ghcr.io/polarsource/polar:latest
      creds:
        fromRegistryCreds:
          name: Registry Credentials (by fvoron)
    plan: standard
    preDeployCommand: "poetry run task pre_deploy"
    region: ohio
    numInstances: 1
    healthCheckPath: /readyz
    autoDeploy: false # deploys are triggered by github actions
    domains:
      - sandbox-api.polar.sh
    envVars:
      - key: FORWARDED_ALLOW_IPS
        value: '*'
      - key: POLAR_ALLOWED_HOSTS
        value: '["sandbox.polar.sh"]'
      - key: POLAR_CORS_ORIGINS
        value: '["https://sandbox.polar.sh", "https://github.com"]'
      - key: POLAR_POSTGRES_DATABASE
        value: polar_sandbox
      - key: POLAR_POSTGRES_HOST
        fromDatabase:
          name: db
          property: host
      - key: POLAR_POSTGRES_PORT
        fromDatabase:
          name: db
          property: port
      - key: POLAR_POSTGRES_PWD
        fromDatabase:
          name: db
          property: password
      - key: POLAR_POSTGRES_USER
        fromDatabase:
          name: db
          property: user
      - key: POLAR_REDIS_HOST
        fromService:
          type: redis
          name: redis
          property: host
      - key: POLAR_REDIS_PORT
        fromService:
          type: redis
          name: redis
          property: port
      - key: POLAR_REDIS_DB
        value: 1
      - fromGroup: aws-s3-sandbox
      - fromGroup: google-sandbox
      - fromGroup: github-sandbox
      - fromGroup: backend-sandbox
      - fromGroup: stripe-sandbox

  # Worker
  - type: worker
    name: worker-sandbox
    runtime: image
    image:
      url: ghcr.io/polarsource/polar:latest
      creds:
        fromRegistryCreds:
          name: Registry Credentials (by fvoron)
    plan: standard
    dockerCommand: poetry run python -m run_worker
    region: ohio
    numInstances: 1
    autoDeploy: false # deploys are triggered by github actions
    envVars:
      - key: POLAR_POSTGRES_DATABASE
        value: polar_sandbox
      - key: POLAR_POSTGRES_HOST
        fromDatabase:
          name: db
          property: host
      - key: POLAR_POSTGRES_PORT
        fromDatabase:
          name: db
          property: port
      - key: POLAR_POSTGRES_PWD
        fromDatabase:
          name: db
          property: password
      - key: POLAR_POSTGRES_USER
        fromDatabase:
          name: db
          property: user
      - key: POLAR_REDIS_HOST
        fromService:
          type: redis
          name: redis
          property: host
      - key: POLAR_REDIS_PORT
        fromService:
          type: redis
          name: redis
          property: port
      - key: POLAR_REDIS_DB
        value: 1
      - fromGroup: google-sandbox
      - fromGroup: github-sandbox
      - fromGroup: backend-sandbox
      - fromGroup: stripe-sandbox

databases:
  - name: db
    databaseName: polar_cpit
    user: polar_cpit_user
    plan: standard
    region: ohio
    postgresMajorVersion: "15"
    readReplicas:
    - name: polar-replica

envVarGroups:
  - name: google-production
    envVars:
      - key: POLAR_GOOGLE_CLIENT_ID
        sync: false
      - key: POLAR_GOOGLE_CLIENT_SECRET
        sync: false

  - name: backend-production
    envVars:
      - key: POLAR_AUTH_COOKIE_DOMAIN
        value: polar.sh
      - key: POLAR_BASE_URL
        value: https://api.polar.sh/v1
      - key: POLAR_CURRENT_JWK_KID
        sync: false
      - key: POLAR_DEBUG
        value: 0
      - key: POLAR_DISCORD_BOT_TOKEN
        sync: false
      - key: POLAR_DISCORD_CLIENT_ID
        sync: false
      - key: POLAR_DISCORD_CLIENT_SECRET
        sync: false
      - key: POLAR_DISCORD_WEBHOOK_URL
        sync: false
      - key: POLAR_EMAIL_SENDER
        value: resend
      - key: POLAR_EMAIL_FROM_NAME
        value: Polar
      - key: POLAR_EMAIL_FROM_EMAIL_ADDRESS
        value: noreply@notifications.polar.sh
      - key: POLAR_ENV
        value: production
      - key: POLAR_FRONTEND_BASE_URL
        value: https://polar.sh
      - key: POLAR_GITHUB_APP_NAMESPACE
        value: polar-sh
      - key: POLAR_GITHUB_BADGE_EMBED
        value: 1
      - key: POLAR_GITHUB_POLAR_USER_ACCESS_TOKEN
        sync: false
      - key: POLAR_JWKS
        value: /etc/secrets/jwks.json
      - key: POLAR_LOG_LEVEL
        value: INFO
      - key: POLAR_LOOPS_API_KEY
        sync: false
      - key: POLAR_POSTHOG_PROJECT_API_KEY
        sync: false
      - key: POLAR_RESEND_API_KEY
        sync: false
      - key: POLAR_SECRET
        sync: false
      - key: POLAR_SENTRY_DSN
        sync: false
      - key: POLAR_TESTING
        value: 0

  - name: aws-s3-production
    envVars:
      - key: POLAR_AWS_ACCESS_KEY_ID
        sync: false
      - key: POLAR_AWS_REGION
        value: us-east-2
      - key: POLAR_AWS_SECRET_ACCESS_KEY
        sync: false
      - key: POLAR_AWS_SIGNATURE_VERSION
        value: v4
      - key: POLAR_S3_FILES_BUCKET_NAME
        value: polar-production-files
      - key: POLAR_S3_FILES_DOWNLOAD_SALT
        sync: false
      - key: POLAR_S3_FILES_DOWNLOAD_SECRET
        sync: false
      - key: POLAR_S3_FILES_PRESIGN_TTL
        value: 600
      - key: POLAR_S3_FILES_PUBLIC_BUCKET_NAME
        value: polar-public-files

  - name: github-production
    envVars:
      - key: POLAR_GITHUB_APP_IDENTIFIER
        sync: false
      - key: POLAR_GITHUB_APP_PRIVATE_KEY
        sync: false
      - key: POLAR_GITHUB_APP_WEBHOOK_SECRET
        sync: false
      - key: POLAR_GITHUB_CLIENT_ID
        sync: false
      - key: POLAR_GITHUB_CLIENT_SECRET
        sync: false
      - key: POLAR_GITHUB_REPOSITORY_BENEFITS_APP_IDENTIFIER
        sync: false
      - key: POLAR_GITHUB_REPOSITORY_BENEFITS_APP_NAMESPACE
        sync: false
      - key: POLAR_GITHUB_REPOSITORY_BENEFITS_APP_PRIVATE_KEY
        sync: false
      - key: POLAR_GITHUB_REPOSITORY_BENEFITS_CLIENT_ID
        sync: false
      - key: POLAR_GITHUB_REPOSITORY_BENEFITS_CLIENT_SECRET
        sync: false

  - name: stripe-production
    envVars:
      - key: POLAR_STRIPE_CONNECT_WEBHOOK_SECRET
        sync: false
      - key: POLAR_STRIPE_SECRET_KEY
        sync: false
      - key: POLAR_STRIPE_WEBHOOK_SECRET
        sync: false

  - name: google-sandbox
    envVars:
      - key: POLAR_GOOGLE_CLIENT_ID
        sync: false
      - key: POLAR_GOOGLE_CLIENT_SECRET
        sync: false

  - name: backend-sandbox
    envVars:
      - key: POLAR_AUTH_COOKIE_KEY
        value: polar_sandbox_session
      - key: POLAR_AUTH_COOKIE_DOMAIN
        value: polar.sh
      - key: POLAR_BASE_URL
        value: https://sandbox-api.polar.sh/v1
      - key: POLAR_CURRENT_JWK_KID
        sync: false
      - key: POLAR_DEBUG
        value: 0
      - key: POLAR_DISCORD_BOT_TOKEN
        sync: false
      - key: POLAR_DISCORD_CLIENT_ID
        sync: false
      - key: POLAR_DISCORD_CLIENT_SECRET
        sync: false
      - key: POLAR_DISCORD_WEBHOOK_URL
        sync: false
      - key: POLAR_EMAIL_SENDER
        value: resend
      - key: POLAR_EMAIL_FROM_NAME
        value: "[SANDBOX] Polar"
      - key: POLAR_EMAIL_FROM_EMAIL_ADDRESS
        value: noreply@notifications.sandbox.polar.sh
      - key: POLAR_ENV
        value: sandbox
      - key: POLAR_FRONTEND_BASE_URL
        value: https://sandbox.polar.sh
      - key: POLAR_GITHUB_APP_NAMESPACE
        value: polar-sandbox
      - key: POLAR_GITHUB_BADGE_EMBED
        value: 1
      - key: POLAR_GITHUB_POLAR_USER_ACCESS_TOKEN
        sync: false
      - key: POLAR_JWKS
        value: /etc/secrets/jwks.json
      - key: POLAR_LOG_LEVEL
        value: INFO
      - key: POLAR_LOOPS_API_KEY
        sync: false
      - key: POLAR_POSTHOG_PROJECT_API_KEY
        sync: false
      - key: POLAR_RESEND_API_KEY
        sync: false
      - key: POLAR_SECRET
        sync: false
      - key: POLAR_SENTRY_DSN
        sync: false
      - key: POLAR_TESTING
        value: 0

  - name: aws-s3-sandbox
    envVars:
      - key: POLAR_AWS_ACCESS_KEY_ID
        sync: false
      - key: POLAR_AWS_REGION
        value: us-east-2
      - key: POLAR_AWS_SECRET_ACCESS_KEY
        sync: false
      - key: POLAR_AWS_SIGNATURE_VERSION
        value: v4
      - key: POLAR_S3_FILES_BUCKET_NAME
        value: polar-sandbox-files
      - key: POLAR_S3_FILES_DOWNLOAD_SALT
        sync: false
      - key: POLAR_S3_FILES_DOWNLOAD_SECRET
        sync: false
      - key: POLAR_S3_FILES_PRESIGN_TTL
        value: 600
      - key: POLAR_S3_FILES_PUBLIC_BUCKET_NAME
        value: polar-public-sandbox-files

  - name: github-sandbox
    envVars:
      - key: POLAR_GITHUB_APP_IDENTIFIER
        sync: false
      - key: POLAR_GITHUB_APP_PRIVATE_KEY
        sync: false
      - key: POLAR_GITHUB_APP_WEBHOOK_SECRET
        sync: false
      - key: POLAR_GITHUB_CLIENT_ID
        sync: false
      - key: POLAR_GITHUB_CLIENT_SECRET
        sync: false
      - key: POLAR_GITHUB_REPOSITORY_BENEFITS_APP_IDENTIFIER
        sync: false
      - key: POLAR_GITHUB_REPOSITORY_BENEFITS_APP_NAMESPACE
        sync: false
      - key: POLAR_GITHUB_REPOSITORY_BENEFITS_APP_PRIVATE_KEY
        sync: false
      - key: POLAR_GITHUB_REPOSITORY_BENEFITS_CLIENT_ID
        sync: false
      - key: POLAR_GITHUB_REPOSITORY_BENEFITS_CLIENT_SECRET
        sync: false

  - name: stripe-sandbox
    envVars:
      - key: POLAR_STRIPE_CONNECT_WEBHOOK_SECRET
        sync: false
      - key: POLAR_STRIPE_SECRET_KEY
        sync: false
      - key: POLAR_STRIPE_WEBHOOK_SECRET
        sync: false

  - name: logfire-server
    envVars:
      - key: POLAR_LOGFIRE_PROJECT_NAME
        sync: false
      - key: POLAR_LOGFIRE_TOKEN
        sync: false

  - name: logfire-worker
    envVars:
      - key: POLAR_LOGFIRE_PROJECT_NAME
        sync: false
      - key: POLAR_LOGFIRE_TOKEN
        sync: false
