@layer base {
  :root {
    --ds-background-primary: oklch(0.623 0.214 259.815);
    --ds-background-secondary: oklch(0.967 0.003 264.542);

    --ds-text-primary: oklch(0.21 0.034 264.665);
    --ds-text-secondary: oklch(0.551 0.027 264.364);

    --ds-border-primary: oklch(0.928 0.006 264.531);
    --ds-border-secondary: oklch(0.967 0.003 264.542);
  }

  :root.dark,
  .dark {
    --ds-background-primary: oklch(0.623 0.214 259.815);
    --ds-background-secondary: hsl(233, 6%, 12%);

    --ds-text-primary: #ffffff;
    --ds-text-secondary: hsl(233, 6%, 52%);

    --ds-border-primary: hsl(233, 6%, 12%);
    --ds-border-secondary: hsl(233, 6%, 9.5%);
  }
}
