[Unit]
Description=Process preview infra triggers
StartLimitIntervalSec=60
StartLimitBurst=30

[Service]
Type=oneshot
ExecStart=/srv/preview-tools/process-preview-triggers.sh
