PledgesIssueScreen {
  layout: grid;
  grid-size: 2 1;
  grid-gutter: 1;
}

PledgeContainer Static.header {
  height: 1;
  background: $primary;
  color: auto;
  content-align: center middle;
  text-style: bold
}
PledgeContainer Container.info {
  layout: grid;
  grid-size: 2 2;
  height: 5;
  background: $boost;
}
PledgeContainer Digits.amount {
  row-span: 2;
  width: 100%;
  height: 100%;
  text-align: center;
  content-align: center middle;
}
