@tailwind base;
@tailwind components;
@tailwind utilities;

@import './commandk.scss';

@layer base {
  html {
    @apply text-gray-900
  }

  html.dark {
    @apply text-gray-200
  }
}

#polar-bg-gradient {
  font-size: 12px;
  font-family: sans-serif;
  --token-de3bbe02-efef-4dfe-a362-f6d5715de8ac: rgb(209, 223, 242);
  --token-58f5305f-65b1-4075-86f8-f9ee69a3e917: #fefdf9;
  --token-ec1cd941-31b3-45e1-ad4c-e85325e1620f: rgb(70, 103, 202);
  --token-8c1bdbf3-9c17-469a-9d0d-53b702bebc4c: rgb(114, 115, 116);
  --token-6d46fd94-9194-4d41-ac1f-b299fb0439bf: #303f78;
  --token-7ea07a0f-ce97-4e5e-8a32-a0ab2739dff4: rgb(70, 103, 202);
  --token-60634839-9e8c-4342-af21-7bacb8b78d0e: rgb(165, 194, 235);
  --framer-aspect-ratio-supported: auto;
  box-sizing: border-box;
  -webkit-font-smoothing: inherit;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #fcf0ec 0%,
    rgba(252, 240, 236, 0) 100%
  );
  flex: none;
  height: 1284px;
  left: calc(22.883597883597908% - 1344px / 2);
  mix-blend-mode: multiply;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  top: -405px;
  width: 1344px;
  z-index: 10;
}

@media(max-width:420px){
  #polar-bg-gradient{
    left: calc(22.883597883597908% - 500px);
    height: 140vh;
    width:200vw;
  }
}

