@import 'tailwindcss';
@import 'tw-animate-css';

@source '../../../../packages/ui/src';
@source '../../../../packages/checkout/src';

@plugin '@tailwindcss/forms';
@plugin 'tailwindcss-radix';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --shadow-md: 0 0px 15px rgba(0 0 0 / 0.04), 0 0px 2px rgba(0 0 0 / 0.06);
  --shadow-lg: 0 0px 20px rgba(0 0 0 / 0.04), 0 0px 5px rgba(0 0 0 / 0.06);
  --shadow-xl: 0 0px 30px rgba(0 0 0 / 0.04), 0 0px 10px rgba(0 0 0 / 0.06);
  --shadow-3xl: 0 0 50px rgba(0 0 0 / 0.02), 0 0 50px rgba(0 0 0 / 0.04);

  --font-sans: var(--font-geist-sans), sans-serif;
  --font-mono: var(--font-geist-mono), monospace;

  --text-xxs: 0.65rem;

  --color-blue-50: oklch(0.97 0.014 254.604);
  --color-blue-100: oklch(0.932 0.032 255.585);
  --color-blue-200: oklch(0.882 0.059 254.128);
  --color-blue-300: oklch(0.809 0.105 251.813);
  --color-blue-400: oklch(0.707 0.165 254.624);
  --color-blue-500: oklch(0.623 0.214 259.815);
  --color-blue-600: oklch(0.546 0.245 262.881);
  --color-blue-700: oklch(0.488 0.243 264.376);
  --color-blue-800: oklch(0.424 0.199 265.638);
  --color-blue-900: oklch(0.379 0.146 265.522);
  --color-blue-950: oklch(0.282 0.091 267.935);
  --color-blue: var(--color-blue-600);

  --color-green-50: oklch(0.979 0.021 166.113);
  --color-green-100: oklch(0.95 0.052 163.051);
  --color-green-200: oklch(0.905 0.093 164.15);
  --color-green-300: oklch(0.845 0.143 164.978);
  --color-green-400: oklch(0.765 0.177 163.223);
  --color-green-500: oklch(0.696 0.17 162.48);
  --color-green-600: oklch(0.596 0.145 163.225);
  --color-green-700: oklch(0.508 0.118 165.612);
  --color-green-800: oklch(0.432 0.095 166.913);
  --color-green-900: oklch(0.378 0.077 168.94);
  --color-green-950: oklch(0.262 0.051 172.552);

  --color-red-50: oklch(0.971 0.013 17.38);
  --color-red-100: oklch(0.936 0.032 17.717);
  --color-red-200: oklch(0.885 0.062 18.334);
  --color-red-300: oklch(0.808 0.114 19.571);
  --color-red-400: oklch(0.704 0.191 22.216);
  --color-red-500: oklch(0.637 0.237 25.331);
  --color-red-600: oklch(0.577 0.245 27.325);
  --color-red-700: oklch(0.505 0.213 27.518);
  --color-red-800: oklch(0.444 0.177 26.899);
  --color-red-900: oklch(0.396 0.141 25.723);
  --color-red-950: oklch(0.258 0.092 26.042);

  --color-gray-50: oklch(0.985 0.002 247.839);
  --color-gray-100: oklch(0.967 0.003 264.542);
  --color-gray-200: oklch(0.928 0.006 264.531);
  --color-gray-300: oklch(0.872 0.01 258.338);
  --color-gray-400: oklch(0.707 0.022 261.325);
  --color-gray-500: oklch(0.551 0.027 264.364);
  --color-gray-600: oklch(0.446 0.03 256.802);
  --color-gray-700: oklch(0.373 0.034 259.733);
  --color-gray-800: oklch(0.278 0.033 256.848);
  --color-gray-900: oklch(0.21 0.034 264.665);
  --color-gray-950: oklch(0.13 0.028 261.692);

  --color-polar-50: hsl(233, 5%, 85%);
  --color-polar-100: hsl(233, 5%, 79%);
  --color-polar-200: hsl(233, 5%, 68%);
  --color-polar-300: hsl(233, 5%, 62%);
  --color-polar-400: hsl(233, 5%, 52%);
  --color-polar-500: hsl(233, 5%, 46%);
  --color-polar-600: hsl(233, 5%, 24%);
  --color-polar-700: hsl(233, 5%, 12%);
  --color-polar-800: hsl(233, 5%, 9.5%);
  --color-polar-900: hsl(233, 5%, 6.5%);
  --color-polar-950: hsl(233, 5%, 3%);

  /* shadcn */
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-sidebar: var(--sidebar-background);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-4xl: 2rem;

  @keyframes accordion-down {
    0%: {
      height: 0;
    }
    100% {
      height: 'var(--radix-accordion-content-height)';
    }
  }

  @keyframes accordion-up {
    0% {
      height: 'var(--radix-accordion-content-height)';
    }
    100% {
      height: 0;
    }
  }

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
}

@layer base {
  html {
    @apply text-gray-900;
  }

  html.dark {
    @apply text-gray-200;
  }

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--border);
  }

  body {
    color: var(--foreground);
  }
}

@media (prefers-color-scheme: light) {
  img[src$='#gh-dark-mode-only'],
  img[src$='#only-dark'] {
    display: none;
  }
}

/* Dark mode */

#polar-bg-gradient {
  height: 100vh;
  width: 100vw;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  background: radial-gradient(
    50% 50% at 50% 50%,
    #fcf0ec 0%,
    rgba(252, 240, 236, 0) 100%
  );
  background-size: 1344px 1284px;
  background-position-y: -405px;
  background-position-x: -405px;
  background-repeat: no-repeat;

  pointer-events: none;

  --token-de3bbe02-efef-4dfe-a362-f6d5715de8ac: rgb(209, 223, 242);
  --token-58f5305f-65b1-4075-86f8-f9ee69a3e917: #fefdf9;
  --token-ec1cd941-31b3-45e1-ad4c-e85325e1620f: rgb(70, 103, 202);
  --token-8c1bdbf3-9c17-469a-9d0d-53b702bebc4c: rgb(114, 115, 116);
  --token-6d46fd94-9194-4d41-ac1f-b299fb0439bf: #303f78;
  --token-7ea07a0f-ce97-4e5e-8a32-a0ab2739dff4: rgb(70, 103, 202);
  --token-60634839-9e8c-4342-af21-7bacb8b78d0e: rgb(165, 194, 235);
  --framer-aspect-ratio-supported: auto;
  box-sizing: border-box;
  -webkit-font-smoothing: inherit;
  mix-blend-mode: multiply;
  overflow: hidden;
}

@media (max-width: 420px) {
  #polar-bg-gradient {
    left: calc(22.883597883597908% - 500px);
    height: 140vh;
    width: 200vw;
  }
}

/* shadcn/ui */

@layer base {
  :root {
    --background: var(--color-gray-50);
    --foreground: var(--color-gray-900);

    --card: var(--color-white);
    --card-foreground: var(--color-gray-900);

    --popover: var(--color-white);
    --popover-foreground: hsl(224 71.4% 4.1%);

    --sidebar-background: var(--color-gray-100);
    --sidebar-foreground: var(--color-gray-900);
    --sidebar-primary: var(--color-blue);
    --sidebar-primary-foreground: var(--color-gray-50);
    --sidebar-border: var(--color-gray-300);

    --primary: var(--color-blue);
    --primary-foreground: var(--color-gray-50);

    --secondary: var(--color-gray-100);
    --secondary-foreground: var(--color-gray-900);

    --muted: var(--color-gray-100);
    --muted-foreground: var(--color-gray-500);

    --accent: var(--color-blue);
    --accent-foreground: var(--color-white);

    --destructive: var(--color-red-500);
    --destructive-foreground: var(--color-red-600);

    --border: var(--color-gray-200);
    --input: var(--color-gray-200);
    --ring: var(--color-gray-200);
    --radius: 0.6rem;
  }

  :root.dark {
    --background: var(--color-polar-800);
    --foreground: var(--color-polar-500);

    --card: var(--color-polar-800);
    --card-foreground: var(--color-polar-50);

    --popover: var(--color-polar-900);
    --popover-foreground: var(--color-polar-50);

    --sidebar-background: var(--color-polar-950);
    --sidebar-foreground: var(--color-polar-50);
    --sidebar-primary: var(--color-blue);
    --sidebar-primary-foreground: var(--color-polar-50);
    --sidebar-border: var(--color-polar-700);

    --primary: var(--color-blue);
    --primary-foreground: var(--color-polar-50);

    --secondary: var(--color-polar-900);
    --secondary-foreground: var(--color-polar-50);

    --muted: var(--color-polar-700);
    --muted-foreground: var(--color-polar-500);

    --accent: var(--color-blue);
    --accent-foreground: var(--color-polar-50);

    --destructive: var(--color-red-500);
    --destructive-foreground: var(--color-red-500);

    --border: var(--color-polar-700);
    --input: var(--color-polar-700);
    --ring: var(--color-polar-700);
  }
}

pre.shiki {
  overflow: auto;
  background-color: transparent !important;

  :not(.dark) .prose-pre\:bg-gray-100 & {
    background-color: var(--color-gray-100) !important;
  }

  .dark .dark\:prose-pre\:bg-polar-800 & {
    background-color: var(--color-polar-800) !important;
  }
}

@media (prefers-color-scheme: dark) {
  .shiki,
  .shiki span {
    color: var(--shiki-dark) !important;
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }
}
