interactions:
- request:
    body: ''
    headers:
      x-github-api-version:
      - '2022-11-28'
    method: GET
    uri: https://api.github.com/user
  response:
    content: '{"login":"zegl","id":47952,"node_id":"MDQ6VXNlcjQ3OTUy","avatar_url":"https://avatars.githubusercontent.com/u/47952?v=4","gravatar_id":"","url":"https://api.github.com/users/zegl","html_url":"https://github.com/zegl","followers_url":"https://api.github.com/users/zegl/followers","following_url":"https://api.github.com/users/zegl/following{/other_user}","gists_url":"https://api.github.com/users/zegl/gists{/gist_id}","starred_url":"https://api.github.com/users/zegl/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/zegl/subscriptions","organizations_url":"https://api.github.com/users/zegl/orgs","repos_url":"https://api.github.com/users/zegl/repos","events_url":"https://api.github.com/users/zegl/events{/privacy}","received_events_url":"https://api.github.com/users/zegl/received_events","type":"User","site_admin":false,"name":"Gustav
      Westling","company":"@polarsource","blog":"https://westling.dev","location":"Stockholm,
      Sweden","email":"gustav@westling.dev","hireable":true,"bio":null,"twitter_username":"zegl","public_repos":117,"public_gists":4,"followers":123,"following":29,"created_at":"2009-01-20T14:23:04Z","updated_at":"2023-05-16T07:20:00Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"7a7f73ba9239dc668d00c5fb8ed4f240da59c5bad895815b3878a88139703ed3"
      Last-Modified:
      - Tue, 16 May 2023 07:20:00 GMT
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-OAuth-Scopes:
      - ''
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4999'
      X-RateLimit-Reset:
      - '1684242633'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '1'
      github-authentication-token-expiration:
      - 2023-05-16 17:36:38 UTC
      x-github-api-version-selected:
      - '2022-11-28'
      x-oauth-client-id:
      - Iv1.fb186c7be5b3b76b
    status_code: 200
- request:
    body: ''
    headers:
      x-github-api-version:
      - '2022-11-28'
    method: GET
    uri: https://api.github.com/user/installations?per_page=100&page=1
  response:
    content: '{"total_count":4,"installations":[{"id":37565459,"account":{"login":"zegl","id":47952,"node_id":"MDQ6VXNlcjQ3OTUy","avatar_url":"https://avatars.githubusercontent.com/u/47952?v=4","gravatar_id":"","url":"https://api.github.com/users/zegl","html_url":"https://github.com/zegl","followers_url":"https://api.github.com/users/zegl/followers","following_url":"https://api.github.com/users/zegl/following{/other_user}","gists_url":"https://api.github.com/users/zegl/gists{/gist_id}","starred_url":"https://api.github.com/users/zegl/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/zegl/subscriptions","organizations_url":"https://api.github.com/users/zegl/orgs","repos_url":"https://api.github.com/users/zegl/repos","events_url":"https://api.github.com/users/zegl/events{/privacy}","received_events_url":"https://api.github.com/users/zegl/received_events","type":"User","site_admin":false},"repository_selection":"selected","access_tokens_url":"https://api.github.com/app/installations/37565459/access_tokens","repositories_url":"https://api.github.com/installation/repositories","html_url":"https://github.com/settings/installations/37565459","app_id":297796,"app_slug":"polar-gustav-development","target_id":47952,"target_type":"User","permissions":{"issues":"write","contents":"read","metadata":"read","pull_requests":"write","actions_variables":"read"},"events":["issues","issue_comment","label","pull_request","pull_request_review","pull_request_review_comment","pull_request_review_thread"],"created_at":"2023-05-16T11:36:37.000+02:00","updated_at":"2023-05-16T11:36:38.000+02:00","single_file_name":null,"has_multiple_single_files":false,"single_file_paths":[],"suspended_by":null,"suspended_at":null},{"id":37401399,"account":{"login":"zegloforko","id":39970518,"node_id":"MDEyOk9yZ2FuaXphdGlvbjM5OTcwNTE4","avatar_url":"https://avatars.githubusercontent.com/u/39970518?v=4","gravatar_id":"","url":"https://api.github.com/users/zegloforko","html_url":"https://github.com/zegloforko","followers_url":"https://api.github.com/users/zegloforko/followers","following_url":"https://api.github.com/users/zegloforko/following{/other_user}","gists_url":"https://api.github.com/users/zegloforko/gists{/gist_id}","starred_url":"https://api.github.com/users/zegloforko/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/zegloforko/subscriptions","organizations_url":"https://api.github.com/users/zegloforko/orgs","repos_url":"https://api.github.com/users/zegloforko/repos","events_url":"https://api.github.com/users/zegloforko/events{/privacy}","received_events_url":"https://api.github.com/users/zegloforko/received_events","type":"Organization","site_admin":false},"repository_selection":"all","access_tokens_url":"https://api.github.com/app/installations/37401399/access_tokens","repositories_url":"https://api.github.com/installation/repositories","html_url":"https://github.com/organizations/zegloforko/settings/installations/37401399","app_id":297796,"app_slug":"polar-gustav-development","target_id":39970518,"target_type":"Organization","permissions":{"issues":"write","members":"read","contents":"read","metadata":"read","pull_requests":"write","actions_variables":"read","organization_events":"read"},"events":["issues","issue_comment","label","pull_request","pull_request_review","pull_request_review_comment","pull_request_review_thread"],"created_at":"2023-05-11T17:11:20.000+02:00","updated_at":"2023-05-11T17:11:21.000+02:00","single_file_name":null,"has_multiple_single_files":false,"single_file_paths":[],"suspended_by":null,"suspended_at":null},{"id":35722796,"account":{"login":"zegl-testar","id":51095802,"node_id":"MDQ6VXNlcjUxMDk1ODAy","avatar_url":"https://avatars.githubuserconte[...]
- request:
    body: ''
    headers:
      x-github-api-version:
      - '2022-11-28'
    method: GET
    uri: https://api.github.com/user/installations?per_page=100&page=2
  response:
    content: '{"total_count":4,"installations":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"2c0642c295c547d21ce90ec8531cff9e694391a987ec633b1c8d62f642213a15"
      Link:
      - <https://api.github.com/user/installations?per_page=100&page=1>; rel="prev",
        <https://api.github.com/user/installations?per_page=100&page=1>; rel="last",
        <https://api.github.com/user/installations?per_page=100&page=1>; rel="first"
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-OAuth-Scopes:
      - ''
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4997'
      X-RateLimit-Reset:
      - '1684242633'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '3'
      github-authentication-token-expiration:
      - 2023-05-16 17:36:38 UTC
      x-github-api-version-selected:
      - '2022-11-28'
      x-oauth-client-id:
      - Iv1.fb186c7be5b3b76b
    status_code: 200
- request:
    body: ''
    headers:
      x-github-api-version:
      - '2022-11-28'
    method: GET
    uri: https://api.github.com/installation/repositories?per_page=30&page=1
  response:
    content: '{"total_count":1,"repository_selection":"selected","repositories":[{"id":607571037,"node_id":"R_kgDOJDbMXQ","name":"polartest","full_name":"zegl/polartest","private":true,"owner":{"login":"zegl","id":47952,"node_id":"MDQ6VXNlcjQ3OTUy","avatar_url":"https://avatars.githubusercontent.com/u/47952?v=4","gravatar_id":"","url":"https://api.github.com/users/zegl","html_url":"https://github.com/zegl","followers_url":"https://api.github.com/users/zegl/followers","following_url":"https://api.github.com/users/zegl/following{/other_user}","gists_url":"https://api.github.com/users/zegl/gists{/gist_id}","starred_url":"https://api.github.com/users/zegl/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/zegl/subscriptions","organizations_url":"https://api.github.com/users/zegl/orgs","repos_url":"https://api.github.com/users/zegl/repos","events_url":"https://api.github.com/users/zegl/events{/privacy}","received_events_url":"https://api.github.com/users/zegl/received_events","type":"User","site_admin":false},"html_url":"https://github.com/zegl/polartest","description":null,"fork":false,"url":"https://api.github.com/repos/zegl/polartest","forks_url":"https://api.github.com/repos/zegl/polartest/forks","keys_url":"https://api.github.com/repos/zegl/polartest/keys{/key_id}","collaborators_url":"https://api.github.com/repos/zegl/polartest/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/zegl/polartest/teams","hooks_url":"https://api.github.com/repos/zegl/polartest/hooks","issue_events_url":"https://api.github.com/repos/zegl/polartest/issues/events{/number}","events_url":"https://api.github.com/repos/zegl/polartest/events","assignees_url":"https://api.github.com/repos/zegl/polartest/assignees{/user}","branches_url":"https://api.github.com/repos/zegl/polartest/branches{/branch}","tags_url":"https://api.github.com/repos/zegl/polartest/tags","blobs_url":"https://api.github.com/repos/zegl/polartest/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/zegl/polartest/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/zegl/polartest/git/refs{/sha}","trees_url":"https://api.github.com/repos/zegl/polartest/git/trees{/sha}","statuses_url":"https://api.github.com/repos/zegl/polartest/statuses/{sha}","languages_url":"https://api.github.com/repos/zegl/polartest/languages","stargazers_url":"https://api.github.com/repos/zegl/polartest/stargazers","contributors_url":"https://api.github.com/repos/zegl/polartest/contributors","subscribers_url":"https://api.github.com/repos/zegl/polartest/subscribers","subscription_url":"https://api.github.com/repos/zegl/polartest/subscription","commits_url":"https://api.github.com/repos/zegl/polartest/commits{/sha}","git_commits_url":"https://api.github.com/repos/zegl/polartest/git/commits{/sha}","comments_url":"https://api.github.com/repos/zegl/polartest/comments{/number}","issue_comment_url":"https://api.github.com/repos/zegl/polartest/issues/comments{/number}","contents_url":"https://api.github.com/repos/zegl/polartest/contents/{+path}","compare_url":"https://api.github.com/repos/zegl/polartest/compare/{base}...{head}","merges_url":"https://api.github.com/repos/zegl/polartest/merges","archive_url":"https://api.github.com/repos/zegl/polartest/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/zegl/polartest/downloads","issues_url":"https://api.github.com/repos/zegl/polartest/issues{/number}","pulls_url":"https://api.github.com/repos/zegl/polartest/pulls{/number}","milestones_url":"https://api.github.com/repos/zegl/polartest/milestones{/number}","notifications_url":"https://api.github.com/repos/zegl/polartest/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/zegl/polartest/labels{/name}","releases_url":"https://api.github.com/repos/zegl/polartest/releases{/id}","deployments_url":"https://api.github.com/repos/zegl/polartest/deployments","created_at":"2023-02-28T08:39:34Z","updated_at":"2023-05-11T15:04:39Z","pushed_at":"2023-05-12T12:43:15Z","git_url":"git://github.com/zegl/polartest.git","ssh_url":"git@github.com:zegl/polartest.git","clone_url":"https://github.com/zegl/polartest.git","svn_url":"https://github.com/zegl/polartest","homepage":null,"size":11,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"has_discussions":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":170,"license":null,"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"private","forks":0,"open_issues":170,"watchers":0,"default_branch":"main","permissions":{"admin":false,"maintain":false,"push":false,"triage":false,"pull":false}}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"946e8f7430f3873be994f0ab41801c0e086689ce219ced8e8a6b7c1b42f27e1d"
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4989'
      X-RateLimit-Reset:
      - '1684241822'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '11'
      x-github-api-version-selected:
      - '2022-11-28'
    status_code: 200
- request:
    body: ''
    headers:
      x-github-api-version:
      - '2022-11-28'
    method: GET
    uri: https://api.github.com/repos/zegl/polartest/issues?state=open&sort=updated&direction=desc&per_page=30&page=1
  response:
    content: '[{"url":"https://api.github.com/repos/zegl/polartest/issues/179","repository_url":"https://api.github.com/repos/zegl/polartest","labels_url":"https://api.github.com/repos/zegl/polartest/issues/179/labels{/name}","comments_url":"https://api.github.com/repos/zegl/polartest/issues/179/comments","events_url":"https://api.github.com/repos/zegl/polartest/issues/179/events","html_url":"https://github.com/zegl/polartest/pull/179","id":1707570829,"node_id":"PR_kwDOJDbMXc5QYo3Q","number":179,"title":"Update
      README.md","user":{"login":"zegl","id":47952,"node_id":"MDQ6VXNlcjQ3OTUy","avatar_url":"https://avatars.githubusercontent.com/u/47952?v=4","gravatar_id":"","url":"https://api.github.com/users/zegl","html_url":"https://github.com/zegl","followers_url":"https://api.github.com/users/zegl/followers","following_url":"https://api.github.com/users/zegl/following{/other_user}","gists_url":"https://api.github.com/users/zegl/gists{/gist_id}","starred_url":"https://api.github.com/users/zegl/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/zegl/subscriptions","organizations_url":"https://api.github.com/users/zegl/orgs","repos_url":"https://api.github.com/users/zegl/repos","events_url":"https://api.github.com/users/zegl/events{/privacy}","received_events_url":"https://api.github.com/users/zegl/received_events","type":"User","site_admin":false},"labels":[],"state":"open","locked":false,"assignee":null,"assignees":[],"milestone":null,"comments":0,"created_at":"2023-05-12T12:43:14Z","updated_at":"2023-05-12T12:43:14Z","closed_at":null,"author_association":"OWNER","active_lock_reason":null,"draft":false,"pull_request":{"url":"https://api.github.com/repos/zegl/polartest/pulls/179","html_url":"https://github.com/zegl/polartest/pull/179","diff_url":"https://github.com/zegl/polartest/pull/179.diff","patch_url":"https://github.com/zegl/polartest/pull/179.patch","merged_at":null},"body":"Fixes
      #168 ","reactions":{"url":"https://api.github.com/repos/zegl/polartest/issues/179/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"timeline_url":"https://api.github.com/repos/zegl/polartest/issues/179/timeline","performed_via_github_app":null,"state_reason":null},{"url":"https://api.github.com/repos/zegl/polartest/issues/154","repository_url":"https://api.github.com/repos/zegl/polartest","labels_url":"https://api.github.com/repos/zegl/polartest/issues/154/labels{/name}","comments_url":"https://api.github.com/repos/zegl/polartest/issues/154/comments","events_url":"https://api.github.com/repos/zegl/polartest/issues/154/events","html_url":"https://github.com/zegl/polartest/issues/154","id":1686606458,"node_id":"I_kwDOJDbMXc5kh5J6","number":154,"title"[...]
[...]
- request:
    body: ''
    headers:
      x-github-api-version:
      - '2022-11-28'
    method: GET
    uri: https://api.github.com/repos/zegl/polartest/pulls?state=open&sort=updated&direction=desc&per_page=30&page=1
  response:
    content: '[{"url":"https://api.github.com/repos/zegl/polartest/pulls/179","id":1348636112,"node_id":"PR_kwDOJDbMXc5QYo3Q","html_url":"https://github.com/zegl/polartest/pull/179","diff_url":"https://github.com/zegl/polartest/pull/179.diff","patch_url":"https://github.com/zegl/polartest/pull/179.patch","issue_url":"https://api.github.com/repos/zegl/polartest/issues/179","number":179,"state":"open","locked":false,"title":"Update
      README.md","user":{"login":"zegl","id":47952,"node_id":"MDQ6VXNlcjQ3OTUy","avatar_url":"https://avatars.githubusercontent.com/u/47952?v=4","gravatar_id":"","url":"https://api.github.com/users/zegl","html_url":"https://github.com/zegl","followers_url":"https://api.github.com/users/zegl/followers","following_url":"https://api.github.com/users/zegl/following{/other_user}","gists_url":"https://api.github.com/users/zegl/gists{/gist_id}","starred_url":"https://api.github.com/users/zegl/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/zegl/subscriptions","organizations_url":"https://api.github.com/users/zegl/orgs","repos_url":"https://api.github.com/users/zegl/repos","events_url":"https://api.github.com/users/zegl/events{/privacy}","received_events_url":"https://api.github.com/users/zegl/received_events","type":"User","site_admin":false},"body":"Fixes
      #168 ","created_at":"2023-05-12T12:43:14Z","updated_at":"2023-05-12T12:43:14Z","closed_at":null,"merged_at":null,"merge_commit_sha":"00c25ef9045b61a229908f775b7dc209c7292a3b","assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/zegl/polartest/pulls/179/commits","review_comments_url":"https://api.github.com/repos/zegl/polartest/pulls/179/comments","review_comment_url":"https://api.github.com/repos/zegl/polartest/pulls/comments{/number}","comments_url":"https://api.github.com/repos/zegl/polartest/issues/179/comments","statuses_url":"https://api.github.com/repos/zegl/polartest/statuses/c2bfe1db4719a57bb9e127bb2a515f34794a3a49","head":{"label":"zegl:zegl-patch-9","ref":"zegl-patch-9","sha":"c2bfe1db4719a57bb9e127bb2a515f34794a3a49","user":{"login":"zegl","id":47952,"node_id":"MDQ6VXNlcjQ3OTUy","avatar_url":"https://avatars.githubusercontent.com/u/47952?v=4","gravatar_id":"","url":"https://api.github.com/users/zegl","html_url":"https://github.com/zegl","followers_url":"https://api.github.com/users/zegl/followers","following_url":"https://api.github.com/users/zegl/following{/other_user}","gists_url":"https://api.github.com/users/zegl/gists{/gist_id}","starred_url":"https://api.github.com/users/zegl/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/zegl/subscriptions","organizations_url":"https://api.github.com/users/zegl/orgs","repos_url":"https://api.github.com/users/zegl/repos","events_url":"https://api.github.com/users/zegl/events{/privacy}","received_events_url":"https://api.github.com/users/zegl/received_events","type":"User","site_admin":false},"repo":{"id":607571037,"node_id":"R_kgDOJDbMXQ","name":"polartest","full_name":"zegl/polartest","private":true,"owner":{"login":"zegl","id":47952,"node_id":"MDQ6VXNlcjQ3OTUy","avatar_url":"https://avatars.githubusercontent.com/u/47952?v=4","gravatar_id":"","url":"https://api.github.com/users/zegl","html_url":"https://github.com/zegl","followers_url":"https://api.github.com/users/zegl/followers","following_url":"https://api.github.com/users/zegl/following{/other_user}","gists_url":"https://api.github.co[...]
- request:
    body: ''
    headers:
      x-github-api-version:
      - '2022-11-28'
    method: GET
    uri: https://api.github.com/repos/zegl/polartest/pulls?state=open&sort=updated&direction=desc&per_page=30&page=2
  response:
    content: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"af50ee444b1dd0c48922bb22b2418acee5131db8d1ac351eb83d37adacaefa0c"'
      Link:
      - <https://api.github.com/repositories/607571037/pulls?state=open&sort=updated&direction=desc&per_page=30&page=1>;
        rel="prev", <https://api.github.com/repositories/607571037/pulls?state=open&sort=updated&direction=desc&per_page=30&page=1>;
        rel="last", <https://api.github.com/repositories/607571037/pulls?state=open&sort=updated&direction=desc&per_page=30&page=1>;
        rel="first"
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4980'
      X-RateLimit-Reset:
      - '1684241822'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '20'
      x-github-api-version-selected:
      - '2022-11-28'
    status_code: 200
version: 1
