interactions:
  - request:
      body: ""
      headers:
        x-github-api-version:
          - "2022-11-28"
      method: GET
      uri: https://api.github.com/user
    response:
      content:
        '{"login":"zegl","id":47952,"node_id":"MDQ6VXNlcjQ3OTUy","avatar_url":"https://avatars.githubusercontent.com/u/47952?v=4","gravatar_id":"","url":"https://api.github.com/users/zegl","html_url":"https://github.com/zegl","followers_url":"https://api.github.com/users/zegl/followers","following_url":"https://api.github.com/users/zegl/following{/other_user}","gists_url":"https://api.github.com/users/zegl/gists{/gist_id}","starred_url":"https://api.github.com/users/zegl/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/zegl/subscriptions","organizations_url":"https://api.github.com/users/zegl/orgs","repos_url":"https://api.github.com/users/zegl/repos","events_url":"https://api.github.com/users/zegl/events{/privacy}","received_events_url":"https://api.github.com/users/zegl/received_events","type":"User","site_admin":false,"name":"Gustav
        Westling","company":"@polarsource","blog":"https://westling.dev","location":"Stockholm,
        Sweden","email":"gustav@westling.dev","hireable":true,"bio":null,"twitter_username":"zegl","public_repos":117,"public_gists":4,"followers":123,"following":29,"created_at":"2009-01-20T14:23:04Z","updated_at":"2023-05-16T07:20:00Z"}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
        ETag:
          - W/"7a7f73ba9239dc668d00c5fb8ed4f240da59c5bad895815b3878a88139703ed3"
        Last-Modified:
          - Tue, 16 May 2023 07:20:00 GMT
        X-Accepted-OAuth-Scopes:
          - ""
        X-GitHub-Media-Type:
          - github.v3; format=json
        X-OAuth-Scopes:
          - ""
        X-RateLimit-Limit:
          - "5000"
        X-RateLimit-Remaining:
          - "4982"
        X-RateLimit-Reset:
          - "1684242633"
        X-RateLimit-Resource:
          - core
        X-RateLimit-Used:
          - "18"
        github-authentication-token-expiration:
          - 2023-05-16 17:36:38 UTC
        x-github-api-version-selected:
          - "2022-11-28"
        x-oauth-client-id:
          - Iv1.fb186c7be5b3b76b
      status_code: 200
  - request:
      body: ""
      headers:
        x-github-api-version:
          - "2022-11-28"
      method: GET
      uri: https://api.github.com/user/installations?per_page=100&page=1
    response:
      content: '{"total_count":4,"installations":[{"id":37565459,"account":{"login":"zegl","id":47952,"node_id":"MDQ6VXNlcjQ3OTUy","avatar_url":"https://avatars.githubusercontent.com/u/47952?v=4","gravatar_id":"","url":"https://api.github.com/users/zegl","html_url":"https://github.com/zegl","followers_url":"https://api.github.com/users/zegl/followers","following_url":"https://api.github.com/users/zegl/following{/other_user}","gists_url":"https://api.github.com/users/zegl/gists{/gist_id}","starred_url":"https://api.github.com/users/zegl/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/zegl/subscriptions","organizations_url":"https://api.github.com/users/zegl/orgs","repos_url":"https://api.github.com/users/zegl/repos","events_url":"https://api.github.com/users/zegl/events{/privacy}","received_events_url":"https://api.github.com/users/zegl/received_events","type":"User","site_admin":false},"repository_selection":"selected","access_tokens_url":"https://api.github.com/app/installations/37565459/access_tokens","repositories_url":"https://api.github.com/installation/repositories","html_url":"https://github.com/settings/installations/37565459","app_id":297796,"app_slug":"polar-gustav-development","target_id":47952,"target_type":"User","permissions":{"issues":"write","contents":"read","metadata":"read","pull_requests":"write","actions_variables":"read"},"events":["issues","issue_comment","label","pull_request","pull_request_review","pull_request_review_comment","pull_request_review_thread"],"created_at":"2023-05-16T11:36:37.000+02:00","updated_at":"2023-05-16T11:36:38.000+02:00","single_file_name":null,"has_multiple_single_files":false,"single_file_paths":[],"suspended_by":null,"suspended_at":null},{"id":37401399,"account":{"login":"zegloforko","id":39970518,"node_id":"MDEyOk9yZ2FuaXphdGlvbjM5OTcwNTE4","avatar_url":"https://avatars.githubusercontent.com/u/39970518?v=4","gravatar_id":"","url":"https://api.github.com/users/zegloforko","html_url":"https://github.com/zegloforko","followers_url":"https://api.github.com/users/zegloforko/followers","following_url":"https://api.github.com/users/zegloforko/following{/other_user}","gists_url":"https://api.github.com/users/zegloforko/gists{/gist_id}","starred_url":"https://api.github.com/users/zegloforko/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/zegloforko/subscriptions","organizations_url":"https://api.github.com/users/zegloforko/orgs","repos_url":"https://api.github.com/users/zegloforko/repos","events_url":"https://api.github.com/users/zegloforko/events{/privacy}","received_events_url":"https://api.github.com/users/zegloforko/received_events","type":"Organization","site_admin":false},"repository_selection":"all","access_tokens_url":"https://api.github.com/app/installations/37401399/access_tokens","repositories_url":"https://api.github.com/installation/repositories","html_url":"https://github.com/organizations/zegloforko/settings/installations/37401399","app_id":297796,"app_slug":"polar-gustav-development","target_id":39970518,"target_type":"Organization","permissions":{"issues":"write","members":"read","contents":"read","metadata":"read","pull_requests":"write","actions_variables":"read","organization_events":"read"},"events":["issues","issue_comment","label","pull_request","pull_request_review","pull_request_review_comment","pull_request_review_thread"],"created_at":"2023-05-11T17:11:20.000+02:00","updated_at":"2023-05-11T17:11:21.000+02:00","single_file_name":null,"has_multiple_single_files":false,"single_file_paths":[],"suspended_by":null,"suspended_at":null},{"id":35722796,"account":{"login":"zegl-testar","id":51095802,"node_id":"MDQ6VXNlcjUxMDk1ODAy","avatar_url":"https://avatars.githubuserconte[...]
  - request:
      body: ""
      headers:
        x-github-api-version:
          - "2022-11-28"
      method: GET
      uri: https://api.github.com/user/installations?per_page=100&page=2
    response:
      content: '{"total_count":4,"installations":[]}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
        ETag:
          - W/"2c0642c295c547d21ce90ec8531cff9e694391a987ec633b1c8d62f642213a15"
        Link:
          - <https://api.github.com/user/installations?per_page=100&page=1>; rel="prev",
            <https://api.github.com/user/installations?per_page=100&page=1>; rel="last",
            <https://api.github.com/user/installations?per_page=100&page=1>; rel="first"
        X-Accepted-OAuth-Scopes:
          - ""
        X-GitHub-Media-Type:
          - github.v3; format=json
        X-OAuth-Scopes:
          - ""
        X-RateLimit-Limit:
          - "5000"
        X-RateLimit-Remaining:
          - "4980"
        X-RateLimit-Reset:
          - "1684242633"
        X-RateLimit-Resource:
          - core
        X-RateLimit-Used:
          - "20"
        github-authentication-token-expiration:
          - 2023-05-16 17:36:38 UTC
        x-github-api-version-selected:
          - "2022-11-28"
        x-oauth-client-id:
          - Iv1.fb186c7be5b3b76b
      status_code: 200
  - request:
      body: ""
      headers:
        x-github-api-version:
          - "2022-11-28"
      method: GET
      uri: https://api.github.com/orgs/polarsource/memberships/zegl
    response:
      content: '{"url":"https://api.github.com/orgs/polarsource/memberships/zegl","state":"active","role":"admin","organization_url":"https://api.github.com/orgs/polarsource","user":{"login":"zegl","id":47952,"node_id":"MDQ6VXNlcjQ3OTUy","avatar_url":"https://avatars.githubusercontent.com/u/47952?v=4","gravatar_id":"","url":"https://api.github.com/users/zegl","html_url":"https://github.com/zegl","followers_url":"https://api.github.com/users/zegl/followers","following_url":"https://api.github.com/users/zegl/following{/other_user}","gists_url":"https://api.github.com/users/zegl/gists{/gist_id}","starred_url":"https://api.github.com/users/zegl/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/zegl/subscriptions","organizations_url":"https://api.github.com/users/zegl/orgs","repos_url":"https://api.github.com/users/zegl/repos","events_url":"https://api.github.com/users/zegl/events{/privacy}","received_events_url":"https://api.github.com/users/zegl/received_events","type":"User","site_admin":false},"organization":{"login":"polarsource","id":105373340,"node_id":"O_kgDOBkfenA","url":"https://api.github.com/orgs/polarsource","repos_url":"https://api.github.com/orgs/polarsource/repos","events_url":"https://api.github.com/orgs/polarsource/events","hooks_url":"https://api.github.com/orgs/polarsource/hooks","issues_url":"https://api.github.com/orgs/polarsource/issues","members_url":"https://api.github.com/orgs/polarsource/members{/member}","public_members_url":"https://api.github.com/orgs/polarsource/public_members{/member}","avatar_url":"https://avatars.githubusercontent.com/u/105373340?v=4","description":""}}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
        ETag:
          - W/"33794aa3428b7388b1e389d4f391fcfff00b4d4e2cc6f2796572d470309b47a2"
        X-GitHub-Media-Type:
          - github.v3; format=json
        X-RateLimit-Limit:
          - "5000"
        X-RateLimit-Remaining:
          - "4998"
        X-RateLimit-Reset:
          - "1684244082"
        X-RateLimit-Resource:
          - core
        X-RateLimit-Used:
          - "2"
        x-github-api-version-selected:
          - "2022-11-28"
      status_code: 200
  - request:
      body: ""
      headers:
        x-github-api-version:
          - "2022-11-28"
      method: GET
      uri: https://api.github.com/installation/repositories?per_page=100&page=1
    response:
      content:
        '{"total_count":1,"repository_selection":"selected","repositories":[{"id":637770203,"node_id":"R_kgDOJgOZ2w","name":"open-testing","full_name":"polarsource/open-testing","private":false,"owner":{"login":"polarsource","id":105373340,"node_id":"O_kgDOBkfenA","avatar_url":"https://avatars.githubusercontent.com/u/105373340?v=4","gravatar_id":"","url":"https://api.github.com/users/polarsource","html_url":"https://github.com/polarsource","followers_url":"https://api.github.com/users/polarsource/followers","following_url":"https://api.github.com/users/polarsource/following{/other_user}","gists_url":"https://api.github.com/users/polarsource/gists{/gist_id}","starred_url":"https://api.github.com/users/polarsource/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/polarsource/subscriptions","organizations_url":"https://api.github.com/users/polarsource/orgs","repos_url":"https://api.github.com/users/polarsource/repos","events_url":"https://api.github.com/users/polarsource/events{/privacy}","received_events_url":"https://api.github.com/users/polarsource/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/polarsource/open-testing","description":"Open
        testing repository","fork":false,"url":"https://api.github.com/repos/polarsource/open-testing","forks_url":"https://api.github.com/repos/polarsource/open-testing/forks","keys_url":"https://api.github.com/repos/polarsource/open-testing/keys{/key_id}","collaborators_url":"https://api.github.com/repos/polarsource/open-testing/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/polarsource/open-testing/teams","hooks_url":"https://api.github.com/repos/polarsource/open-testing/hooks","issue_events_url":"https://api.github.com/repos/polarsource/open-testing/issues/events{/number}","events_url":"https://api.github.com/repos/polarsource/open-testing/events","assignees_url":"https://api.github.com/repos/polarsource/open-testing/assignees{/user}","branches_url":"https://api.github.com/repos/polarsource/open-testing/branches{/branch}","tags_url":"https://api.github.com/repos/polarsource/open-testing/tags","blobs_url":"https://api.github.com/repos/polarsource/open-testing/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/polarsource/open-testing/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/polarsource/open-testing/git/refs{/sha}","trees_url":"https://api.github.com/repos/polarsource/open-testing/git/trees{/sha}","statuses_url":"https://api.github.com/repos/polarsource/open-testing/statuses/{sha}","languages_url":"https://api.github.com/repos/polarsource/open-testing/languages","stargazers_url":"https://api.github.com/repos/polarsource/open-testing/stargazers","contributors_url":"https://api.github.com/repos/polarsource/open-testing/contributors","subscribers_url":"https://api.github.com/repos/polarsource/open-testing/subscribers","subscription_url":"https://api.github.com/repos/polarsource/open-testing/subscription","commits_url":"https://api.github.com/repos/polarsource/open-testing/commits{/sha}","git_commits_url":"https://api.github.com/repos/polarsource/open-testing/git/commits{/sha}","comments_url":"https://api.github.com/repos/polarsource/open-testing/comments{/number}","issue_comment_url":"https://api.github.com/repos/polarsource/open-testing/issues/comments{/number}","contents_url":"https://api.github.com/repos/polarsource/open-testing/contents/{+path}","compare_url":"https://api.github.com/repos/polarsource/open-testing/compare/{base}...{head}","merges_url":"https://api.github.com/repos/polarsource/open-testing/merges","archive_url":"https://api.github.com/repos/polarsource/open-testing/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/polarsource/open-testing/downloads","issues_url":"https://api.github.com/repos/polarsource/open-testing/issues{/number}","pulls_url":"https://api.github.com/repos/polarsource/open-testing/pulls{/number}","milestones_url":"https://api.github.com/repos/polarsource/open-testing/milestones{/number}","notifications_url":"https://api.github.com/repos/polarsource/open-testing/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/polarsource/open-testing/labels{/name}","releases_url":"https://api.github.com/repos/polarsource/open-testing/releases{/id}","deployments_url":"https://api.github.com/repos/polarsource/open-testing/deployments","created_at":"2023-05-08T11:24:10Z","updated_at":"2023-05-08T11:24:11Z","pushed_at":"2023-05-16T12:33:36Z","git_url":"git://github.com/polarsource/open-testing.git","ssh_url":"git@github.com:polarsource/open-testing.git","clone_url":"https://github.com/polarsource/open-testing.git","svn_url":"https://github.com/polarsource/open-testing","homepage":null,"size":4,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"has_discussions":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":6,"license":{"key":"apache-2.0","name":"Apache
        License 2.0","spdx_id":"Apache-2.0","url":"https://api.github.com/licenses/apache-2.0","node_id":"MDc6TGljZW5zZTI="},"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"public","forks":0,"open_issues":6,"watchers":0,"default_branch":"main","permissions":{"admin":false,"maintain":false,"push":false,"triage":false,"pull":false}}]}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
        ETag:
          - W/"af89e75925bce1ff82d5c44ca6412a3a605445fda94decd17aff54b9d7a80f05"
        X-GitHub-Media-Type:
          - github.v3; format=json
        X-RateLimit-Limit:
          - "5000"
        X-RateLimit-Remaining:
          - "4997"
        X-RateLimit-Reset:
          - "1684244082"
        X-RateLimit-Resource:
          - core
        X-RateLimit-Used:
          - "3"
        x-github-api-version-selected:
          - "2022-11-28"
      status_code: 200
[...]
  - request:
      body: ""
      headers:
        x-github-api-version:
          - "2022-11-28"
      method: GET
      uri: https://api.github.com/repos/polarsource/open-testing/issues?state=open&sort=updated&direction=desc&per_page=30&page=1
    response:
      content:
        '[{"url":"https://api.github.com/repos/polarsource/open-testing/issues/6","repository_url":"https://api.github.com/repos/polarsource/open-testing","labels_url":"https://api.github.com/repos/polarsource/open-testing/issues/6/labels{/name}","comments_url":"https://api.github.com/repos/polarsource/open-testing/issues/6/comments","events_url":"https://api.github.com/repos/polarsource/open-testing/issues/6/events","html_url":"https://github.com/polarsource/open-testing/pull/6","id":1711934136,"node_id":"PR_kwDOJgOZ285QnG9n","number":6,"title":"Update
        README.md","user":{"login":"zegl","id":47952,"node_id":"MDQ6VXNlcjQ3OTUy","avatar_url":"https://avatars.githubusercontent.com/u/47952?v=4","gravatar_id":"","url":"https://api.github.com/users/zegl","html_url":"https://github.com/zegl","followers_url":"https://api.github.com/users/zegl/followers","following_url":"https://api.github.com/users/zegl/following{/other_user}","gists_url":"https://api.github.com/users/zegl/gists{/gist_id}","starred_url":"https://api.github.com/users/zegl/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/zegl/subscriptions","organizations_url":"https://api.github.com/users/zegl/orgs","repos_url":"https://api.github.com/users/zegl/repos","events_url":"https://api.github.com/users/zegl/events{/privacy}","received_events_url":"https://api.github.com/users/zegl/received_events","type":"User","site_admin":false},"labels":[],"state":"open","locked":false,"assignee":null,"assignees":[],"milestone":null,"comments":0,"created_at":"2023-05-16T12:33:35Z","updated_at":"2023-05-16T12:33:35Z","closed_at":null,"author_association":"MEMBER","active_lock_reason":null,"draft":true,"pull_request":{"url":"https://api.github.com/repos/polarsource/open-testing/pulls/6","html_url":"https://github.com/polarsource/open-testing/pull/6","diff_url":"https://github.com/polarsource/open-testing/pull/6.diff","patch_url":"https://github.com/polarsource/open-testing/pull/6.patch","merged_at":null},"body":"Fixes
        #5 ","reactions":{"url":"https://api.github.com/repos/polarsource/open-testing/issues/6/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"timeline_url":"https://api.github.com/repos/polarsource/open-testing/issues/6/timeline","performed_via_github_app":null,"state_reason":null},{"url":"https://api.github.com/repos/polarsource/open-testing/issues/5","repository_url":"https://api.github.com/repos/polarsource/open-testing","labels_url":"https://api.github.com/repos/polarsource/open-testing/issues/5/labels{/name}","comments_url":"https://api.github.com/repos/polarsource/open-testing/issues/5/comments","events_url":"https://api.github.com/repos/polarsource/open-testing/issues/5/events","html_url":"https://github.com/polarsource/open-testing/issues/5","id":1711933287,"[...]
  - request:
      body: ""
      headers:
        x-github-api-version:
          - "2022-11-28"
      method: GET
      uri: https://api.github.com/repos/polarsource/open-testing/issues/5/timeline?per_page=100&page=1
    response:
      content:
        '[{"actor":{"login":"zegl","id":47952,"node_id":"MDQ6VXNlcjQ3OTUy","avatar_url":"https://avatars.githubusercontent.com/u/47952?v=4","gravatar_id":"","url":"https://api.github.com/users/zegl","html_url":"https://github.com/zegl","followers_url":"https://api.github.com/users/zegl/followers","following_url":"https://api.github.com/users/zegl/following{/other_user}","gists_url":"https://api.github.com/users/zegl/gists{/gist_id}","starred_url":"https://api.github.com/users/zegl/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/zegl/subscriptions","organizations_url":"https://api.github.com/users/zegl/orgs","repos_url":"https://api.github.com/users/zegl/repos","events_url":"https://api.github.com/users/zegl/events{/privacy}","received_events_url":"https://api.github.com/users/zegl/received_events","type":"User","site_admin":false},"created_at":"2023-05-16T12:33:35Z","updated_at":"2023-05-16T12:33:35Z","source":{"type":"issue","issue":{"url":"https://api.github.com/repos/polarsource/open-testing/issues/6","repository_url":"https://api.github.com/repos/polarsource/open-testing","labels_url":"https://api.github.com/repos/polarsource/open-testing/issues/6/labels{/name}","comments_url":"https://api.github.com/repos/polarsource/open-testing/issues/6/comments","events_url":"https://api.github.com/repos/polarsource/open-testing/issues/6/events","html_url":"https://github.com/polarsource/open-testing/pull/6","id":1711934136,"node_id"[...]
  - request:
      body: ""
      headers:
        x-github-api-version:
          - "2022-11-28"
      method: GET
      uri: https://api.github.com/repos/polarsource/open-testing/pulls/6
    response:
      content:
        '{"url":"https://api.github.com/repos/polarsource/open-testing/pulls/6","id":1352429415,"node_id":"PR_kwDOJgOZ285QnG9n","html_url":"https://github.com/polarsource/open-testing/pull/6","diff_url":"https://github.com/polarsource/open-testing/pull/6.diff","patch_url":"https://github.com/polarsource/open-testing/pull/6.patch","issue_url":"https://api.github.com/repos/polarsource/open-testing/issues/6","number":6,"state":"open","locked":false,"title":"Update
        README.md","user":{"login":"zegl","id":47952,"node_id":"MDQ6VXNlcjQ3OTUy","avatar_url":"https://avatars.githubusercontent.com/u/47952?v=4","gravatar_id":"","url":"https://api.github.com/users/zegl","html_url":"https://github.com/zegl","followers_url":"https://api.github.com/users/zegl/followers","following_url":"https://api.github.com/users/zegl/following{/other_user}","gists_url":"https://api.github.com/users/zegl/gists{/gist_id}","starred_url":"https://api.github.com/users/zegl/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/zegl/subscriptions","organizations_url":"https://api.github.com/users/zegl/orgs","repos_url":"https://api.github.com/users/zegl/repos","events_url":"https://api.github.com/users/zegl/events{/privacy}","received_events_url":"https://api.github.com/users/zegl/received_events","type":"User","site_admin":false},"body":"Fixes
        #5 ","created_at":"2023-05-16T12:33:35Z","updated_at":"2023-05-16T12:33:35Z","closed_at":null,"merged_at":null,"merge_commit_sha":"c8b16412812c01647275dcacaf843b1f3ddbbe90","assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":true,"commits_url":"https://api.github.com/repos/polarsource/open-testing/pulls/6/commits","review_comments_url":"https://api.github.com/repos/polarsource/open-testing/pulls/6/comments","review_comment_url":"https://api.github.com/repos/polarsource/open-testing/pulls/comments{/number}","comments_url":"https://api.github.com/repos/polarsource/open-testing/issues/6/comments","statuses_url":"https://api.github.com/repos/polarsource/open-testing/statuses/64f79549fc30d3024667cbdc37c4ab19d78eb5b7","head":{"label":"polarsource:zegl-patch-2","ref":"zegl-patch-2","sha":"64f79549fc30d3024667cbdc37c4ab19d78eb5b7","user":{"login":"polarsource","id":105373340,"node_id":"O_kgDOBkfenA","avatar_url":"https://avatars.githubusercontent.com/u/105373340?v=4","gravatar_id":"","url":"https://api.github.com/users/polarsource","html_url":"https://github.com/polarsource","followers_url":"https://api.github.com/users/polarsource/followers","following_url":"https://api.github.com/users/polarsource/following{/other_user}","gists_url":"https://api.github.com/users/polarsource/gists{/gist_id}","starred_url":"https://api.github.com/users/polarsource/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/polarsource/subscriptions","organizations_url":"https://api.github.com/users/polarsource/orgs","repos_url":"https://api.github.com/users/polarsource/repos","events_url":"https://api.github.com/users/polarsource/events{/privacy}","received_events_url":"https://api.github.com/users/polarsource/received_events","type":"Organization","site_admin":false},"repo":{"id":637770203,"node_id":"R_kgDOJgOZ2w","name":"open-testing","full_name":"polarsource/open-testing","private":false,"owner":{"login":"polarsource","id":105373340,"node_id":"O_kgDOBkfenA","avatar_url":"https://avatars.githubusercontent.com/u/105373340?v=4","gravatar_id":"","url":"https://api.github.com/users/polarsource","html_url":"https://github.com/polarsource","followers_url":"https://api.github.com/users/polarsource/followers","following_url":"https://api.github.com/users/polarsource/follo[...]
  - request:
      body: ""
      headers:
        if-none-match:
          - W/"f2edbbeebcc0bcbc349c0528b919ada575f4c71b64db5b849ad5c6ab8d0a152d"
        x-github-api-version:
          - "2022-11-28"
      method: GET
      uri: https://api.github.com/repos/polarsource/open-testing/issues/5/timeline?per_page=100&page=1
    response:
      content: ""
      headers:
        ETag:
          - '"f2edbbeebcc0bcbc349c0528b919ada575f4c71b64db5b849ad5c6ab8d0a152d"'
        X-RateLimit-Limit:
          - "5000"
        X-RateLimit-Remaining:
          - "4994"
        X-RateLimit-Reset:
          - "1684244082"
        X-RateLimit-Resource:
          - core
        X-RateLimit-Used:
          - "6"
        x-github-api-version-selected:
          - "2022-11-28"
      status_code: 304
[...]
  - request:
      body: ""
      headers:
        x-github-api-version:
          - "2022-11-28"
      method: GET
      uri: https://api.github.com/repos/polarsource/open-testing/pulls?state=open&sort=updated&direction=desc&per_page=30&page=1
    response:
      content:
        '[{"url":"https://api.github.com/repos/polarsource/open-testing/pulls/6","id":1352429415,"node_id":"PR_kwDOJgOZ285QnG9n","html_url":"https://github.com/polarsource/open-testing/pull/6","diff_url":"https://github.com/po[...]
[...]
  - request:
      body: ""
      headers:
        x-github-api-version:
          - "2022-11-28"
      method: GET
      uri: https://api.github.com/repos/polarsource/open-testing/issues/events?per_page=100&page=1
    response:
      content: "[]"
      headers:
        Content-Type:
          - application/json; charset=utf-8
        ETag:
          - '"a4e0cdf2466b46343995e5c1464ca6c601ed71c23d5320760a15b2b869bb42c3"'
        X-GitHub-Media-Type:
          - github.v3; format=json
        X-RateLimit-Limit:
          - "5000"
        X-RateLimit-Remaining:
          - "4986"
        X-RateLimit-Reset:
          - "1684244082"
        X-RateLimit-Resource:
          - core
        X-RateLimit-Used:
          - "14"
        x-github-api-version-selected:
          - "2022-11-28"
      status_code: 200
version: 1
