interactions:
- request:
    body: ''
    headers:
      x-github-api-version:
      - '2022-11-28'
    method: GET
    uri: https://api.github.com/user
  response:
    content: '{"login":"hult","id":374824,"node_id":"MDQ6VXNlcjM3NDgyNA==","avatar_url":"https://avatars.githubusercontent.com/u/374824?v=4","gravatar_id":"","url":"https://api.github.com/users/hult","html_url":"https://github.com/hult","followers_url":"https://api.github.com/users/hult/followers","following_url":"https://api.github.com/users/hult/following{/other_user}","gists_url":"https://api.github.com/users/hult/gists{/gist_id}","starred_url":"https://api.github.com/users/hult/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/hult/subscriptions","organizations_url":"https://api.github.com/users/hult/orgs","repos_url":"https://api.github.com/users/hult/repos","events_url":"https://api.github.com/users/hult/events{/privacy}","received_events_url":"https://api.github.com/users/hult/received_events","type":"User","site_admin":false,"name":"Magnus
      Hult","company":null,"blog":"","location":"Stockholm, Sweden","email":null,"hireable":null,"bio":null,"twitter_username":null,"public_repos":19,"public_gists":9,"followers":41,"following":28,"created_at":"2010-08-24T17:23:26Z","updated_at":"2023-05-15T09:01:58Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"ccf1b052f2ef38a96df1593abbeace367b2f59f6472343c849436798c51dac43"
      Last-Modified:
      - Mon, 15 May 2023 09:01:58 GMT
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-OAuth-Scopes:
      - ''
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4976'
      X-RateLimit-Reset:
      - '1686146965'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '24'
      github-authentication-token-expiration:
      - 2023-06-07 21:55:44 UTC
      x-github-api-version-selected:
      - '2022-11-28'
      x-oauth-client-id:
      - Iv1.d4a7196f0694ccc8
    status_code: 200
- request:
    body: ''
    headers:
      x-github-api-version:
      - '2022-11-28'
    method: GET
    uri: https://api.github.com/user/installations?per_page=100&page=1
  response:
    content: '{"total_count":1,"installations":[{"id":36316944,"account":{"login":"polarsource","id":105373340,"node_id":"O_kgDOBkfenA","avatar_url":"https://avatars.githubusercontent.com/u/105373340?v=4","gravatar_id":"","url":"https://api.github.com/users/polarsource","html_url":"https://github.com/polarsource","followers_url":"https://api.github.com/users/polarsource/followers","following_url":"https://api.github.com/users/polarsource/following{/other_user}","gists_url":"https://api.github.com/users/polarsource/gists{/gist_id}","starred_url":"https://api.github.com/users/polarsource/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/polarsource/subscriptions","organizations_url":"https://api.github.com/users/polarsource/orgs","repos_url":"https://api.github.com/users/polarsource/repos","events_url":"https://api.github.com/users/polarsource/events{/privacy}","received_events_url":"https://api.github.com/users/polarsource/received_events","type":"Organization","site_admin":false},"repository_selection":"all","access_tokens_url":"https://api.github.com/app/installations/36316944/access_tokens","repositories_url":"https://api.github.com/installation/repositories","html_url":"https://github.com/organizations/polarsource/settings/installations/36316944","app_id":304590,"app_slug":"polar-magnus","target_id":105373340,"target_type":"Organization","permissions":{"issues":"write","members":"read","metadata":"read","statuses":"read","discussions":"write","pull_requests":"write","repository_hooks":"read","team_discussions":"write"},"events":["discussion","discussion_comment","issues","issue_comment","label","member","milestone","organization","public","pull_request","pull_request_review","pull_request_review_comment","pull_request_review_thread","repository","star","status","team","team_add","watch"],"created_at":"2023-04-11T15:21:13.000+02:00","updated_at":"2023-04-11T15:21:14.000+02:00","single_file_name":null,"has_multiple_single_files":false,"single_file_paths":[],"suspended_by":null,"suspended_at":null}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"d3b911bb001fe15ea6ae871aa02bc08af6809d90bae7cab22c1c7e6f396bb10a"
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-OAuth-Scopes:
      - ''
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4975'
      X-RateLimit-Reset:
      - '1686146965'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '25'
      github-authentication-token-expiration:
      - 2023-06-07 21:55:44 UTC
      x-github-api-version-selected:
      - '2022-11-28'
      x-oauth-client-id:
      - Iv1.d4a7196f0694ccc8
    status_code: 200
- request:
    body: ''
    headers:
      x-github-api-version:
      - '2022-11-28'
    method: GET
    uri: https://api.github.com/user/installations?per_page=100&page=2
  response:
    content: '{"total_count":1,"installations":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"9cd03ee6ba7376618083e2e4d607d92089db39a73fe33d3d4740e46ceb0fd941"
      Link:
      - <https://api.github.com/user/installations?per_page=100&page=1>; rel="prev",
        <https://api.github.com/user/installations?per_page=100&page=1>; rel="last",
        <https://api.github.com/user/installations?per_page=100&page=1>; rel="first"
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-OAuth-Scopes:
      - ''
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4974'
      X-RateLimit-Reset:
      - '1686146965'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '26'
      github-authentication-token-expiration:
      - 2023-06-07 21:55:44 UTC
      x-github-api-version-selected:
      - '2022-11-28'
      x-oauth-client-id:
      - Iv1.d4a7196f0694ccc8
    status_code: 200
- request:
    body: ''
    headers:
      x-github-api-version:
      - '2022-11-28'
    method: GET
    uri: https://api.github.com/orgs/polarsource/memberships/hult
  response:
    content: '{"url":"https://api.github.com/orgs/polarsource/memberships/hult","state":"active","role":"admin","organization_url":"https://api.github.com/orgs/polarsource","user":{"login":"hult","id":374824,"node_id":"MDQ6VXNlcjM3NDgyNA==","avatar_url":"https://avatars.githubusercontent.com/u/374824?v=4","gravatar_id":"","url":"https://api.github.com/users/hult","html_url":"https://github.com/hult","followers_url":"https://api.github.com/users/hult/followers","following_url":"https://api.github.com/users/hult/following{/other_user}","gists_url":"https://api.github.com/users/hult/gists{/gist_id}","starred_url":"https://api.github.com/users/hult/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/hult/subscriptions","organizations_url":"https://api.github.com/users/hult/orgs","repos_url":"https://api.github.com/users/hult/repos","events_url":"https://api.github.com/users/hult/events{/privacy}","received_events_url":"https://api.github.com/users/hult/received_events","type":"User","site_admin":false},"organization":{"login":"polarsource","id":105373340,"node_id":"O_kgDOBkfenA","url":"https://api.github.com/orgs/polarsource","repos_url":"https://api.github.com/orgs/polarsource/repos","events_url":"https://api.github.com/orgs/polarsource/events","hooks_url":"https://api.github.com/orgs/polarsource/hooks","issues_url":"https://api.github.com/orgs/polarsource/issues","members_url":"https://api.github.com/orgs/polarsource/members{/member}","public_members_url":"https://api.github.com/orgs/polarsource/public_members{/member}","avatar_url":"https://avatars.githubusercontent.com/u/105373340?v=4","description":""}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"211e3ad46e3ae0f8fa7f7a4f3b653cc35e61f0b95b6c8408eff63dc72a518698"
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4264'
      X-RateLimit-Reset:
      - '1686147302'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '736'
      x-github-api-version-selected:
      - '2022-11-28'
    status_code: 200
- request:
    body: ''
    headers:
      x-github-api-version:
      - '2022-11-28'
    method: GET
    uri: https://api.github.com/installation/repositories?per_page=30&page=1
  response:
    content: '{"total_count":6,"repository_selection":"all","repositories":[{"id":630890591,"node_id":"R_kgDOJZqgXw","name":"githubkit","full_name":"polarsource/githubkit","private":false,"owner":{"login":"polarsource","id":105373340,"node_id":"O_kgDOBkfenA","avatar_url":"https://avatars.githubusercontent.com/u/105373340?v=4","gravatar_id":"","url":"https://api.github.com/users/polarsource","html_url":"https://github.com/polarsource","followers_url":"https://api.github.com/users/polarsource/followers","following_url":"https://api.github.com/users/polarsource/following{/other_user}","gists_url":"https://api.github.com/users/polarsource/gists{/gist_id}","starred_url":"https://api.github.com/users/polarsource/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/polarsource/subscriptions","organizations_url":"https://api.github.com/users/polarsource/orgs","repos_url":"https://api.github.com/users/polarsource/repos","events_url":"https://api.github.com/users/polarsource/events{/privacy}","received_events_url":"https://api.github.com/users/polarsource/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/polarsource/githubkit","description":"Fork
      of yanyongyu/githubkit","fork":true,"url":"https://api.github.com/repos/polarsource/githubkit","forks_url":"https://api.github.com/repos/polarsource/githubkit/forks","keys_url":"https://api.github.com/repos/polarsource/githubkit/keys{/key_id}","collaborators_url":"https://api.github.com/repos/polarsource/githubkit/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/polarsource/githubkit/teams","hooks_url":"https://api.github.com/repos/polarsource/githubkit/hooks","issue_events_url":"https://api.github.com/repos/polarsource/githubkit/issues/events{/number}","events_url":"https://api.github.com/repos/polarsource/githubkit/events","assignees_url":"https://api.github.com/repos/polarsource/githubkit/assignees{/user}","branches_url":"https://api.github.com/repos/polarsource/githubkit/branches{/branch}","tags_url":"https://api.github.com/repos/polarsource/githubkit/tags","blobs_url":"https://api.github.com/repos/polarsource/githubkit/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/polarsource/githubkit/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/polarsource/githubkit/git/refs{/sha}","trees_url":"https://api.github.com/repos/polarsource/githubkit/git/trees{/sha}","statuses_url":"https://api.github.com/repos/polarsource/githubkit/statuses/{sha}","languages_url":"https://api.github.com/repos/polarsource/githubkit/languages","stargazers_url":"https://api.github.com/repos/polarsource/githubkit/stargazers","contributors_url":"https://api.github.com/repos/polarsource/githubkit/contributors","subscribers_url":"https://api.github.com/repos/polarsource/githubkit/subscribers","subscription_url":"https://api.github.com/repos/polarsource/githubkit/subscription","commits_url":"https://api.github.com/repos/polarsource/githubkit/commits{/sha}","git_commits_url":"https://api.github.com/repos/polarsource/githubkit/git/commits{/sha}","comments_url":"https://api.github.com/repos/polarsource/githubkit/comments{/number}","issue_comment_url":"https://api.github.com/repos/polarsource/githubkit/issues/comments{/number}","contents_url":"https://api.github.com/repos/polarsource/githubkit/contents/{+path}","compare_url":"https://api.github.com/repos/polarsource/githubkit/compare/{base}...{head}","merges_url":"https://api.github.com/repos/polarsource/githubkit/merges","archive_url":"https://api.github.com/repos/polarsource/githubkit/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/polarsource/githubkit/downloads","issues_url":"https://api.github.com/repos/polarsource/githubkit/issues{/number}","pulls_url":"https://api.github.com/repos/polarsource/githubkit/pulls{/number}","milestones_url":"https://api.github.com/repos/polarsource/githubkit/milestones{/number}","notifications_url":"https://api.github.com/repos/polarsource/githubkit/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/polarsource/githubkit/labels{/name}","releases_url":"https://api.github.com/repos/polarsource/githubkit/releases{/id}","deployments_url":"https://api.github.com/repos/polarsource/githubkit/deployments","created_at":"2023-04-21T11:50:47Z","updated_at":"2023-04-21T11:53:24Z","pushed_at":"2023-04-21T11:53:18Z","git_url":"git://github.com/polarsource/githubkit.git","ssh_url":"git@github.com:polarsource/githubkit.git","clone_url":"https://github.com/polarsource/githubkit.git","svn_url":"https://github.com/polarsource/githubkit","homepage":"","size":1775,"stargazers_count":0,"watchers_count":0,"language":"Python","has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":false,"has_pages":false,"has_discussions":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":{"key":"mit","name":"MIT
      License","spdx_id":"MIT","url":"https://api.github.com/licenses/mit","node_id":"MDc6TGljZW5zZTEz"},"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"public","forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":false,"maintain":false,"push":false,"triage":false,"pull":false}},{"id":605559017,"node_id":"R_kgDOJBgY6Q","name":"legacy-poc","full_name":"polarsource/legacy-poc","private":true,"owner":{"login":"polarsource","id":105373340,"node_id":"O_kgDOBkfenA","avatar_url":"https://avatars.githubusercontent.com/u/105373340?v=4","gravatar_id":"","url":"https://api.github.com/users/polarsource","html_url":"https://github.com/polarsource","followers_url":"https://api.github.com/users/polarsource/followers","following_url":"https://api.github.com/users/polarsource/fo[...]
