:root {
  --white: #ffffff;
  --beige: #FEFDF9;
  --dark-blue: #303F78;
  --dark-gray: #26282B;

  --black: #121317;
  --blue: rgb(70, 103, 202);
  --light-blue: rgb(209, 223, 242);
  --light-gray: #E5E5E1;
}

  /* Our logo contains our name. No need to repeat it. */
  .md-header__ellipsis {
    display: none;
  }

  #logo_light {
      display: var(--md-footer-logo-light);
  }

  #logo_dark {
      display: var(--md-footer-logo-dark);
  }

  /*********************************************************************
   * LIGHT
   ********************************************************************/

[data-md-color-scheme="polar-light"] img[src$="#only-dark"],
[data-md-color-scheme="polar-light"] img[src$="#gh-dark-mode-only"] {
  display: none; /* Hide dark images in light mode */
}

  [data-md-color-scheme="polar-light"] {
    --md-primary-fg-color: var(--beige);
    --md-primary-bg-color: var(--blue);
    --md-default-bg-color: var(--beige);
    --md-default-fg-color--light: var(--dark-blue);

    --md-footer-logo-dark: none;
    --md-footer-logo-light: block;

    --md-footer-bg-color: var(--dark-blue);
  }

  [data-md-color-scheme="polar-light"] header.md-header--shadow {
    box-shadow: none;
    border-bottom: 1px solid #E9EEF5;
  }

  [data-md-color-scheme="polar-light"] .md-search__form {
    background: none;
  }

  [data-md-color-scheme="polar-light"] .md-search__input {
    background-color: var(--white);
    border: 1px solid var(--light-blue);
    border-radius: 8px;
  }

  [data-md-color-scheme="polar-light"] .md-search__input::placeholder {
    color: var(--blue);
  }

  [data-md-color-scheme="polar-light"] .md-search__input.focus-visible {
    background-color: var(--white);
    border: none;
    border-radius: none;
  }

  [data-md-color-scheme="polar-light"] h1 {
    color: var(--blue);
  }

  [data-md-color-scheme="polar-light"] h2 {
    color: var(--blue);
  }

  [data-md-color-scheme="polar-light"] h3 {
    color: var(--blue);
  }

  [data-md-color-scheme="polar-light"] .md-button {
    color: var(--blue);
  }

  [data-md-color-scheme="polar-light"] .md-button--primary {
    color: var(--white);
    background: var(--blue);
  }

  /*********************************************************************
   * DARK
   ********************************************************************/

[data-md-color-scheme="polar-dark"] img[src$="#only-light"],
[data-md-color-scheme="polar-dark"] img[src$="#gh-light-mode-only"] {
  display: none; /* Hide light images in dark mode */
}

  [data-md-color-scheme="polar-dark"] {
    --md-primary-fg-color: var(--dark-gray);
    --md-primary-bg-color: var(--white);
    --md-default-bg-color: var(--black);

    --md-default-fg-color--light: var(--light-gray);
    --md-typeset-color: var(--light-gray);
    --md-typeset-a-color: var(--blue);

    --md-typeset-color: var(--white);
    --md-default-fg-color: var(--white);

    --md-code-bg-color: var(--dark-gray);
    --md-code-fg-color: #8E9091;

    --md-footer-logo-dark: block;
    --md-footer-logo-light: none;

    --md-admonition-bg-color: var(--dark-gray);
    --md-admonition-fg-color: var(--light-gray);

    --md-typeset-table-color: var(--light-gray);
  }

  [data-md-color-scheme="polar-dark"] .md-button {
    color: var(--light-gray);
  }

  [data-md-color-scheme="polar-dark"] .md-annotation__index:before {
    background-color: var(--light-gray);
  }

  [data-md-color-scheme="polar-dark"] .md-tooltip--active {
    background-color: var(--dark-gray);
  }

  /* Code block changes taken from: https://github.com/jwarby/jekyll-pygments-themes */
  [data-md-color-scheme="polar-dark"] .md-typeset pre{ background-color: #272822 !important; color: #d9d9d9; }
  [data-md-color-scheme="polar-dark"] .md-typeset .hll { background-color: #272822; }
  [data-md-color-scheme="polar-dark"] .md-typeset .c { color: #75715e } /* Comment */
  [data-md-color-scheme="polar-dark"] .md-typeset .err { color: #960050; background-color: #1e0010 } /* Error */
  [data-md-color-scheme="polar-dark"] .md-typeset .k { color: #66d9ef } /* Keyword */
  [data-md-color-scheme="polar-dark"] .md-typeset .l { color: #ae81ff } /* Literal */
  [data-md-color-scheme="polar-dark"] .md-typeset .n { color: #f8f8f2 } /* Name */
  [data-md-color-scheme="polar-dark"] .md-typeset .o { color: #f92672 } /* Operator */
  [data-md-color-scheme="polar-dark"] .md-typeset .p { color: #f8f8f2 } /* Punctuation */
  [data-md-color-scheme="polar-dark"] .md-typeset .cm { color: #919191 } /* Comment.Multiline */
  [data-md-color-scheme="polar-dark"] .md-typeset .cp { color: #919191 } /* Comment.Preproc */
  [data-md-color-scheme="polar-dark"] .md-typeset .c1 { color: #919191 } /* Comment.Single */
  [data-md-color-scheme="polar-dark"] .md-typeset .cs { color: #919191 } /* Comment.Special */
  [data-md-color-scheme="polar-dark"] .md-typeset .ge { font-style: italic } /* Generic.Emph */
  [data-md-color-scheme="polar-dark"] .md-typeset .gs { font-weight: bold } /* Generic.Strong */
  [data-md-color-scheme="polar-dark"] .md-typeset .kc { color: #66d9ef } /* Keyword.Constant */
  [data-md-color-scheme="polar-dark"] .md-typeset .kd { color: #66d9ef } /* Keyword.Declaration */
  [data-md-color-scheme="polar-dark"] .md-typeset .kn { color: #f92672 } /* Keyword.Namespace */
  [data-md-color-scheme="polar-dark"] .md-typeset .kp { color: #66d9ef } /* Keyword.Pseudo */
  [data-md-color-scheme="polar-dark"] .md-typeset .kr { color: #66d9ef } /* Keyword.Reserved */
  [data-md-color-scheme="polar-dark"] .md-typeset .kt { color: #66d9ef } /* Keyword.Type */
  [data-md-color-scheme="polar-dark"] .md-typeset .ld { color: #e6db74 } /* Literal.Date */
  [data-md-color-scheme="polar-dark"] .md-typeset .m { color: #ae81ff } /* Literal.Number */
  [data-md-color-scheme="polar-dark"] .md-typeset .s { color: #e6db74 } /* Literal.String */
  [data-md-color-scheme="polar-dark"] .md-typeset .na { color: #a6e22e } /* Name.Attribute */
  [data-md-color-scheme="polar-dark"] .md-typeset .nb { color: #f8f8f2 } /* Name.Builtin */
  [data-md-color-scheme="polar-dark"] .md-typeset .nc { color: #a6e22e } /* Name.Class */
  [data-md-color-scheme="polar-dark"] .md-typeset .no { color: #66d9ef } /* Name.Constant */
  [data-md-color-scheme="polar-dark"] .md-typeset .nd { color: #a6e22e } /* Name.Decorator */
  [data-md-color-scheme="polar-dark"] .md-typeset .ni { color: #f8f8f2 } /* Name.Entity */
  [data-md-color-scheme="polar-dark"] .md-typeset .ne { color: #a6e22e } /* Name.Exception */
  [data-md-color-scheme="polar-dark"] .md-typeset .nf { color: #a6e22e } /* Name.Function */
  [data-md-color-scheme="polar-dark"] .md-typeset .nl { color: #f8f8f2 } /* Name.Label */
  [data-md-color-scheme="polar-dark"] .md-typeset .nn { color: #f8f8f2 } /* Name.Namespace */
  [data-md-color-scheme="polar-dark"] .md-typeset .nx { color: #a6e22e } /* Name.Other */
  [data-md-color-scheme="polar-dark"] .md-typeset .py { color: #f8f8f2 } /* Name.Property */
  [data-md-color-scheme="polar-dark"] .md-typeset .nt { color: #ff467a } /* Name.Tag */
  [data-md-color-scheme="polar-dark"] .md-typeset .nv { color: #f8f8f2 } /* Name.Variable */
  [data-md-color-scheme="polar-dark"] .md-typeset .ow { color: #f92672 } /* Operator.Word */
  [data-md-color-scheme="polar-dark"] .md-typeset .w { color: #f8f8f2 } /* Text.Whitespace */
  [data-md-color-scheme="polar-dark"] .md-typeset .mf { color: #ae81ff } /* Literal.Number.Float */
  [data-md-color-scheme="polar-dark"] .md-typeset .mh { color: #ae81ff } /* Literal.Number.Hex */
  [data-md-color-scheme="polar-dark"] .md-typeset .mi { color: #ae81ff } /* Literal.Number.Integer */
  [data-md-color-scheme="polar-dark"] .md-typeset .mo { color: #ae81ff } /* Literal.Number.Oct */
  [data-md-color-scheme="polar-dark"] .md-typeset .sb { color: #e6db74 } /* Literal.String.Backtick */
  [data-md-color-scheme="polar-dark"] .md-typeset .sc { color: #e6db74 } /* Literal.String.Char */
  [data-md-color-scheme="polar-dark"] .md-typeset .sd { color: #e6db74 } /* Literal.String.Doc */
  [data-md-color-scheme="polar-dark"] .md-typeset .s2 { color: #e6db74 } /* Literal.String.Double */
  [data-md-color-scheme="polar-dark"] .md-typeset .se { color: #ae81ff } /* Literal.String.Escape */
  [data-md-color-scheme="polar-dark"] .md-typeset .sh { color: #e6db74 } /* Literal.String.Heredoc */
  [data-md-color-scheme="polar-dark"] .md-typeset .si { color: #e6db74 } /* Literal.String.Interpol */
  [data-md-color-scheme="polar-dark"] .md-typeset .sx { color: #e6db74 } /* Literal.String.Other */
  [data-md-color-scheme="polar-dark"] .md-typeset .sr { color: #e6db74 } /* Literal.String.Regex */
  [data-md-color-scheme="polar-dark"] .md-typeset .s1 { color: #e6db74 } /* Literal.String.Single */
  [data-md-color-scheme="polar-dark"] .md-typeset .ss { color: #e6db74 } /* Literal.String.Symbol */
  [data-md-color-scheme="polar-dark"] .md-typeset .bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
  [data-md-color-scheme="polar-dark"] .md-typeset .vc { color: #f8f8f2 } /* Name.Variable.Class */
  [data-md-color-scheme="polar-dark"] .md-typeset .vg { color: #f8f8f2 } /* Name.Variable.Global */
  [data-md-color-scheme="polar-dark"] .md-typeset .vi { color: #f8f8f2 } /* Name.Variable.Instance */
  [data-md-color-scheme="polar-dark"] .md-typeset .il { color: #ae81ff } /* Literal.Number.Integer.Long */
  [data-md-color-scheme="polar-dark"] .md-typeset .gu { color: #75715e; } /* Generic.Subheading & Diff Unified/Comment? */
  [data-md-color-scheme="polar-dark"] .md-typeset .gd { color: #f92672; } /* Generic.Deleted & Diff Deleted */
  [data-md-color-scheme="polar-dark"] .md-typeset .gi { color: #a6e22e; } /* Generic.Inserted & Diff Inserted */

