servers :6380 {
	route /api/v1/* {
		reverse_proxy {
			to host.docker.internal:8000
			trusted_proxies private_ranges
		}
	}

	reverse_proxy {
		to host.docker.internal:3000
		trusted_proxies private_ranges
	}
}
