{% extends "base.html" %}

{% block body %}
<h1>Thank you for your order!</h1>
<p>Your order of <strong>{{ product.name }}</strong> is now processed.</strong> As part of your purchase, you have access to the following benefits:</p>
<ul>
  {% for benefit in product.benefits %}
    <li>{{ benefit.description }}</li>
  {% endfor %}
</ul>
<p>You can access them right away from Polar by clicking on the button below:</p>
<!-- Action -->
<table class="body-action" align="center" width="100%" cellpadding="0" cellspacing="0" role="presentation">
    <tr>
        <td align="center">
            <!-- Border based button
https://litmus.com/blog/a-guide-to-bulletproof-buttons-in-email-design -->
            <table width="100%" border="0" cellspacing="0" cellpadding="0" role="presentation">
                <tr>
                    <td align="center">
                        <a href="{{ url | safe }}" class="f-fallback button">Access my benefits</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!-- Sub copy -->
<table class="body-sub" role="presentation">
    <tr>
        <td>
            <p class="f-fallback sub">If you're having trouble with the button above, copy and paste the URL below into
                your web browser.</p>
            <p class="f-fallback sub"><a href="{{ url | safe }}">{{ url | safe }}</a></p>
        </td>
    </tr>
</table>
{% endblock %}
