{
    "openapi": "3.1.0",
    "info": {
        "title": "Polar API",
        "summary": "Polar HTTP and Webhooks API",
        "description": "Read the docs at https://docs.polar.sh/api",
        "version": "0.1.0"
    },
    "servers": [
        {
            "url": "https://api.polar.sh",
            "description": "Production environment",
            "x-speakeasy-server-id": "production"
        },
        {
            "url": "https://sandbox-api.polar.sh",
            "description": "Sandbox environment",
            "x-speakeasy-server-id": "sandbox"
        }
    ],
    "paths": {
        "/v1/users/me": {
            "get": {
                "tags": [
                    "users"
                ],
                "summary": "Get Authenticated",
                "operationId": "users:get_authenticated",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserRead"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oidc": []
                    },
                    {
                        "pat": []
                    }
                ],
                "x-polar-allowed-subjects": [
                    "User"
                ],
                "x-speakeasy-name-override": "get_authenticated",
                "x-speakeasy-ignore": true,
                "x-speakeasy-group": "users"
            }
        },
        "/v1/users/me/scopes": {
            "get": {
                "tags": [
                    "users"
                ],
                "summary": "Scopes",
                "operationId": "users:scopes",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserScopes"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oidc": []
                    },
                    {
                        "pat": []
                    }
                ],
                "x-polar-allowed-subjects": [
                    "User"
                ],
                "x-speakeasy-name-override": "scopes",
                "x-speakeasy-ignore": true,
                "x-speakeasy-group": "users"
            }
        },
        "/v1/users/me/account": {
            "patch": {
                "tags": [
                    "users"
                ],
                "summary": "Set Account",
                "operationId": "users:set_account",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UserSetAccount"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserRead"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oidc": []
                    },
                    {
                        "pat": []
                    }
                ],
                "x-polar-allowed-subjects": [
                    "User"
                ],
                "x-speakeasy-name-override": "set_account",
                "x-speakeasy-ignore": true,
                "x-speakeasy-group": "users"
            }
        },
        "/v1/users/me/stripe_customer_portal": {
            "post": {
                "tags": [
                    "users"
                ],
                "summary": "Create Stripe Customer Portal",
                "operationId": "users:create_stripe_customer_portal",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserStripePortalSession"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oidc": []
                    },
                    {
                        "pat": []
                    }
                ],
                "x-polar-allowed-subjects": [
                    "User"
                ],
                "x-speakeasy-name-override": "create_stripe_customer_portal",
                "x-speakeasy-ignore": true,
                "x-speakeasy-group": "users"
            }
        },
        "/v1/users/benefits/": {
            "get": {
                "tags": [
                    "users",
                    "benefits",
                    "documented",
                    "featured"
                ],
                "summary": "List Benefits",
                "description": "List my granted benefits.",
                "operationId": "users:benefits:list",
                "security": [
                    {
                        "oidc": [
                            "user:benefits:read"
                        ]
                    },
                    {
                        "pat": []
                    }
                ],
                "parameters": [
                    {
                        "name": "type",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "$ref": "#/components/schemas/BenefitType"
                                },
                                {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/BenefitType"
                                    }
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "BenefitType Filter",
                            "description": "Filter by benefit type."
                        },
                        "description": "Filter by benefit type."
                    },
                    {
                        "name": "organization_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string",
                                    "format": "uuid4",
                                    "description": "The organization ID.",
                                    "x-polar-selector-widget": {
                                        "resourceRoot": "/v1/organizations",
                                        "resourceName": "Organization",
                                        "displayProperty": "name"
                                    }
                                },
                                {
                                    "type": "array",
                                    "items": {
                                        "type": "string",
                                        "format": "uuid4",
                                        "description": "The organization ID.",
                                        "x-polar-selector-widget": {
                                            "resourceRoot": "/v1/organizations",
                                            "resourceName": "Organization",
                                            "displayProperty": "name"
                                        }
                                    }
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "OrganizationID Filter",
                            "description": "Filter by organization ID."
                        },
                        "description": "Filter by organization ID."
                    },
                    {
                        "name": "order_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string",
                                    "format": "uuid4"
                                },
                                {
                                    "type": "array",
                                    "items": {
                                        "type": "string",
                                        "format": "uuid4"
                                    }
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "OrderID Filter",
                            "description": "Filter by order ID."
                        },
                        "description": "Filter by order ID."
                    },
                    {
                        "name": "subscription_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string",
                                    "format": "uuid4"
                                },
                                {
                                    "type": "array",
                                    "items": {
                                        "type": "string",
                                        "format": "uuid4"
                                    }
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "SubscriptionID Filter",
                            "description": "Filter by subscription ID."
                        },
                        "description": "Filter by subscription ID."
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "exclusiveMinimum": 0,
                            "description": "Page number, defaults to 1.",
                            "default": 1,
                            "title": "Page"
                        },
                        "description": "Page number, defaults to 1."
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "exclusiveMinimum": 0,
                            "description": "Size of a page, defaults to 10. Maximum is 100.",
                            "default": 10,
                            "title": "Limit"
                        },
                        "description": "Size of a page, defaults to 10. Maximum is 100."
                    },
                    {
                        "name": "sorting",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/UserBenefitSortProperty"
                                    }
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "description": "Sorting criterion. Several criteria can be used simultaneously and will be applied in order. Add a minus sign `-` before the criteria name to sort by descending order.",
                            "default": [
                                "-granted_at"
                            ],
                            "title": "Sorting"
                        },
                        "description": "Sorting criterion. Several criteria can be used simultaneously and will be applied in order. Add a minus sign `-` before the criteria name to sort by descending order."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListResource_UserBenefit_"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "x-polar-allowed-subjects": [
                    "User"
                ],
                "x-speakeasy-pagination": {
                    "type": "offsetLimit",
                    "inputs": [
                        {
                            "name": "page",
                            "in": "parameters",
                            "type": "page"
                        },
                        {
                            "name": "limit",
                            "in": "parameters",
                            "type": "limit"
                        }
                    ],
                    "outputs": {
                        "results": "$.items",
                        "numPages": "$.pagination.max_page"
                    }
                },
                "x-speakeasy-group": "users.benefits",
                "x-speakeasy-name-override": "list"
            }
        },
        "/v1/users/benefits/{id}": {
            "get": {
                "tags": [
                    "users",
                    "benefits",
                    "documented",
                    "featured"
                ],
                "summary": "Get Benefit",
                "description": "Get a granted benefit by ID.",
                "operationId": "users:benefits:get",
                "security": [
                    {
                        "oidc": [
                            "user:benefits:read"
                        ]
                    },
                    {
                        "pat": []
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid4",
                            "description": "The benefit ID.",
                            "title": "Id"
                        },
                        "description": "The benefit ID."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "$ref": "#/components/schemas/BenefitArticlesSubscriber"
                                        },
                                        {
                                            "$ref": "#/components/schemas/BenefitAdsSubscriber"
                                        },
                                        {
                                            "$ref": "#/components/schemas/BenefitDiscordSubscriber"
                                        },
                                        {
                                            "$ref": "#/components/schemas/BenefitCustomSubscriber"
                                        },
                                        {
                                            "$ref": "#/components/schemas/BenefitGitHubRepositorySubscriber"
                                        },
                                        {
                                            "$ref": "#/components/schemas/BenefitDownloadablesSubscriber"
                                        },
                                        {
                                            "$ref": "#/components/schemas/BenefitLicenseKeysSubscriber"
                                        }
                                    ],
                                    "discriminator": {
                                        "propertyName": "type",
                                        "mapping": {
                                            "articles": "#/components/schemas/BenefitArticlesSubscriber",
                                            "ads": "#/components/schemas/BenefitAdsSubscriber",
                                            "discord": "#/components/schemas/BenefitDiscordSubscriber",
                                            "custom": "#/components/schemas/BenefitCustomSubscriber",
                                            "github_repository": "#/components/schemas/BenefitGitHubRepositorySubscriber",
                                            "downloadables": "#/components/schemas/BenefitDownloadablesSubscriber",
                                            "license_keys": "#/components/schemas/BenefitLicenseKeysSubscriber"
                                        }
                                    },
                                    "title": "Response Users:Benefits:Get"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Benefit not found or not granted.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResourceNotFound"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "x-polar-allowed-subjects": [
                    "User"
                ],
                "x-speakeasy-group": "users.benefits",
                "x-speakeasy-name-override": "get"
            }
        },
        "/v1/users/orders/": {
            "get": {
                "tags": [
                    "users",
                    "orders",
                    "documented",
                    "featured"
                ],
                "summary": "List Orders",
                "description": "List my orders.",
                "operationId": "users:orders:list",
                "security": [
                    {
                        "oidc": [
                            "user:orders:read"
                        ]
                    },
                    {
                        "pat": []
                    }
                ],
                "parameters": [
                    {
                        "name": "organization_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string",
                                    "format": "uuid4",
                                    "description": "The organization ID.",
                                    "x-polar-selector-widget": {
                                        "resourceRoot": "/v1/organizations",
                                        "resourceName": "Organization",
                                        "displayProperty": "name"
                                    }
                                },
                                {
                                    "type": "array",
                                    "items": {
                                        "type": "string",
                                        "format": "uuid4",
                                        "description": "The organization ID.",
                                        "x-polar-selector-widget": {
                                            "resourceRoot": "/v1/organizations",
                                            "resourceName": "Organization",
                                            "displayProperty": "name"
                                        }
                                    }
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "OrganizationID Filter",
                            "description": "Filter by organization ID."
                        },
                        "description": "Filter by organization ID."
                    },
                    {
                        "name": "product_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string",
                                    "format": "uuid4",
                                    "description": "The product ID.",
                                    "x-polar-selector-widget": {
                                        "resourceRoot": "/v1/products",
                                        "resourceName": "Product",
                                        "displayProperty": "name"
                                    }
                                },
                                {
                                    "type": "array",
                                    "items": {
                                        "type": "string",
                                        "format": "uuid4",
                                        "description": "The product ID.",
                                        "x-polar-selector-widget": {
                                            "resourceRoot": "/v1/products",
                                            "resourceName": "Product",
                                            "displayProperty": "name"
                                        }
                                    }
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "ProductID Filter",
                            "description": "Filter by product ID."
                        },
                        "description": "Filter by product ID."
                    },
                    {
                        "name": "product_price_type",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "$ref": "#/components/schemas/ProductPriceType"
                                },
                                {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/ProductPriceType"
                                    }
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "ProductPriceType Filter",
                            "description": "Filter by product price type. `recurring` will return orders corresponding to subscriptions creations or renewals. `one_time` will return orders corresponding to one-time purchases."
                        },
                        "description": "Filter by product price type. `recurring` will return orders corresponding to subscriptions creations or renewals. `one_time` will return orders corresponding to one-time purchases."
                    },
                    {
                        "name": "subscription_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string",
                                    "format": "uuid4"
                                },
                                {
                                    "type": "array",
                                    "items": {
                                        "type": "string",
                                        "format": "uuid4"
                                    }
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "SubscriptionID Filter",
                            "description": "Filter by subscription ID."
                        },
                        "description": "Filter by subscription ID."
                    },
                    {
                        "name": "query",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "description": "Search by product or organization name.",
                            "title": "Query"
                        },
                        "description": "Search by product or organization name."
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "exclusiveMinimum": 0,
                            "description": "Page number, defaults to 1.",
                            "default": 1,
                            "title": "Page"
                        },
                        "description": "Page number, defaults to 1."
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "exclusiveMinimum": 0,
                            "description": "Size of a page, defaults to 10. Maximum is 100.",
                            "default": 10,
                            "title": "Limit"
                        },
                        "description": "Size of a page, defaults to 10. Maximum is 100."
                    },
                    {
                        "name": "sorting",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/UserOrderSortProperty"
                                    }
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "description": "Sorting criterion. Several criteria can be used simultaneously and will be applied in order. Add a minus sign `-` before the criteria name to sort by descending order.",
                            "default": [
                                "-created_at"
                            ],
                            "title": "Sorting"
                        },
                        "description": "Sorting criterion. Several criteria can be used simultaneously and will be applied in order. Add a minus sign `-` before the criteria name to sort by descending order."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListResource_UserOrder_"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "x-polar-allowed-subjects": [
                    "User"
                ],
                "x-speakeasy-pagination": {
                    "type": "offsetLimit",
                    "inputs": [
                        {
                            "name": "page",
                            "in": "parameters",
                            "type": "page"
                        },
                        {
                            "name": "limit",
                            "in": "parameters",
                            "type": "limit"
                        }
                    ],
                    "outputs": {
                        "results": "$.items",
                        "numPages": "$.pagination.max_page"
                    }
                },
                "x-speakeasy-group": "users.orders",
                "x-speakeasy-name-override": "list"
            }
        },
        "/v1/users/orders/{id}": {
            "get": {
                "tags": [
                    "users",
                    "orders",
                    "documented",
                    "featured"
                ],
                "summary": "Get Order",
                "description": "Get an order by ID.",
                "operationId": "users:orders:get",
                "security": [
                    {
                        "oidc": [
                            "user:orders:read"
                        ]
                    },
                    {
                        "pat": []
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid4",
                            "description": "The order ID.",
                            "title": "Id"
                        },
                        "description": "The order ID."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserOrder"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Order not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResourceNotFound"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "x-polar-allowed-subjects": [
                    "User"
                ],
                "x-speakeasy-group": "users.orders",
                "x-speakeasy-name-override": "get"
            }
        },
        "/v1/users/orders/{id}/invoice": {
            "get": {
                "tags": [
                    "users",
                    "orders",
                    "documented",
                    "featured"
                ],
                "summary": "Get Order Invoice",
                "description": "Get an order's invoice data.",
                "operationId": "users:orders:invoice",
                "security": [
                    {
                        "oidc": [
                            "user:orders:read"
                        ]
                    },
                    {
                        "pat": []
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid4",
                            "description": "The order ID.",
                            "title": "Id"
                        },
                        "description": "The order ID."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserOrderInvoice"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Order not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResourceNotFound"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "x-polar-allowed-subjects": [
                    "User"
                ],
                "x-speakeasy-group": "users.orders",
                "x-speakeasy-name-override": "invoice"
            }
        },
        "/v1/users/subscriptions/": {
            "get": {
                "tags": [
                    "users",
                    "subscriptions",
                    "documented",
                    "featured"
                ],
                "summary": "List Subscriptions",
                "description": "List my subscriptions.",
                "operationId": "users:subscriptions:list",
                "security": [
                    {
                        "oidc": [
                            "user:subscriptions:read"
                        ]
                    },
                    {
                        "pat": []
                    }
                ],
                "parameters": [
                    {
                        "name": "organization_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string",
                                    "format": "uuid4",
                                    "description": "The organization ID.",
                                    "x-polar-selector-widget": {
                                        "resourceRoot": "/v1/organizations",
                                        "resourceName": "Organization",
                                        "displayProperty": "name"
                                    }
                                },
                                {
                                    "type": "array",
                                    "items": {
                                        "type": "string",
                                        "format": "uuid4",
                                        "description": "The organization ID.",
                                        "x-polar-selector-widget": {
                                            "resourceRoot": "/v1/organizations",
                                            "resourceName": "Organization",
                                            "displayProperty": "name"
                                        }
                                    }
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "OrganizationID Filter",
                            "description": "Filter by organization ID."
                        },
                        "description": "Filter by organization ID."
                    },
                    {
                        "name": "product_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string",
                                    "format": "uuid4",
                                    "description": "The product ID.",
                                    "x-polar-selector-widget": {
                                        "resourceRoot": "/v1/products",
                                        "resourceName": "Product",
                                        "displayProperty": "name"
                                    }
                                },
                                {
                                    "type": "array",
                                    "items": {
                                        "type": "string",
                                        "format": "uuid4",
                                        "description": "The product ID.",
                                        "x-polar-selector-widget": {
                                            "resourceRoot": "/v1/products",
                                            "resourceName": "Product",
                                            "displayProperty": "name"
                                        }
                                    }
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "ProductID Filter",
                            "description": "Filter by product ID."
                        },
                        "description": "Filter by product ID."
                    },
                    {
                        "name": "active",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "boolean"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "description": "Filter by active or cancelled subscription.",
                            "title": "Active"
                        },
                        "description": "Filter by active or cancelled subscription."
                    },
                    {
                        "name": "query",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "description": "Search by product or organization name.",
                            "title": "Query"
                        },
                        "description": "Search by product or organization name."
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "exclusiveMinimum": 0,
                            "description": "Page number, defaults to 1.",
                            "default": 1,
                            "title": "Page"
                        },
                        "description": "Page number, defaults to 1."
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "exclusiveMinimum": 0,
                            "description": "Size of a page, defaults to 10. Maximum is 100.",
                            "default": 10,
                            "title": "Limit"
                        },
                        "description": "Size of a page, defaults to 10. Maximum is 100."
                    },
                    {
                        "name": "sorting",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/UserSubscriptionSortProperty"
                                    }
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "description": "Sorting criterion. Several criteria can be used simultaneously and will be applied in order. Add a minus sign `-` before the criteria name to sort by descending order.",
                            "default": [
                                "-started_at"
                            ],
                            "title": "Sorting"
                        },
                        "description": "Sorting criterion. Several criteria can be used simultaneously and will be applied in order. Add a minus sign `-` before the criteria name to sort by descending order."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListResource_UserSubscription_"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "x-polar-allowed-subjects": [
                    "User"
                ],
                "x-speakeasy-pagination": {
                    "type": "offsetLimit",
                    "inputs": [
                        {
                            "name": "page",
                            "in": "parameters",
                            "type": "page"
                        },
                        {
                            "name": "limit",
                            "in": "parameters",
                            "type": "limit"
                        }
                    ],
                    "outputs": {
                        "results": "$.items",
                        "numPages": "$.pagination.max_page"
                    }
                },
                "x-speakeasy-group": "users.subscriptions",
                "x-speakeasy-name-override": "list"
            }
        },
        "/v1/users/subscriptions/{id}": {
            "get": {
                "tags": [
                    "users",
                    "subscriptions",
                    "documented",
                    "featured"
                ],
                "summary": "Get Subscription",
                "description": "Get a subscription by ID.",
                "operationId": "users:subscriptions:get",
                "security": [
                    {
                        "oidc": [
                            "user:subscriptions:read"
                        ]
                    },
                    {
                        "pat": []
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid4",
                            "description": "The subscription ID.",
                            "title": "Id"
                        },
                        "description": "The subscription ID."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserSubscription"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Subscription not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResourceNotFound"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "x-polar-allowed-subjects": [
                    "User"
                ],
                "x-speakeasy-group": "users.subscriptions",
                "x-speakeasy-name-override": "get"
            },
            "patch": {
                "tags": [
                    "users",
                    "subscriptions",
                    "documented",
                    "featured"
                ],
                "summary": "Update Subscription",
                "description": "Update a subscription.",
                "operationId": "users:subscriptions:update",
                "security": [
                    {
                        "oidc": [
                            "user:subscriptions:write"
                        ]
                    },
                    {
                        "pat": []
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid4",
                            "description": "The subscription ID.",
                            "title": "Id"
                        },
                        "description": "The subscription ID."
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UserSubscriptionUpdate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Subscription updated.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserSubscription"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Subscription not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResourceNotFound"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "x-polar-allowed-subjects": [
                    "User"
                ],
                "x-speakeasy-group": "users.subscriptions",
                "x-speakeasy-name-override": "update"
            },
            "delete": {
                "tags": [
                    "users",
                    "subscriptions",
                    "documented",
                    "featured"
                ],
                "summary": "Cancel Subscription",
                "description": "Cancel a subscription.",
                "operationId": "users:subscriptions:cancel",
                "security": [
                    {
                        "oidc": [
                            "user:subscriptions:write"
                        ]
                    },
                    {
                        "pat": []
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid4",
                            "description": "The subscription ID.",
                            "title": "Id"
                        },
                        "description": "The subscription ID."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Subscription canceled.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserSubscription"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "This subscription is already canceled or will be at the end of the period.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AlreadyCanceledSubscription"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Subscription not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResourceNotFound"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "x-polar-allowed-subjects": [
                    "User"
                ],
                "x-speakeasy-group": "users.subscriptions",
                "x-speakeasy-name-override": "cancel"
            }
        },
        "/v1/users/advertisements/": {
            "get": {
                "tags": [
                    "users",
                    "advertisements",
                    "documented"
                ],
                "summary": "List Advertisements",
                "description": "List advertisement campaigns.",
                "operationId": "users:advertisements:list",
                "security": [
                    {
                        "oidc": [
                            "user:advertisement_campaigns:read"
                        ]
                    },
                    {
                        "pat": []
                    }
                ],
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "exclusiveMinimum": 0,
                            "description": "Page number, defaults to 1.",
                            "default": 1,
                            "title": "Page"
                        },
                        "description": "Page number, defaults to 1."
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "exclusiveMinimum": 0,
                            "description": "Size of a page, defaults to 10. Maximum is 100.",
                            "default": 10,
                            "title": "Limit"
                        },
                        "description": "Size of a page, defaults to 10. Maximum is 100."
                    },
                    {
                        "name": "sorting",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/UserAdvertisementSortProperty"
                                    }
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "description": "Sorting criterion. Several criteria can be used simultaneously and will be applied in order. Add a minus sign `-` before the criteria name to sort by descending order.",
                            "default": [
                                "-created_at"
                            ],
                            "title": "Sorting"
                        },
                        "description": "Sorting criterion. Several criteria can be used simultaneously and will be applied in order. Add a minus sign `-` before the criteria name to sort by descending order."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListResource_UserAdvertisementCampaign_"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "x-polar-allowed-subjects": [
                    "User"
                ],
                "x-speakeasy-pagination": {
                    "type": "offsetLimit",
                    "inputs": [
                        {
                            "name": "page",
                            "in": "parameters",
                            "type": "page"
                        },
                        {
                            "name": "limit",
                            "in": "parameters",
                            "type": "limit"
                        }
                    ],
                    "outputs": {
                        "results": "$.items",
                        "numPages": "$.pagination.max_page"
                    }
                },
                "x-speakeasy-group": "users.advertisements",
                "x-speakeasy-name-override": "list"
            },
            "post": {
                "tags": [
                    "users",
                    "advertisements",
                    "documented"
                ],
                "summary": "Create Advertisement",
                "description": "Create an advertisement campaign.",
                "operationId": "users:advertisements:create",
                "security": [
                    {
                        "oidc": [
                            "user:advertisement_campaigns:write"
                        ]
                    },
                    {
                        "pat": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UserAdvertisementCampaignCreate"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Advertisement campaign created.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserAdvertisementCampaign"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "x-polar-allowed-subjects": [
                    "User"
                ],
                "x-speakeasy-group": "users.advertisements",
                "x-speakeasy-name-override": "create"
            }
        },
        "/v1/users/advertisements/{id}": {
            "get": {
                "tags": [
                    "users",
                    "advertisements",
                    "documented"
                ],
                "summary": "Get Advertisement",
                "description": "Get an advertisement campaign by ID.",
                "operationId": "users:advertisements:get",
                "security": [
                    {
                        "oidc": [
                            "user:advertisement_campaigns:read"
                        ]
                    },
                    {
                        "pat": []
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid4",
                            "description": "The advertisement campaign ID.",
                            "title": "Id"
                        },
                        "description": "The advertisement campaign ID."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserAdvertisementCampaign"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Advertisement campaign not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResourceNotFound"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "x-polar-allowed-subjects": [
                    "User"
                ],
                "x-speakeasy-group": "users.advertisements",
                "x-speakeasy-name-override": "get"
            },
            "patch": {
                "tags": [
                    "users",
                    "advertisements",
                    "documented"
                ],
                "summary": "Update Advertisement",
                "description": "Update an advertisement campaign.",
                "operationId": "users:advertisements:update",
                "security": [
                    {
                        "oidc": [
                            "user:advertisement_campaigns:write"
                        ]
                    },
                    {
                        "pat": []
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid4",
                            "description": "The advertisement campaign ID.",
                            "title": "Id"
                        },
                        "description": "The advertisement campaign ID."
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UserAdvertisementCampaignUpdate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Advertisement campaign updated.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserAdvertisementCampaign"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Advertisement campaign not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResourceNotFound"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "x-polar-allowed-subjects": [
                    "User"
                ],
                "x-speakeasy-group": "users.advertisements",
                "x-speakeasy-name-override": "update"
            },
            "delete": {
                "tags": [
                    "users",
                    "advertisements",
                    "documented"
                ],
                "summary": "Delete Advertisement",
                "description": "Delete an advertisement campaign.\n\nIt'll be automatically disabled on all granted benefits.",
                "operationId": "users:advertisements:delete",
                "security": [
                    {
                        "oidc": [
                            "user:advertisement_campaigns:write"
                        ]
                    },
                    {
                        "pat": []
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid4",
                            "description": "The advertisement campaign ID.",
                            "title": "Id"
                        },
                        "description": "The advertisement campaign ID."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "204": {
                        "description": "Advertisement campaign deleted."
                    },
                    "404": {
                        "description": "Advertisement campaign not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResourceNotFound"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "x-polar-allowed-subjects": [
                    "User"
                ],
                "x-speakeasy-group": "users.advertisements",
                "x-speakeasy-name-override": "delete"
            }
        },
        "/v1/users/advertisements/{id}/enable": {
            "post": {
                "tags": [
                    "users",
                    "advertisements",
                    "documented"
                ],
                "summary": "Enable Advertisement",
                "description": "Enable an advertisement campaign on a granted benefit.",
                "operationId": "users:advertisements:enable",
                "security": [
                    {
                        "oidc": [
                            "user:advertisement_campaigns:write"
                        ]
                    },
                    {
                        "pat": []
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid4",
                            "description": "The advertisement campaign ID.",
                            "title": "Id"
                        },
                        "description": "The advertisement campaign ID."
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UserAdvertisementCampaignEnable"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "Advertisement campaign enabled on benefit."
                    },
                    "404": {
                        "description": "Advertisement campaign not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResourceNotFound"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "x-polar-allowed-subjects": [
                    "User"
                ],
                "x-speakeasy-group": "users.advertisements",
                "x-speakeasy-name-override": "enable"
            }
        },
        "/v1/users/downloadables/": {
            "get": {
                "tags": [
                    "users",
                    "downloadables",
                    "documented",
                    "featured"
                ],
                "summary": "List Downloadables",
                "operationId": "users:downloadables:list",
                "security": [
                    {
                        "oidc": [
                            "user:downloadables:read"
                        ]
                    },
                    {
                        "pat": []
                    }
                ],
                "parameters": [
                    {
                        "name": "organization_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string",
                                    "format": "uuid4",
                                    "description": "The organization ID.",
                                    "x-polar-selector-widget": {
                                        "resourceRoot": "/v1/organizations",
                                        "resourceName": "Organization",
                                        "displayProperty": "name"
                                    }
                                },
                                {
                                    "type": "array",
                                    "items": {
                                        "type": "string",
                                        "format": "uuid4",
                                        "description": "The organization ID.",
                                        "x-polar-selector-widget": {
                                            "resourceRoot": "/v1/organizations",
                                            "resourceName": "Organization",
                                            "displayProperty": "name"
                                        }
                                    }
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "OrganizationID Filter",
                            "description": "Filter by organization ID."
                        },
                        "description": "Filter by organization ID."
                    },
                    {
                        "name": "benefit_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string",
                                    "format": "uuid4",
                                    "description": "The benefit ID.",
                                    "x-polar-selector-widget": {
                                        "resourceRoot": "/v1/benefits",
                                        "resourceName": "Benefit",
                                        "displayProperty": "description"
                                    }
                                },
                                {
                                    "type": "array",
                                    "items": {
                                        "type": "string",
                                        "format": "uuid4",
                                        "description": "The benefit ID.",
                                        "x-polar-selector-widget": {
                                            "resourceRoot": "/v1/benefits",
                                            "resourceName": "Benefit",
                                            "displayProperty": "description"
                                        }
                                    }
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "BenefitID Filter",
                            "description": "Filter by given benefit ID. "
                        },
                        "description": "Filter by given benefit ID. "
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "exclusiveMinimum": 0,
                            "description": "Page number, defaults to 1.",
                            "default": 1,
                            "title": "Page"
                        },
                        "description": "Page number, defaults to 1."
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "exclusiveMinimum": 0,
                            "description": "Size of a page, defaults to 10. Maximum is 100.",
                            "default": 10,
                            "title": "Limit"
                        },
                        "description": "Size of a page, defaults to 10. Maximum is 100."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListResource_DownloadableRead_"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "x-polar-allowed-subjects": [
                    "User"
                ],
                "x-speakeasy-pagination": {
                    "type": "offsetLimit",
                    "inputs": [
                        {
                            "name": "page",
                            "in": "parameters",
                            "type": "page"
                        },
                        {
                            "name": "limit",
                            "in": "parameters",
                            "type": "limit"
                        }
                    ],
                    "outputs": {
                        "results": "$.items",
                        "numPages": "$.pagination.max_page"
                    }
                },
                "x-speakeasy-group": "users.downloadables",
                "x-speakeasy-name-override": "list"
            }
        },
        "/v1/users/downloadables/{token}": {
            "get": {
                "tags": [
                    "users",
                    "downloadables",
                    "documented",
                    "featured"
                ],
                "summary": "Get Downloadable",
                "operationId": "users:downloadables:get",
                "security": [
                    {
                        "oidc": [
                            "user:downloadables:read"
                        ]
                    },
                    {
                        "pat": []
                    }
                ],
                "parameters": [
                    {
                        "name": "token",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Token"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "302": {
                        "description": "Redirected to download"
                    },
                    "400": {
                        "description": "Invalid signature"
                    },
                    "404": {
                        "description": "Downloadable not found"
                    },
                    "410": {
                        "description": "Expired signature"
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "x-polar-allowed-subjects": [
                    "User"
                ],
                "x-speakeasy-group": "users.downloadables",
                "x-speakeasy-name-override": "get"
            }
        },
        "/v1/users/license-keys/": {
            "get": {
                "tags": [
                    "users",
                    "license_keys",
                    "documented",
                    "featured"
                ],
                "summary": "List License Keys",
                "operationId": "users:license_keys:list",
                "security": [
                    {
                        "oidc": [
                            "user:license_keys:read"
                        ]
                    },
                    {
                        "pat": []
                    }
                ],
                "parameters": [
                    {
                        "name": "organization_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string",
                                    "format": "uuid4",
                                    "description": "The organization ID.",
                                    "x-polar-selector-widget": {
                                        "resourceRoot": "/v1/organizations",
                                        "resourceName": "Organization",
                                        "displayProperty": "name"
                                    }
                                },
                                {
                                    "type": "array",
                                    "items": {
                                        "type": "string",
                                        "format": "uuid4",
                                        "description": "The organization ID.",
                                        "x-polar-selector-widget": {
                                            "resourceRoot": "/v1/organizations",
                                            "resourceName": "Organization",
                                            "displayProperty": "name"
                                        }
                                    }
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "OrganizationID Filter",
                            "description": "Filter by organization ID."
                        },
                        "description": "Filter by organization ID."
                    },
                    {
                        "name": "benefit_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string",
                                    "format": "uuid4",
                                    "description": "The benefit ID.",
                                    "x-polar-selector-widget": {
                                        "resourceRoot": "/v1/benefits",
                                        "resourceName": "Benefit",
                                        "displayProperty": "description"
                                    }
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "description": "Filter by a specific benefit",
                            "title": "Benefit Id"
                        },
                        "description": "Filter by a specific benefit"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "exclusiveMinimum": 0,
                            "description": "Page number, defaults to 1.",
                            "default": 1,
                            "title": "Page"
                        },
                        "description": "Page number, defaults to 1."
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "exclusiveMinimum": 0,
                            "description": "Size of a page, defaults to 10. Maximum is 100.",
                            "default": 10,
                            "title": "Limit"
                        },
                        "description": "Size of a page, defaults to 10. Maximum is 100."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListResource_LicenseKeyRead_"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Not authorized to manage license key.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "License key not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResourceNotFound"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "x-polar-allowed-subjects": [
                    "User"
                ],
                "x-speakeasy-pagination": {
                    "type": "offsetLimit",
                    "inputs": [
                        {
                            "name": "page",
                            "in": "parameters",
                            "type": "page"
                        },
                        {
                            "name": "limit",
                            "in": "parameters",
                            "type": "limit"
                        }
                    ],
                    "outputs": {
                        "results": "$.items",
                        "numPages": "$.pagination.max_page"
                    }
                },
                "x-speakeasy-group": "users.license_keys",
                "x-speakeasy-name-override": "list"
            }
        },
        "/v1/users/license-keys/{id}": {
            "get": {
                "tags": [
                    "users",
                    "license_keys",
                    "documented",
                    "featured"
                ],
                "summary": "Get License Key",
                "description": "Get a license key.",
                "operationId": "users:license_keys:get",
                "security": [
                    {
                        "oidc": [
                            "user:license_keys:read"
                        ]
                    },
                    {
                        "pat": []
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid4",
                            "title": "Id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LicenseKeyWithActivations"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Not authorized to manage license key.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "License key not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResourceNotFound"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "x-polar-allowed-subjects": [
                    "User"
                ],
                "x-speakeasy-group": "users.license_keys",
                "x-speakeasy-name-override": "get"
            }
        },
        "/v1/users/license-keys/validate": {
            "post": {
                "tags": [
                    "users",
                    "license_keys",
                    "documented",
                    "featured"
                ],
                "summary": "Validate License Key",
                "description": "Validate a license key.",
                "operationId": "users:license_keys:validate",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/LicenseKeyValidate"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidatedLicenseKey"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "License key not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResourceNotFound"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
[...]
