{
    "openapi": "3.0.2",
    "info": {
        "title": "Polar API",
        "description": "\nWelcome to the **Polar API** for [polar.sh](https://polar.sh).\n\nThe Public API is currently a [work in progress](https://github.com/polarsource/polar/issues/834) and is in active development. 🚀\n\n#### Authentication\n\nUse a [Personal Access Token](https://polar.sh/settings/tokens) and send it in the `Authorization` header on the format `Bearer [YOUR_TOKEN]`.\n\n#### Feedback\n\nIf you have any feedback or comments, reach out in the [Polar API-issue](https://github.com/polarsource/polar/issues/834), or reach out on the Polar Discord server.\n\nWe'd love to see what you've built with the API and to get your thoughts on how we can make the API better!\n\n#### Connecting\n\nThe Polar API is online at `https://api.polar.sh`.\n",
        "version": "0.1.0",
        "x-logo": {
            "url": "https://blog.polar.sh/content/images/2023/07/Frame-647--1-.png"
        }
    },
    "servers": [
        {
            "url": "https://api.polar.sh"
        }
    ],
    "paths": {
        "/healthz": {
            "get": {
                "tags": [
                    "health"
                ],
                "summary": "Healthz",
                "operationId": "health:healthz",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "Response Health:Healthz",
                                    "type": "object",
                                    "additionalProperties": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            }
        },
        "/readyz": {
            "get": {
                "tags": [
                    "health"
                ],
                "summary": "Readyz",
                "operationId": "health:readyz",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "Response Health:Readyz",
                                    "type": "object",
                                    "additionalProperties": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            }
        },
        "/api/v1/users/me": {
            "get": {
                "tags": [
                    "users"
                ],
                "summary": "Get Authenticated",
                "operationId": "users:get_authenticated",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserRead"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "users"
                ],
                "summary": "Update Preferences",
                "operationId": "users:update_preferences",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UserUpdateSettings"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserRead"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            }
        },
        "/api/v1/users/me/token": {
            "post": {
                "tags": [
                    "users"
                ],
                "summary": "Create Token",
                "operationId": "users:create_token",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LoginResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            }
        },
        "/api/v1/users/logout": {
            "get": {
                "tags": [
                    "users"
                ],
                "summary": "Logout",
                "operationId": "users:logout",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LogoutResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            }
        },
        "/api/v1/users/me/stripe_customer_portal": {
            "post": {
                "tags": [
                    "users"
                ],
                "summary": "Create Stripe Customer Portal",
                "operationId": "users:create_stripe_customer_portal",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserStripePortalSession"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            }
        },
        "/api/v1/integrations/github/authorize": {
            "get": {
                "tags": [
                    "integrations"
                ],
                "summary": "Github Authorize",
                "operationId": "integrations:github_authorize",
                "parameters": [
                    {
                        "required": false,
                        "schema": {
                            "title": "Payment Intent Id",
                            "type": "string"
                        },
                        "name": "payment_intent_id",
                        "in": "query"
                    },
                    {
                        "required": false,
                        "schema": {
                            "title": "Goto Url",
                            "type": "string"
                        },
                        "name": "goto_url",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AuthorizationResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            }
        },
        "/api/v1/integrations/github/callback": {
            "get": {
                "tags": [
                    "integrations"
                ],
                "summary": "Github Callback",
                "operationId": "integrations:github_callback",
                "parameters": [
                    {
                        "required": false,
                        "schema": {
                            "title": "Code",
                            "type": "string"
                        },
                        "name": "code",
                        "in": "query"
                    },
                    {
                        "required": false,
                        "schema": {
                            "title": "Code Verifier",
                            "type": "string"
                        },
                        "name": "code_verifier",
                        "in": "query"
                    },
                    {
                        "required": false,
                        "schema": {
                            "title": "State",
                            "type": "string"
                        },
                        "name": "state",
                        "in": "query"
                    },
                    {
                        "required": false,
                        "schema": {
                            "title": "Error",
                            "type": "string"
                        },
                        "name": "error",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LoginResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            }
        },
        "/api/v1/integrations/github/{org}/{repo}/issues/{number}/badges/{badge_type}": {
            "get": {
                "tags": [
                    "integrations"
                ],
                "summary": "Get Badge Settings",
                "operationId": "integrations:get_badge_settings",
                "parameters": [
                    {
                        "required": true,
                        "schema": {
                            "title": "Org",
                            "type": "string"
                        },
                        "name": "org",
                        "in": "path"
                    },
                    {
                        "required": true,
                        "schema": {
                            "title": "Repo",
                            "type": "string"
                        },
                        "name": "repo",
                        "in": "path"
                    },
                    {
                        "required": true,
                        "schema": {
                            "title": "Number",
                            "type": "integer"
                        },
                        "name": "number",
                        "in": "path"
                    },
                    {
                        "required": true,
                        "schema": {
                            "title": "Badge Type",
                            "enum": [
                                "pledge"
                            ],
                            "type": "string"
                        },
                        "name": "badge_type",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GithubBadgeRead"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            }
        },
        "/api/v1/integrations/github/lookup_user": {
            "post": {
                "tags": [
                    "integrations"
                ],
                "summary": "Lookup User",
                "operationId": "integrations:lookup_user",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/LookupUserRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GithubUser"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            }
        },
        "/api/v1/integrations/github/installations": {
            "post": {
                "tags": [
                    "integrations"
                ],
                "summary": "Install",
                "operationId": "integrations:install",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/InstallationCreate"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OrganizationPrivateRead"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            }
        },
        "/api/v1/integrations/github/webhook": {
            "post": {
                "tags": [
                    "integrations"
                ],
                "summary": "Webhook",
                "operationId": "integrations:webhook",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/polar__integrations__github__endpoints__WebhookResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            }
        },
        "/api/v1/integrations/stripe/return": {
            "get": {
                "tags": [
                    "integrations"
                ],
                "summary": "Stripe Connect Return",
                "operationId": "integrations:stripe_connect_return",
                "parameters": [
                    {
                        "required": true,
                        "schema": {
                            "title": "Stripe Id",
                            "type": "string"
                        },
                        "name": "stripe_id",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            }
        },
        "/api/v1/integrations/stripe/refresh": {
            "get": {
                "tags": [
                    "integrations"
                ],
                "summary": "Stripe Connect Refresh",
                "operationId": "integrations:stripe_connect_refresh",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/polar__integrations__stripe__endpoints__WebhookResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            }
        },
        "/api/v1/integrations/stripe/webhook": {
            "post": {
                "tags": [
                    "integrations"
                ],
                "summary": "Webhook",
                "operationId": "integrations:webhook",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/polar__integrations__stripe__endpoints__WebhookResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            }
        },
        "/api/v1/backoffice/pledges": {
            "get": {
                "tags": [
                    "backoffice"
                ],
                "summary": "Pledges",
                "operationId": "backoffice:pledges",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "Response Backoffice:Pledges",
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/BackofficePledge"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            }
        },
        "/api/v1/backoffice/rewards/by_issue": {
            "get": {
                "tags": [
                    "backoffice"
                ],
                "summary": "Rewards",
                "operationId": "backoffice:rewards",
                "parameters": [
                    {
                        "required": false,
                        "schema": {
                            "title": "Issue Id",
                            "type": "string",
                            "format": "uuid"
                        },
                        "name": "issue_id",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListResource_BackofficeReward_"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            }
        },
        "/api/v1/backoffice/rewards/pending": {
            "get": {
                "tags": [
                    "backoffice"
                ],
                "summary": "Rewards Pending",
                "operationId": "backoffice:rewards_pending",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListResource_BackofficeReward_"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            }
        },
        "/api/v1/backoffice/issue/{id}": {
            "get": {
                "tags": [
                    "backoffice"
                ],
                "summary": "Issue",
                "operationId": "backoffice:issue",
                "parameters": [
                    {
                        "required": true,
                        "schema": {
                            "title": "Id",
                            "type": "string",
                            "format": "uuid"
                        },
                        "name": "id",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Issue"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            }
        },
        "/api/v1/backoffice/pledges/approve": {
            "post": {
                "tags": [
                    "backoffice"
                ],
                "summary": "Pledge Reward Transfer",
                "operationId": "backoffice:pledge_reward_transfer",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PledgeRewardTransfer"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BackofficeReward"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            }
        },
        "/api/v1/backoffice/pledges/mark_pending/{pledge_id}": {
            "post": {
                "tags": [
                    "backoffice"
                ],
                "summary": "Pledge Mark Pending",
                "operationId": "backoffice:pledge_mark_pending",
                "parameters": [
                    {
                        "required": true,
                        "schema": {
                            "title": "Pledge Id",
                            "type": "string",
                            "format": "uuid"
                        },
                        "name": "pledge_id",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BackofficePledge"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            }
        },
        "/api/v1/backoffice/pledges/create_invoice/{pledge_id}": {
            "post": {
                "tags": [
                    "backoffice"
                ],
                "summary": "Pledge Create Invoice",
                "operationId": "backoffice:pledge_create_invoice",
                "parameters": [
                    {
                        "required": true,
                        "schema": {
                            "title": "Pledge Id",
                            "type": "string",
                            "format": "uuid"
                        },
                        "name": "pledge_id",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BackofficePledge"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            }
        },
        "/api/v1/backoffice/pledges/mark_disputed/{pledge_id}": {
            "post": {
                "tags": [
                    "backoffice"
                ],
                "summary": "Pledge Mark Disputed",
                "operationId": "backoffice:pledge_mark_disputed",
                "parameters": [
                    {
                        "required": true,
                        "schema": {
                            "title": "Pledge Id",
                            "type": "string",
                            "format": "uuid"
                        },
                        "name": "pledge_id",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BackofficePledge"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            }
        },
        "/api/v1/backoffice/organization/sync/{name}": {
            "post": {
                "tags": [
                    "backoffice"
                ],
                "summary": "Organization Sync",
                "operationId": "backoffice:organization_sync",
                "parameters": [
                    {
                        "required": true,
                        "schema": {
                            "title": "Name",
                            "type": "string"
                        },
                        "name": "name",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OrganizationPrivateRead"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            }
        },
        "/api/v1/backoffice/badge": {
            "post": {
                "tags": [
                    "backoffice"
                ],
                "summary": "Manage Badge",
                "operationId": "backoffice:manage_badge",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BackofficeBadge"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BackofficeBadgeResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            }
        },
        "/api/v1/dashboard/personal": {
            "get": {
                "tags": [
                    "dashboard"
                ],
                "summary": "Get Personal Dashboard",
                "operationId": "dashboard:get_personal_dashboard",
                "parameters": [
                    {
                        "required": false,
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/components/schemas/IssueListType"
                                }
                            ],
                            "default": "issues"
                        },
                        "name": "issue_list_type",
                        "in": "query"
                    },
                    {
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/components/schemas/IssueStatus"
                            }
                        },
                        "name": "status",
                        "in": "query"
                    },
                    {
                        "required": false,
                        "schema": {
                            "title": "Q",
                            "type": "string"
                        },
                        "name": "q",
                        "in": "query"
                    },
                    {
                        "required": false,
                        "schema": {
                            "$ref": "#/components/schemas/IssueSortBy"
                        },
                        "name": "sort",
                        "in": "query"
                    },
                    {
                        "required": false,
                        "schema": {
                            "title": "Only Pledged",
                            "type": "boolean",
                            "default": false
                        },
                        "name": "only_pledged",
                        "in": "query"
                    },
                    {
                        "required": false,
                        "schema": {
                            "title": "Only Badged",
                            "type": "boolean",
                            "default": false
                        },
                        "name": "only_badged",
                        "in": "query"
                    },
                    {
                        "required": false,
                        "schema": {
                            "title": "Page",
                            "type": "integer",
                            "default": 1
                        },
                        "name": "page",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/IssueListResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            }
        },
        "/api/v1/dashboard/{platform}/{org_name}": {
            "get": {
                "tags": [
                    "dashboard"
                ],
                "summary": "Get Dashboard",
                "operationId": "dashboard:get_dashboard",
                "parameters": [
                    {
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/Platforms"
                        },
                        "name": "platform",
                        "in": "path"
                    },
                    {
                        "required": true,
                        "schema": {
                            "title": "Org Name",
                            "type": "string"
                        },
                        "name": "org_name",
                        "in": "path"
                    },
                    {
                        "required": false,
                        "schema": {
                            "title": "Repo Name",
                            "type": "string"
                        },
                        "name": "repo_name",
                        "in": "query"
                    },
                    {
                        "required": false,
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/components/schemas/IssueListType"
                                }
                            ],
                            "default": "issues"
                        },
                        "name": "issue_list_type",
                        "in": "query"
                    },
                    {
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/components/schemas/IssueStatus"
                            }
                        },
                        "name": "status",
                        "in": "query"
                    },
                    {
                        "required": false,
                        "schema": {
                            "title": "Q",
                            "type": "string"
                        },
                        "name": "q",
                        "in": "query"
                    },
                    {
                        "required": false,
                        "schema": {
                            "$ref": "#/components/schemas/IssueSortBy"
                        },
                        "name": "sort",
                        "in": "query"
                    },
                    {
                        "required": false,
                        "schema": {
                            "title": "Only Pledged",
                            "type": "boolean",
                            "default": false
                        },
                        "name": "only_pledged",
                        "in": "query"
                    },
                    {
                        "required": false,
                        "schema": {
                            "title": "Only Badged",
                            "type": "boolean",
                            "default": false
                        },
                        "name": "only_badged",
                        "in": "query"
                    },
                    {
                        "required": false,
                        "schema": {
                            "title": "Page",
                            "type": "integer",
                            "default": 1
                        },
                        "name": "page",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/IssueListResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            }
        },
        "/api/v1/dashboard/dummy_do_not_use": {
            "get": {
                "tags": [
                    "dashboard"
                ],
                "summary": "Dummy Do Not Use",
                "operationId": "dashboard:dummy_do_not_use",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PledgesTypeSummaries"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            }
        },
        "/api/v1/extension/{platform}/{org_name}/{repo_name}/issues": {
            "get": {
                "tags": [
                    "extension"
                ],
                "summary": "List Issues For Extension",
                "operationId": "extension:list_issues_for_extension",
                "parameters": [
                    {
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/Platforms"
                        },
                        "name": "platform",
                        "in": "path"
                    },
                    {
                        "required": true,
                        "schema": {
                            "title": "Org Name",
                            "type": "string"
                        },
                        "name": "org_name",
                        "in": "path"
                    },
                    {
                        "required": true,
                        "schema": {
                            "title": "Repo Name",
                            "type": "string"
                        },
                        "name": "repo_name",
                        "in": "path"
                    },
                    {
                        "required": true,
                        "schema": {
                            "title": "Numbers",
                            "type": "string"
                        },
                        "name": "numbers",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "Response Extension:List Issues For Extension",
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/IssueExtensionRead"
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            }
        },
        "/api/v1/funding/": {
            "get": {
                "tags": [
                    "funding"
                ],
                "summary": "List Funding",
                "operationId": "funding:list_funding",
                "parameters": [
                    {
                        "description": "Filter by organization name.",
                        "required": true,
                        "schema": {
                            "title": "Organization Name",
                            "minLength": 1,
                            "type": "string",
                            "description": "Filter by organization name."
                        },
                        "example": "my-org",
                        "name": "organization_name",
                        "in": "query"
                    },
                    {
                        "description": "Filter by repository name.",
                        "required": false,
                        "schema": {
                            "title": "Repository Name",
                            "minLength": 1,
                            "type": "string",
                            "description": "Filter by repository name."
                        },
                        "example": "my-repo",
                        "name": "repository_name",
                        "in": "query"
                    },
                    {
                        "description": "Sorting criterion. Several criteria can be used simultaneously and will be applied in order.",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/components/schemas/ListFundingSortBy"
                            },
                            "description": "Sorting criterion. Several criteria can be used simultaneously and will be applied in order.",
                            "default": [
                                "newest"
                            ]
                        },
                        "name": "sorting",
                        "in": "query"
                    },
                    {
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/Platforms"
                        },
                        "name": "platform",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListResource_IssueFunding_"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            }
        },
        "/api/v1/magic_link/request": {
            "post": {
                "tags": [
                    "magic_link"
                ],
                "summary": "Request Magic Link",
                "operationId": "magic_link:request_magic_link",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/MagicLinkRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "202": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            }
        },
        "/api/v1/magic_link/authenticate": {
            "post": {
                "tags": [
                    "magic_link"
                ],
                "summary": "Authenticate Magic Link",
                "operationId": "magic_link:authenticate_magic_link",
                "parameters": [
                    {
                        "required": true,
                        "schema": {
                            "title": "Token",
                            "type": "string"
                        },
                        "name": "token",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LoginResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            }
        },
        "/api/v1/notifications": {
            "get": {
                "tags": [
                    "notifications"
                ],
                "summary": "Get",
                "operationId": "notifications:get",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotificationsList"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            }
        },
        "/api/v1/notifications/read": {
            "post": {
                "tags": [
                    "notifications"
                ],
                "summary": "Mark Read",
                "operationId": "notifications:mark_read",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/NotificationsMarkRead"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            }
        },
        "/api/v1/repositories": {
            "get": {
                "tags": [
                    "repositories"
                ],
                "summary": "List repositories (Public API)",
                "description": "List repositories in organizations that the authenticated user is a member of. Requires authentication.",
                "operationId": "repositories:list",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListResource_Repository_"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            }
        },
        "/api/v1/repositories/search": {
            "get": {
                "tags": [
                    "repositories"
                ],
                "summary": "Search repositories (Public API)",
                "description": "Search repositories.",
                "operationId": "repositories:search",
                "parameters": [
                    {
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/Platforms"
                        },
                        "name": "platform",
                        "in": "query"
                    },
                    {
                        "required": true,
                        "schema": {
                            "title": "Organization Name",
                            "type": "string"
                        },
                        "name": "organization_name",
                        "in": "query"
                    },
                    {
                        "required": false,
                        "schema": {
                            "title": "Repository Name",
                            "type": "string"
                        },
                        "name": "repository_name",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListResource_Repository_"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            }
        },
        "/api/v1/repositories/lookup": {
            "get": {
                "tags": [
                    "repositories"
                ],
                "summary": "Lookup repositories (Public API)",
                "description": "Lookup repositories. Like search but returns at only one repository.",
                "operationId": "repositories:lookup",
                "parameters": [
                    {
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/Platforms"
                        },
                        "name": "platform",
                        "in": "query"
                    },
                    {
                        "required": true,
                        "schema": {
                            "title": "Organization Name",
                            "type": "string"
                        },
                        "name": "organization_name",
                        "in": "query"
                    },
                    {
                        "required": true,
                        "schema": {
                            "title": "Repository Name",
                            "type": "string"
                        },
                        "name": "repository_name",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Repository"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            }
        },
        "/api/v1/repositories/{id}": {
            "get": {
                "tags": [
                    "repositories"
                ],
                "summary": "Get a repository (Public API)",
                "description": "Get a repository",
                "operationId": "repositories:get",
                "parameters": [
                    {
                        "required": true,
                        "schema": {
                            "title": "Id",
                            "type": "string",
                            "format": "uuid"
                        },
                        "name": "id",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Repository"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            }
        },
        "/api/v1/rewards/search": {
            "get": {
                "tags": [
                    "rewards"
                ],
                "summary": "Search rewards (Public API)",
                "description": "Search rewards.",
                "operationId": "rewards:search",
                "parameters": [
                    {
                        "description": "Search rewards for pledges in this organization.",
                        "required": false,
                        "schema": {
                            "title": "Pledges To Organization",
                            "type": "string",
                            "description": "Search rewards for pledges in this organization.",
                            "format": "uuid"
                        },
                        "name": "pledges_to_organization",
                        "in": "query"
                    },
                    {
                        "description": "Search rewards to user.",
                        "required": false,
                        "schema": {
                            "title": "Rewards To User",
                            "type": "string",
                            "description": "Search rewards to user.",
                            "format": "uuid"
                        },
                        "name": "rewards_to_user",
                        "in": "query"
                    },
                    {
                        "description": "Search rewards to organization.",
                        "required": false,
                        "schema": {
                            "title": "Rewards To Org",
                            "type": "string",
                            "description": "Search rewards to organization.",
                            "format": "uuid"
                        },
                        "name": "rewards_to_org",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListResource_Reward_"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            }
        },
        "/api/v1/personal_access_tokens/{id}": {
            "delete": {
                "tags": [
                    "personal_access_token"
                ],
                "summary": "Delete a personal access tokens (Public API)",
                "description": "Delete a personal access tokens. Requires authentication.",
                "operationId": "personal_access_token:delete",
                "parameters": [
                    {
                        "required": true,
                        "schema": {
                            "title": "Id",
                            "type": "string",
                            "format": "uuid"
                        },
                        "name": "id",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PersonalAccessToken"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            }
        },
        "/api/v1/personal_access_tokens": {
            "get": {
                "tags": [
                    "personal_access_token"
                ],
                "summary": "List personal access tokens (Public API)",
                "description": "List personal access tokens. Requires authentication.",
                "operationId": "personal_access_token:list",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListResource_PersonalAccessToken_"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "personal_access_token"
                ],
                "summary": "Create a new personal access token (Public API)",
                "description": "Create a new personal access token. Requires authentication.",
                "operationId": "personal_access_token:create",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreatePersonalAccessToken"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CreatePersonalAccessTokenResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            }
        },
        "/api/v1/payment_methods": {
            "get": {
                "tags": [
                    "payment_methods"
                ],
                "summary": "List",
                "operationId": "payment_methods:list",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListResource_PaymentMethod_"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            }
        },
        "/api/v1/payment_methods/{id}/detach": {
            "post": {
                "tags": [
                    "payment_methods"
                ],
                "summary": "Detach",
                "operationId": "payment_methods:detach",
                "parameters": [
                    {
                        "required": true,
                        "schema": {
                            "title": "Id",
                            "type": "string"
                        },
                        "name": "id",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaymentMethod"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            }
        },
        "/api/v1/accounts/search": {
            "get": {
                "tags": [
                    "accounts"
                ],
                "summary": "Search",
                "operationId": "accounts:search",
                "parameters": [
                    {
                        "description": "Search accounts connected to this organization. Either user_id or organization_id must be set.",
                        "required": false,
                        "schema": {
                            "title": "Organization Id",
                            "type": "string",
                            "description": "Search accounts connected to this organization. Either user_id or organization_id must be set.",
                            "format": "uuid"
                        },
                        "name": "organization_id",
                        "in": "query"
                    },
                    {
                        "description": "Search accounts connected to this user. Either user_id or organization_id must be set.",
                        "required": false,
                        "schema": {
                            "title": "User Id",
                            "type": "string",
                            "description": "Search accounts connected to this user. Either user_id or organization_id must be set.",
                            "format": "uuid"
                        },
                        "name": "user_id",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListResource_Account_"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            }
        },
        "/api/v1/accounts/{id}": {
            "get": {
                "tags": [
                    "accounts"
                ],
                "summary": "Get",
                "operationId": "accounts:get",
                "parameters": [
                    {
                        "required": true,
                        "schema": {
                            "title": "Id",
                            "type": "string",
                            "format": "uuid"
                        },
                        "name": "id",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Account"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            }
        },
        "/api/v1/accounts/{id}/onboarding_link": {
            "post": {
                "tags": [
                    "accounts"
                ],
                "summary": "Onboarding Link",
                "operationId": "accounts:onboarding_link",
                "parameters": [
                    {
                        "required": true,
                        "schema": {
                            "title": "Id",
                            "type": "string",
                            "format": "uuid"
                        },
                        "name": "id",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AccountLink"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            }
        },
        "/api/v1/accounts/{id}/dashboard_link": {
            "post": {
                "tags": [
                    "accounts"
                ],
                "summary": "Dashboard Link",
                "operationId": "accounts:dashboard_link",
                "parameters": [
                    {
                        "required": true,
                        "schema": {
                            "title": "Id",
                            "type": "string",
                            "format": "uuid"
                        },
                        "name": "id",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AccountLink"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            }
        },
        "/api/v1/accounts": {
            "post": {
                "tags": [
                    "accounts"
                ],
                "summary": "Create",
                "operationId": "accounts:create",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AccountCreate"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Account"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            }
        },
        "/api/v1/issues/search": {
            "get": {
                "tags": [
                    "issues"
                ],
                "summary": "Search issues (Public API)",
                "description": "Search issues.",
                "operationId": "issues:search",
                "parameters": [
                    {
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/Platforms"
                        },
                        "name": "platform",
                        "in": "query"
                    },
                    {
                        "required": true,
                        "schema": {
                            "title": "Organization Name",
                            "type": "string"
                        },
                        "name": "organization_name",
                        "in": "query"
                    },
                    {
                        "required": false,
                        "schema": {
                            "title": "Repository Name",
                            "type": "string"
                        },
                        "name": "repository_name",
                        "in": "query"
                    },
                    {
                        "description": "Issue sorting method",
                        "required": false,
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/components/schemas/IssueSortBy"
                                }
                            ],
                            "description": "Issue sorting method",
                            "default": "issues_default"
                        },
                        "name": "sort",
                        "in": "query"
                    },
                    {
                        "description": "Set to true to only return issues that have a pledge behind them",
                        "required": false,
                        "schema": {
                            "title": "Have Pledge",
                            "type": "boolean",
                            "description": "Set to true to only return issues that have a pledge behind them"
                        },
                        "name": "have_pledge",
                        "in": "query"
                    },
                    {
                        "description": "Set to true to only return issues that have the Polar badge in the issue description",
                        "required": false,
                        "schema": {
                            "title": "Have Badge",
                            "type": "boolean",
                            "description": "Set to true to only return issues that have the Polar badge in the issue description"
                        },
                        "name": "have_badge",
                        "in": "query"
                    },
                    {
                        "description": "Filter to only return issues connected to this GitHub milestone.",
                        "required": false,
                        "schema": {
                            "title": "Github Milestone Number",
                            "type": "integer",
                            "description": "Filter to only return issues connected to this GitHub milestone."
                        },
                        "name": "github_milestone_number",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListResource_Issue_"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            }
        },
        "/api/v1/issues/lookup": {
            "get": {
                "tags": [
                    "issues"
                ],
                "summary": "Lookup",
                "operationId": "issues:lookup",
                "parameters": [
                    {
                        "description": "URL to issue on external source",
                        "required": false,
                        "schema": {
                            "title": "External Url",
                            "type": "string",
                            "description": "URL to issue on external source"
                        },
                        "example": "https://github.com/polarsource/polar/issues/897",
                        "name": "external_url",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Issue"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            }
        },
        "/api/v1/issues/{id}/body": {
            "get": {
                "tags": [
                    "issues"
                ],
                "summary": "Get Body",
                "operationId": "issues:get_body",
                "parameters": [
                    {
                        "required": true,
                        "schema": {
                            "title": "Id",
                            "type": "string",
                            "format": "uuid"
                        },
                        "name": "id",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            }
        },
        "/api/v1/issues/for_you": {
            "get": {
                "tags": [
                    "issues"
                ],
                "summary": "For You",
                "operationId": "issues:for_you",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListResource_Issue_"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            }
        },
        "/api/v1/issues/{id}": {
            "get": {
                "tags": [
                    "issues"
                ],
                "summary": "Get issue (Public API)",
                "description": "Get issue",
                "operationId": "issues:get",
                "parameters": [
                    {
                        "required": true,
                        "schema": {
                            "title": "Id",
                            "type": "string",
                            "format": "uuid"
                        },
                        "name": "id",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Issue"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "issues"
                ],
                "summary": "Update issue. (Public API)",
                "description": "Update issue. Requires authentication.",
                "operationId": "issues:update",
                "parameters": [
                    {
                        "required": true,
                        "schema": {
                            "title": "Id",
                            "type": "string",
                            "format": "uuid"
                        },
                        "name": "id",
                        "in": "path"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
[...]
