{
    "openapi": "3.0.3",
    "info": {
        "title": "Polar API",
        "summary": "Polar HTTP and Webhooks API",
        "description": "Read the docs at https://docs.polar.sh/api",
        "version": "0.1.0"
    },
    "servers": [
        {
            "url": "https://api.polar.sh"
        }
    ],
    "paths": {
        "/v1/users/me": {
            "get": {
                "tags": [
                    "users"
                ],
                "summary": "Get Authenticated",
                "operationId": "get_authenticated",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserRead"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "OpenIdConnect": []
                    },
                    {
                        "HTTPBearer": []
                    }
                ],
                "x-polar-allowed-subjects": [
                    "User"
                ]
            }
        },
        "/v1/users/me/scopes": {
            "get": {
                "tags": [
                    "users"
                ],
                "summary": "Scopes",
                "operationId": "scopes",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserScopes"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "OpenIdConnect": []
                    },
                    {
                        "HTTPBearer": []
                    }
                ],
                "x-polar-allowed-subjects": [
                    "User"
                ]
            }
        },
        "/v1/users/me/account": {
            "patch": {
                "tags": [
                    "users"
                ],
                "summary": "Set Account",
                "operationId": "set_account",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UserSetAccount"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserRead"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "OpenIdConnect": []
                    },
                    {
                        "HTTPBearer": []
                    }
                ],
                "x-polar-allowed-subjects": [
                    "User"
                ]
            }
        },
        "/v1/users/me/stripe_customer_portal": {
            "post": {
                "tags": [
                    "users"
                ],
                "summary": "Create Stripe Customer Portal",
                "operationId": "create_stripe_customer_portal",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserStripePortalSession"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "OpenIdConnect": []
                    },
                    {
                        "HTTPBearer": []
                    }
                ],
                "x-polar-allowed-subjects": [
                    "User"
                ]
            }
        },
        "/v1/users/benefits/": {
            "get": {
                "tags": [
                    "users",
                    "documented",
                    "featured"
                ],
                "summary": "List Benefits",
                "description": "List my granted benefits.",
                "operationId": "list_benefits",
                "security": [
                    {
                        "OpenIdConnect": [
                            "user:benefits:read"
                        ]
                    },
                    {
                        "HTTPBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "type",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "$ref": "#/components/schemas/BenefitType"
                                },
                                {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/BenefitType"
                                    }
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "BenefitType Filter",
                            "description": "Filter by benefit type."
                        },
                        "description": "Filter by benefit type."
                    },
                    {
                        "name": "organization_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string",
                                    "format": "uuid4",
                                    "description": "The organization ID.",
                                    "x-polar-selector-widget": {
                                        "resourceRoot": "/v1/organizations",
                                        "resourceName": "Organization",
                                        "displayProperty": "name"
                                    }
                                },
                                {
                                    "type": "array",
                                    "items": {
                                        "type": "string",
                                        "format": "uuid4",
                                        "description": "The organization ID.",
                                        "x-polar-selector-widget": {
                                            "resourceRoot": "/v1/organizations",
                                            "resourceName": "Organization",
                                            "displayProperty": "name"
                                        }
                                    }
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "OrganizationID Filter",
                            "description": "Filter by organization ID."
                        },
                        "description": "Filter by organization ID."
                    },
                    {
                        "name": "order_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string",
                                    "format": "uuid4"
                                },
                                {
                                    "type": "array",
                                    "items": {
                                        "type": "string",
                                        "format": "uuid4"
                                    }
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "OrderID Filter",
                            "description": "Filter by order ID."
                        },
                        "description": "Filter by order ID."
                    },
                    {
                        "name": "subscription_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string",
                                    "format": "uuid4"
                                },
                                {
                                    "type": "array",
                                    "items": {
                                        "type": "string",
                                        "format": "uuid4"
                                    }
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "SubscriptionID Filter",
                            "description": "Filter by subscription ID."
                        },
                        "description": "Filter by subscription ID."
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "exclusiveMinimum": 0,
                            "description": "Page number, defaults to 1.",
                            "default": 1,
                            "title": "Page"
                        },
                        "description": "Page number, defaults to 1."
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "exclusiveMinimum": 0,
                            "description": "Size of a page, defaults to 10. Maximum is 100.",
                            "default": 10,
                            "title": "Limit"
                        },
                        "description": "Size of a page, defaults to 10. Maximum is 100."
                    },
                    {
                        "name": "sorting",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "description": "Sorting criterion. Several criteria can be used simultaneously and will be applied in order. Add a minus sign `-` before the criteria name to sort by descending order.",
                            "type": "string",
                            "enum": [
                                "granted_at",
                                "-granted_at",
                                "type",
                                "-type",
                                "organization",
                                "-organization"
                            ],
                            "default": [
                                "-granted_at"
                            ],
                            "title": "Sorting"
                        },
                        "description": "Sorting criterion. Several criteria can be used simultaneously and will be applied in order. Add a minus sign `-` before the criteria name to sort by descending order."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListResource_Annotated_Union_BenefitArticlesSubscriber__BenefitAdsSubscriber__BenefitDiscordSubscriber__BenefitCustomSubscriber__BenefitGitHubRepositorySubscriber__BenefitDownloadablesSubscriber___Discriminator__MergeJSONSchema__"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "x-polar-allowed-subjects": [
                    "User"
                ]
            }
        },
        "/v1/users/benefits/{id}": {
            "get": {
                "tags": [
                    "users",
                    "documented",
                    "featured"
                ],
                "summary": "Get Benefit",
                "description": "Get a granted benefit by ID.",
                "operationId": "get_benefit",
                "security": [
                    {
                        "OpenIdConnect": [
                            "user:benefits:read"
                        ]
                    },
                    {
                        "HTTPBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid4",
                            "description": "The benefit ID.",
                            "title": "Id"
                        },
                        "description": "The benefit ID."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "$ref": "#/components/schemas/BenefitArticlesSubscriber"
                                        },
                                        {
                                            "$ref": "#/components/schemas/BenefitAdsSubscriber"
                                        },
                                        {
                                            "$ref": "#/components/schemas/BenefitDiscordSubscriber"
                                        },
                                        {
                                            "$ref": "#/components/schemas/BenefitCustomSubscriber"
                                        },
                                        {
                                            "$ref": "#/components/schemas/BenefitGitHubRepositorySubscriber"
                                        },
                                        {
                                            "$ref": "#/components/schemas/BenefitDownloadablesSubscriber"
                                        }
                                    ],
                                    "discriminator": {
                                        "propertyName": "type",
                                        "mapping": {
                                            "articles": "#/components/schemas/BenefitArticlesSubscriber",
                                            "ads": "#/components/schemas/BenefitAdsSubscriber",
                                            "discord": "#/components/schemas/BenefitDiscordSubscriber",
                                            "custom": "#/components/schemas/BenefitCustomSubscriber",
                                            "github_repository": "#/components/schemas/BenefitGitHubRepositorySubscriber",
                                            "downloadables": "#/components/schemas/BenefitDownloadablesSubscriber"
                                        }
                                    },
                                    "title": "Response Users:Get Benefit"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Benefit not found or not granted.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResourceNotFound"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "x-polar-allowed-subjects": [
                    "User"
                ]
            }
        },
        "/v1/users/orders/": {
            "get": {
                "tags": [
                    "users",
                    "documented",
                    "featured"
                ],
                "summary": "List Orders",
                "description": "List my orders.",
                "operationId": "list_orders",
                "security": [
                    {
                        "OpenIdConnect": [
                            "user:orders:read"
                        ]
                    },
                    {
                        "HTTPBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "organization_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string",
                                    "format": "uuid4",
                                    "description": "The organization ID.",
                                    "x-polar-selector-widget": {
                                        "resourceRoot": "/v1/organizations",
                                        "resourceName": "Organization",
                                        "displayProperty": "name"
                                    }
                                },
                                {
                                    "type": "array",
                                    "items": {
                                        "type": "string",
                                        "format": "uuid4",
                                        "description": "The organization ID.",
                                        "x-polar-selector-widget": {
                                            "resourceRoot": "/v1/organizations",
                                            "resourceName": "Organization",
                                            "displayProperty": "name"
                                        }
                                    }
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "OrganizationID Filter",
                            "description": "Filter by organization ID."
                        },
                        "description": "Filter by organization ID."
                    },
                    {
                        "name": "product_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string",
                                    "format": "uuid4",
                                    "description": "The product ID.",
                                    "x-polar-selector-widget": {
                                        "resourceRoot": "/v1/products",
                                        "resourceName": "Product",
                                        "displayProperty": "name"
                                    }
                                },
                                {
                                    "type": "array",
                                    "items": {
                                        "type": "string",
                                        "format": "uuid4",
                                        "description": "The product ID.",
                                        "x-polar-selector-widget": {
                                            "resourceRoot": "/v1/products",
                                            "resourceName": "Product",
                                            "displayProperty": "name"
                                        }
                                    }
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "ProductID Filter",
                            "description": "Filter by product ID."
                        },
                        "description": "Filter by product ID."
                    },
                    {
                        "name": "product_price_type",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "$ref": "#/components/schemas/ProductPriceType"
                                },
                                {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/ProductPriceType"
                                    }
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "ProductPriceType Filter",
                            "description": "Filter by product price type. `recurring` will return orders corresponding to subscriptions creations or renewals. `one_time` will return orders corresponding to one-time purchases."
                        },
                        "description": "Filter by product price type. `recurring` will return orders corresponding to subscriptions creations or renewals. `one_time` will return orders corresponding to one-time purchases."
                    },
                    {
                        "name": "subscription_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string",
                                    "format": "uuid4"
                                },
                                {
                                    "type": "array",
                                    "items": {
                                        "type": "string",
                                        "format": "uuid4"
                                    }
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "SubscriptionID Filter",
                            "description": "Filter by subscription ID."
                        },
                        "description": "Filter by subscription ID."
                    },
                    {
                        "name": "query",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "description": "Search by product or organization name.",
                            "title": "Query"
                        },
                        "description": "Search by product or organization name."
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "exclusiveMinimum": 0,
                            "description": "Page number, defaults to 1.",
                            "default": 1,
                            "title": "Page"
                        },
                        "description": "Page number, defaults to 1."
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "exclusiveMinimum": 0,
                            "description": "Size of a page, defaults to 10. Maximum is 100.",
                            "default": 10,
                            "title": "Limit"
                        },
                        "description": "Size of a page, defaults to 10. Maximum is 100."
                    },
                    {
                        "name": "sorting",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "description": "Sorting criterion. Several criteria can be used simultaneously and will be applied in order. Add a minus sign `-` before the criteria name to sort by descending order.",
                            "type": "string",
                            "enum": [
                                "created_at",
                                "-created_at",
                                "amount",
                                "-amount",
                                "organization",
                                "-organization",
                                "product",
                                "-product",
                                "subscription",
                                "-subscription"
                            ],
                            "default": [
                                "-created_at"
                            ],
                            "title": "Sorting"
                        },
                        "description": "Sorting criterion. Several criteria can be used simultaneously and will be applied in order. Add a minus sign `-` before the criteria name to sort by descending order."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListResource_UserOrder_"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "x-polar-allowed-subjects": [
                    "User"
                ]
            }
        },
        "/v1/users/orders/{id}": {
            "get": {
                "tags": [
                    "users",
                    "documented",
                    "featured"
                ],
                "summary": "Get Order",
                "description": "Get an order by ID.",
                "operationId": "get_order",
                "security": [
                    {
                        "OpenIdConnect": [
                            "user:orders:read"
                        ]
                    },
                    {
                        "HTTPBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid4",
                            "description": "The order ID.",
                            "title": "Id"
                        },
                        "description": "The order ID."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserOrder"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Order not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResourceNotFound"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "x-polar-allowed-subjects": [
                    "User"
                ]
            }
        },
        "/v1/users/orders/{id}/invoice": {
            "get": {
                "tags": [
                    "users",
                    "documented",
                    "featured"
                ],
                "summary": "Get Order Invoice",
                "description": "Get an order's invoice data.",
                "operationId": "get_order_invoice",
                "security": [
                    {
                        "OpenIdConnect": [
                            "user:orders:read"
                        ]
                    },
                    {
                        "HTTPBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid4",
                            "description": "The order ID.",
                            "title": "Id"
                        },
                        "description": "The order ID."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserOrderInvoice"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Order not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResourceNotFound"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "x-polar-allowed-subjects": [
                    "User"
                ]
            }
        },
        "/v1/users/subscriptions/": {
            "get": {
                "tags": [
                    "users",
                    "documented",
                    "featured"
                ],
                "summary": "List Subscriptions",
                "description": "List my subscriptions.",
                "operationId": "list_subscriptions",
                "security": [
                    {
                        "OpenIdConnect": [
                            "user:subscriptions:read"
                        ]
                    },
                    {
                        "HTTPBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "organization_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string",
                                    "format": "uuid4",
                                    "description": "The organization ID.",
                                    "x-polar-selector-widget": {
                                        "resourceRoot": "/v1/organizations",
                                        "resourceName": "Organization",
                                        "displayProperty": "name"
                                    }
                                },
                                {
                                    "type": "array",
                                    "items": {
                                        "type": "string",
                                        "format": "uuid4",
                                        "description": "The organization ID.",
                                        "x-polar-selector-widget": {
                                            "resourceRoot": "/v1/organizations",
                                            "resourceName": "Organization",
                                            "displayProperty": "name"
                                        }
                                    }
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "OrganizationID Filter",
                            "description": "Filter by organization ID."
                        },
                        "description": "Filter by organization ID."
                    },
                    {
                        "name": "product_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string",
                                    "format": "uuid4",
                                    "description": "The product ID.",
                                    "x-polar-selector-widget": {
                                        "resourceRoot": "/v1/products",
                                        "resourceName": "Product",
                                        "displayProperty": "name"
                                    }
                                },
                                {
                                    "type": "array",
                                    "items": {
                                        "type": "string",
                                        "format": "uuid4",
                                        "description": "The product ID.",
                                        "x-polar-selector-widget": {
                                            "resourceRoot": "/v1/products",
                                            "resourceName": "Product",
                                            "displayProperty": "name"
                                        }
                                    }
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "ProductID Filter",
                            "description": "Filter by product ID."
                        },
                        "description": "Filter by product ID."
                    },
                    {
                        "name": "active",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "boolean"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "description": "Filter by active or cancelled subscription.",
                            "title": "Active"
                        },
                        "description": "Filter by active or cancelled subscription."
                    },
                    {
                        "name": "query",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "description": "Search by product or organization name.",
                            "title": "Query"
                        },
                        "description": "Search by product or organization name."
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "exclusiveMinimum": 0,
                            "description": "Page number, defaults to 1.",
                            "default": 1,
                            "title": "Page"
                        },
                        "description": "Page number, defaults to 1."
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "exclusiveMinimum": 0,
                            "description": "Size of a page, defaults to 10. Maximum is 100.",
                            "default": 10,
                            "title": "Limit"
                        },
                        "description": "Size of a page, defaults to 10. Maximum is 100."
                    },
                    {
                        "name": "sorting",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "description": "Sorting criterion. Several criteria can be used simultaneously and will be applied in order. Add a minus sign `-` before the criteria name to sort by descending order.",
                            "type": "string",
                            "enum": [
                                "started_at",
                                "-started_at",
                                "price_amount",
                                "-price_amount",
                                "status",
                                "-status",
                                "organization",
                                "-organization",
                                "product",
                                "-product"
                            ],
                            "default": [
                                "-started_at"
                            ],
                            "title": "Sorting"
                        },
                        "description": "Sorting criterion. Several criteria can be used simultaneously and will be applied in order. Add a minus sign `-` before the criteria name to sort by descending order."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListResource_UserSubscription_"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "x-polar-allowed-subjects": [
                    "User"
                ]
            },
            "post": {
                "tags": [
                    "users",
                    "documented",
                    "featured"
                ],
                "summary": "Create Subscription",
                "description": "Create a subscription on a **free** tier.\n\nIf you want to subscribe to a paid tier, you need to create a checkout session.",
                "operationId": "create_subscription",
                "security": [
                    {
                        "OpenIdConnect": [
                            "user:subscriptions:write"
                        ]
                    },
                    {
                        "HTTPBearer": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UserFreeSubscriptionCreate"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Subscription created.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserSubscription"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Already subscribed to one of the tier of this organization.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AlreadySubscribed"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Subscription not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResourceNotFound"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "x-polar-allowed-subjects": [
                    "Anonymous",
                    "User"
                ]
            }
        },
        "/v1/users/subscriptions/{id}": {
            "get": {
                "tags": [
                    "users",
                    "documented",
                    "featured"
                ],
                "summary": "Get Subscription",
                "description": "Get a subscription by ID.",
                "operationId": "get_subscription",
                "security": [
                    {
                        "OpenIdConnect": [
                            "user:subscriptions:read"
                        ]
                    },
                    {
                        "HTTPBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid4",
                            "description": "The subscription ID.",
                            "title": "Id"
                        },
                        "description": "The subscription ID."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserSubscription"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Subscription not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResourceNotFound"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "x-polar-allowed-subjects": [
                    "User"
                ]
            },
            "patch": {
                "tags": [
                    "users",
                    "documented",
                    "featured"
                ],
                "summary": "Update Subscription",
                "description": "Update a subscription.",
                "operationId": "update_subscription",
                "security": [
                    {
                        "OpenIdConnect": [
                            "user:subscriptions:write"
                        ]
                    },
                    {
                        "HTTPBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid4",
                            "description": "The subscription ID.",
                            "title": "Id"
                        },
                        "description": "The subscription ID."
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UserSubscriptionUpdate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Subscription updated.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserSubscription"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Can't upgrade from free to paid subscription tier to paid directly.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FreeSubscriptionUpgrade"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Subscription not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResourceNotFound"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "x-polar-allowed-subjects": [
                    "User"
                ]
            },
            "delete": {
                "tags": [
                    "users",
                    "documented",
                    "featured"
                ],
                "summary": "Cancel Subscription",
                "description": "Cancel a subscription.",
                "operationId": "cancel_subscription",
                "security": [
                    {
                        "OpenIdConnect": [
                            "user:subscriptions:write"
                        ]
                    },
                    {
                        "HTTPBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid4",
                            "description": "The subscription ID.",
                            "title": "Id"
                        },
                        "description": "The subscription ID."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Subscription canceled.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserSubscription"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "This subscription is already canceled or will be at the end of the period.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AlreadyCanceledSubscription"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Subscription not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResourceNotFound"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "x-polar-allowed-subjects": [
                    "User"
                ]
            }
        },
        "/v1/users/advertisements/": {
            "get": {
                "tags": [
                    "users",
                    "documented"
                ],
                "summary": "List Advertisement Campaigns",
                "description": "List advertisement campaigns.",
                "operationId": "list_advertisement_campaigns",
                "security": [
                    {
                        "OpenIdConnect": [
                            "user:advertisement_campaigns:read"
                        ]
                    },
                    {
                        "HTTPBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "exclusiveMinimum": 0,
                            "description": "Page number, defaults to 1.",
                            "default": 1,
                            "title": "Page"
                        },
                        "description": "Page number, defaults to 1."
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "exclusiveMinimum": 0,
                            "description": "Size of a page, defaults to 10. Maximum is 100.",
                            "default": 10,
                            "title": "Limit"
                        },
                        "description": "Size of a page, defaults to 10. Maximum is 100."
                    },
                    {
                        "name": "sorting",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "description": "Sorting criterion. Several criteria can be used simultaneously and will be applied in order. Add a minus sign `-` before the criteria name to sort by descending order.",
                            "type": "string",
                            "enum": [
                                "created_at",
                                "-created_at",
                                "views",
                                "-views",
                                "clicks",
                                "-clicks"
                            ],
                            "default": [
                                "-created_at"
                            ],
                            "title": "Sorting"
                        },
                        "description": "Sorting criterion. Several criteria can be used simultaneously and will be applied in order. Add a minus sign `-` before the criteria name to sort by descending order."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListResource_UserAdvertisementCampaign_"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "x-polar-allowed-subjects": [
                    "User"
                ]
            },
            "post": {
                "tags": [
                    "users",
                    "documented"
                ],
                "summary": "Create Advertisement Campaign",
                "description": "Create an advertisement campaign.",
                "operationId": "create_advertisement_campaign",
                "security": [
                    {
                        "OpenIdConnect": [
                            "user:advertisement_campaigns:write"
                        ]
                    },
                    {
                        "HTTPBearer": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UserAdvertisementCampaignCreate"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Advertisement campaign created.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserAdvertisementCampaign"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "x-polar-allowed-subjects": [
                    "User"
                ]
            }
        },
        "/v1/users/advertisements/{id}": {
            "get": {
                "tags": [
                    "users",
                    "documented"
                ],
                "summary": "Get Advertisement Campaign",
                "description": "Get an advertisement campaign by ID.",
                "operationId": "get_advertisement_campaign",
                "security": [
                    {
                        "OpenIdConnect": [
                            "user:advertisement_campaigns:read"
                        ]
                    },
                    {
                        "HTTPBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid4",
                            "description": "The advertisement campaign ID.",
                            "title": "Id"
                        },
                        "description": "The advertisement campaign ID."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserAdvertisementCampaign"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Advertisement campaign not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResourceNotFound"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "x-polar-allowed-subjects": [
                    "User"
                ]
            },
            "patch": {
                "tags": [
                    "users",
                    "documented"
                ],
                "summary": "Update Advertisement Campaign",
                "description": "Update an advertisement campaign.",
                "operationId": "update_advertisement_campaign",
                "security": [
                    {
                        "OpenIdConnect": [
                            "user:advertisement_campaigns:write"
                        ]
                    },
                    {
                        "HTTPBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid4",
                            "description": "The advertisement campaign ID.",
                            "title": "Id"
                        },
                        "description": "The advertisement campaign ID."
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UserAdvertisementCampaignUpdate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Advertisement campaign updated.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserAdvertisementCampaign"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Advertisement campaign not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResourceNotFound"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "x-polar-allowed-subjects": [
                    "User"
                ]
            },
            "delete": {
                "tags": [
                    "users",
                    "documented"
                ],
                "summary": "Delete Advertisement Campaign",
                "description": "Delete an advertisement campaign.\n\nIt'll be automatically disabled on all granted benefits.",
                "operationId": "delete_advertisement_campaign",
                "security": [
                    {
                        "OpenIdConnect": [
                            "user:advertisement_campaigns:write"
                        ]
                    },
                    {
                        "HTTPBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid4",
                            "description": "The advertisement campaign ID.",
                            "title": "Id"
                        },
                        "description": "The advertisement campaign ID."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "204": {
                        "description": "Advertisement campaign deleted."
                    },
                    "404": {
                        "description": "Advertisement campaign not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResourceNotFound"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "x-polar-allowed-subjects": [
                    "User"
                ]
            }
        },
        "/v1/users/advertisements/{id}/enable": {
            "post": {
                "tags": [
                    "users",
                    "documented"
                ],
                "summary": "Enable Advertisement Campaign",
                "description": "Enable an advertisement campaign on a granted benefit.",
                "operationId": "enable_advertisement_campaign",
                "security": [
                    {
                        "OpenIdConnect": [
                            "user:advertisement_campaigns:write"
                        ]
                    },
                    {
                        "HTTPBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid4",
                            "description": "The advertisement campaign ID.",
                            "title": "Id"
                        },
                        "description": "The advertisement campaign ID."
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UserAdvertisementCampaignEnable"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "Advertisement campaign enabled on benefit."
                    },
                    "404": {
                        "description": "Advertisement campaign not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResourceNotFound"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "x-polar-allowed-subjects": [
                    "User"
                ]
            }
        },
        "/v1/users/downloadables/": {
            "get": {
                "tags": [
                    "users",
                    "documented",
                    "featured"
                ],
                "summary": "List Downloadables",
                "operationId": "list_downloadables",
                "security": [
                    {
                        "OpenIdConnect": [
                            "user:downloadables:read"
                        ]
                    },
                    {
                        "HTTPBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "organization_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string",
                                    "format": "uuid4",
                                    "description": "The organization ID.",
                                    "x-polar-selector-widget": {
                                        "resourceRoot": "/v1/organizations",
                                        "resourceName": "Organization",
                                        "displayProperty": "name"
                                    }
                                },
                                {
                                    "type": "array",
                                    "items": {
                                        "type": "string",
                                        "format": "uuid4",
                                        "description": "The organization ID.",
                                        "x-polar-selector-widget": {
                                            "resourceRoot": "/v1/organizations",
                                            "resourceName": "Organization",
                                            "displayProperty": "name"
                                        }
                                    }
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "OrganizationID Filter",
                            "description": "Filter by organization ID."
                        },
                        "description": "Filter by organization ID."
                    },
                    {
                        "name": "benefit_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string",
                                    "format": "uuid4",
                                    "description": "The benefit ID.",
                                    "x-polar-selector-widget": {
                                        "resourceRoot": "/v1/benefits",
                                        "resourceName": "Benefit",
                                        "displayProperty": "description"
                                    }
                                },
                                {
                                    "type": "array",
                                    "items": {
                                        "type": "string",
                                        "format": "uuid4",
                                        "description": "The benefit ID.",
                                        "x-polar-selector-widget": {
                                            "resourceRoot": "/v1/benefits",
                                            "resourceName": "Benefit",
                                            "displayProperty": "description"
                                        }
                                    }
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "BenefitID Filter",
                            "description": "Filter by given benefit ID. "
                        },
                        "description": "Filter by given benefit ID. "
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "exclusiveMinimum": 0,
                            "description": "Page number, defaults to 1.",
                            "default": 1,
                            "title": "Page"
                        },
                        "description": "Page number, defaults to 1."
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "exclusiveMinimum": 0,
                            "description": "Size of a page, defaults to 10. Maximum is 100.",
                            "default": 10,
                            "title": "Limit"
                        },
                        "description": "Size of a page, defaults to 10. Maximum is 100."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListResource_DownloadableRead_"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "x-polar-allowed-subjects": [
                    "User"
                ]
            }
        },
        "/v1/users/downloadables/{token}": {
            "get": {
                "tags": [
                    "users",
                    "documented",
                    "featured"
                ],
                "summary": "Get Downloadable",
                "operationId": "get_downloadable",
                "security": [
                    {
                        "OpenIdConnect": [
                            "user:downloadables:read"
                        ]
                    },
                    {
                        "HTTPBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "token",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Token"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "302": {
                        "description": "Redirected to download"
                    },
                    "400": {
                        "description": "Invalid signature"
                    },
                    "404": {
                        "description": "Downloadable not found"
                    },
                    "410": {
                        "description": "Expired signature"
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "x-polar-allowed-subjects": [
                    "User"
                ]
            }
        },
        "/v1/integrations/github/authorize": {
            "get": {
                "tags": [
                    "integrations_github"
                ],
                "summary": "Integrations.Github.Authorize",
                "operationId": "integrations.github.authorize",
                "security": [
                    {
                        "OpenIdConnect": []
                    },
                    {
                        "HTTPBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "payment_intent_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "Payment Intent Id"
                        }
                    },
                    {
                        "name": "user_signup_type",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "$ref": "#/components/schemas/UserSignupType"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "User Signup Type"
                        }
                    },
                    {
                        "name": "return_to",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "Return To"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/integrations/github/callback": {
            "get": {
                "tags": [
                    "integrations_github"
                ],
                "summary": "Integrations.Github.Callback",
                "operationId": "integrations.github.callback",
                "security": [
                    {
                        "OpenIdConnect": []
                    },
                    {
                        "HTTPBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "code",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "Code"
                        }
                    },
                    {
                        "name": "code_verifier",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "Code Verifier"
                        }
                    },
                    {
                        "name": "state",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "State"
                        }
                    },
                    {
                        "name": "error",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "Error"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/integrations/github/lookup_user": {
            "post": {
                "tags": [
                    "integrations_github"
                ],
                "summary": "Lookup User",
                "operationId": "lookup_user",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/LookupUserRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GithubUser"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "OpenIdConnect": []
                    },
                    {
                        "HTTPBearer": []
                    }
                ]
            }
        },
        "/v1/integrations/github/organizations/{id}/installation": {
            "get": {
                "tags": [
                    "integrations_github"
                ],
                "summary": "Redirect To Organization Installation",
                "operationId": "redirect_to_organization_installation",
                "security": [
                    {
                        "OpenIdConnect": []
                    },
                    {
                        "HTTPBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid4",
                            "description": "The external organization ID.",
                            "x-polar-selector-widget": {
                                "resourceRoot": "/v1/external-organizations",
                                "resourceName": "External Organization",
                                "displayProperty": "name"
                            },
                            "title": "Id"
                        }
                    },
                    {
                        "name": "return_to",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "Return To"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/integrations/github/organizations/{id}/check_permissions": {
            "post": {
                "tags": [
                    "integrations_github"
                ],
                "summary": "Check Organization Permissions",
                "operationId": "check_organization_permissions",
                "security": [
                    {
                        "OpenIdConnect": []
                    },
                    {
                        "HTTPBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid4",
                            "description": "The external organization ID.",
                            "x-polar-selector-widget": {
                                "resourceRoot": "/v1/external-organizations",
                                "resourceName": "External Organization",
                                "displayProperty": "name"
                            },
                            "title": "Id"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/OrganizationCheckPermissionsInput"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "Successful Response"
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/integrations/github/organizations/{id}/billing": {
            "get": {
                "tags": [
                    "integrations_github"
                ],
                "summary": "Get Organization Billing Plan",
                "operationId": "get_organization_billing_plan",
                "security": [
                    {
                        "OpenIdConnect": []
                    },
                    {
                        "HTTPBearer": []
[...]
