{% extends "base.html" %}

{% block body %}
<h1>Hi,</h1>
<p>Here is your code to access your {{ featured_organization.name }} purchases. Click the button below to complete the login process. <strong>This code
        is only valid for the next {{ code_lifetime_minutes }} minutes.</strong></p>
<!-- OTP -->
<table class="otp" align="center" width="100%" cellpadding="0" cellspacing="0" role="presentation">
  <tr>
    <td align="center">
      <h1 class="f-fallback otp_heading">{{ code }}</h1>
    </td>
  </tr>
</table>
<!-- Sub copy -->
<table class="body-sub" role="presentation">
    <tr>
        <td>
            <p class="f-fallback sub">You should input this code at the following URL</p>
            <p class="f-fallback sub"><a href="{{ url | safe }}">{{ url | safe }}</a></p>
        </td>
    </tr>
</table>
{% endblock %}
