{# Partial template for HTMX boosted requests #}
<div class="breadcrumbs text-sm">
    <ul>
        <li><a href="{{ url_for('index') }}">Polar Backoffice</a></li>
        {% for title, href in breadcrumbs %}
        <li><a href="{{ href }}">{{ title }}</a></li>
        {% endfor %}
    </ul>
</div>

{% block content %}{% endblock %}

{# Out-of-band swap for title #}
<title id="page_title" hx-swap-oob="true">
{%- if title_parts -%}
{{ title_parts | join(' · ') }} · Polar Backoffice
{%- else -%}
Polar Backoffice
{%- endif -%}
</title>

{# Out-of-band swap for menu #}
<ul class="menu w-full" id="menu" hx-swap-oob="true">
    {% for item in navigation %}
        {% include 'components/nav_item.html' %}
    {% endfor %}
</ul>
