overlay: 1.0.0
info:
  title: Overlay to fix security definition for Speakeasy
  version: 0.0.1
actions:
  - target: "$.paths.*.*[?(!@.security)]"
    description: "Declare optional security on paths that don't have a security definition"
    update:
      security: [{}]
  - target: "$"
    description: Add a global security scheme named `access_token`
    update:
      security:
        - access_token: []
  - target: "$.components.securitySchemes"
    description: "Add this scheme to components"
    update:
      access_token:
        type: http
        scheme: bearer
        description: "You can generate an **Organization Access Token** from your organization's settings."
  - target: "$.paths.*.*[?(!@.security[?(@.customer_session || !@.*)])].security"
    description: Remove security from individual paths, unless it's a customer session or empty security object
    remove: true
