{
  "openapi": "3.1.0",
  "info": {
    "title": "Polar API",
    "summary": "Polar HTTP and Webhooks API",
    "description": "Read the docs at https://docs.polar.sh/api-reference",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://api.polar.sh",
      "description": "Production environment",
      "x-speakeasy-server-id": "production"
    },
    {
      "url": "https://sandbox-api.polar.sh",
      "description": "Sandbox environment",
      "x-speakeasy-server-id": "sandbox"
    }
  ],
  "paths": {
    "/v1/external_organizations/": {
      "get": {
        "tags": [
          "external_organizations",
          "documented",
          "issue_funding"
        ],
        "summary": "List External Organizations",
        "description": "List external organizations.",
        "operationId": "external_organizations:list",
        "parameters": [
          {
            "name": "platform",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/Platforms"
                },
                {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Platforms"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "title": "Platform Filter",
              "description": "Filter by platform."
            },
            "description": "Filter by platform."
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "title": "RepositoryName Filter",
              "description": "Filter by name."
            },
            "description": "Filter by name."
          },
          {
            "name": "organization_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "uuid4",
                  "description": "The organization ID.",
                  "x-polar-selector-widget": {
                    "resourceRoot": "/v1/organizations",
                    "resourceName": "Organization",
                    "displayProperty": "name"
                  }
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "uuid4",
                    "description": "The organization ID.",
                    "x-polar-selector-widget": {
                      "resourceRoot": "/v1/organizations",
                      "resourceName": "Organization",
                      "displayProperty": "name"
                    }
                  }
                },
                {
                  "type": "null"
                }
              ],
              "title": "OrganizationID Filter",
              "description": "Filter by organization ID."
            },
            "description": "Filter by organization ID."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "description": "Page number, defaults to 1.",
              "default": 1,
              "title": "Page"
            },
            "description": "Page number, defaults to 1."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "description": "Size of a page, defaults to 10. Maximum is 100.",
              "default": 10,
              "title": "Limit"
            },
            "description": "Size of a page, defaults to 10. Maximum is 100."
          },
          {
            "name": "sorting",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ExternalOrganizationSortProperty"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Sorting criterion. Several criteria can be used simultaneously and will be applied in order. Add a minus sign `-` before the criteria name to sort by descending order.",
              "default": [
                "-created_at"
              ],
              "title": "Sorting"
            },
            "description": "Sorting criterion. Several criteria can be used simultaneously and will be applied in order. Add a minus sign `-` before the criteria name to sort by descending order."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResource_ExternalOrganization_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-polar-allowed-subjects": [
          "Anonymous",
          "Organization",
          "User"
        ],
        "x-speakeasy-pagination": {
          "type": "offsetLimit",
          "inputs": [
            {
              "name": "page",
              "in": "parameters",
              "type": "page"
            },
            {
              "name": "limit",
              "in": "parameters",
              "type": "limit"
            }
          ],
          "outputs": {
            "results": "$.items",
            "numPages": "$.pagination.max_page"
          }
        },
        "x-speakeasy-group": "external_organizations",
        "x-speakeasy-name-override": "list",
        "x-codeSamples": [
          {
            "lang": "go",
            "label": "Go (SDK)",
            "source": "package main\n\nimport(\n\t\"context\"\n\t\"os\"\n\tpolargo \"github.com/polarsource/polar-go\"\n\t\"github.com/polarsource/polar-go/models/operations\"\n\t\"log\"\n)\n\nfunc main() {\n    ctx := context.Background()\n    \n    s := polargo.New(\n        polargo.WithSecurity(os.Getenv(\"POLAR_ACCESS_TOKEN\")),\n    )\n\n    res, err := s.ExternalOrganizations.List(ctx, operations.ExternalOrganizationsListRequest{})\n    if err != nil {\n        log.Fatal(err)\n    }\n    if res.ListResourceExternalOrganization != nil {\n        for {\n            // handle items\n\n            res, err = res.Next()\n\n            if err != nil {\n                // handle error\n            }\n\n            if res == nil {\n                break\n            }\n        }\n    }\n}"
          },
          {
            "lang": "python",
            "label": "Python (SDK)",
            "source": "from polar_sdk import Polar\n\nwith Polar(\n    access_token=\"\u003cYOUR_BEARER_TOKEN_HERE\u003e\",\n) as polar:\n\n    res = polar.external_organizations.list()\n\n    while res is not None:\n        # Handle items\n\n        res = res.next()"
          },
          {
            "lang": "typescript",
            "label": "Typescript (SDK)",
            "source": "import { Polar } from \"@polar-sh/sdk\";\n\nconst polar = new Polar({\n  accessToken: process.env[\"POLAR_ACCESS_TOKEN\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await polar.externalOrganizations.list({});\n\n  for await (const page of result) {\n    // Handle the page\n    console.log(page);\n  }\n}\n\nrun();"
          },
          {
            "lang": "php",
            "label": "PHP (SDK)",
            "source": "declare(strict_types=1);\n\nrequire 'vendor/autoload.php';\n\nuse Polar;\nuse Polar\\Models\\Operations;\n\n$sdk = Polar\\Polar::builder()\n    -\u003esetSecurity(\n        '\u003cYOUR_BEARER_TOKEN_HERE\u003e'\n    )\n    -\u003ebuild();\n\n$request = new Operations\\ExternalOrganizationsListRequest();\n\n$responses = $sdk-\u003eexternalOrganizations-\u003elist(\n    request: $request\n);\n\n\nforeach ($responses as $response) {\n    if ($response-\u003estatusCode === 200) {\n        // handle response\n    }\n}"
          }
        ]
      }
    },
    "/v1/repositories/": {
      "get": {
        "tags": [
          "repositories",
          "documented",
          "issue_funding"
        ],
        "summary": "List Repositories",
        "description": "List repositories.",
        "operationId": "repositories:list",
        "parameters": [
          {
            "name": "platform",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/Platforms"
                },
                {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Platforms"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "title": "Platform Filter",
              "description": "Filter by platform."
            },
            "description": "Filter by platform."
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "title": "RepositoryName Filter",
              "description": "Filter by name."
            },
            "description": "Filter by name."
          },
          {
            "name": "external_organization_name",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "title": "ExternalOrganizationName Filter",
              "description": "Filter by external organization name."
            },
            "description": "Filter by external organization name."
          },
          {
            "name": "is_private",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by private status.",
              "title": "Is Private"
            },
            "description": "Filter by private status."
          },
          {
            "name": "organization_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "uuid4",
                  "description": "The organization ID.",
                  "x-polar-selector-widget": {
                    "resourceRoot": "/v1/organizations",
                    "resourceName": "Organization",
                    "displayProperty": "name"
                  }
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "uuid4",
                    "description": "The organization ID.",
                    "x-polar-selector-widget": {
                      "resourceRoot": "/v1/organizations",
                      "resourceName": "Organization",
                      "displayProperty": "name"
                    }
                  }
                },
                {
                  "type": "null"
                }
              ],
              "title": "OrganizationID Filter",
              "description": "Filter by organization ID."
            },
            "description": "Filter by organization ID."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "description": "Page number, defaults to 1.",
              "default": 1,
              "title": "Page"
            },
            "description": "Page number, defaults to 1."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "description": "Size of a page, defaults to 10. Maximum is 100.",
              "default": 10,
              "title": "Limit"
            },
            "description": "Size of a page, defaults to 10. Maximum is 100."
          },
          {
            "name": "sorting",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RepositorySortProperty"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Sorting criterion. Several criteria can be used simultaneously and will be applied in order. Add a minus sign `-` before the criteria name to sort by descending order.",
              "default": [
                "-created_at"
              ],
              "title": "Sorting"
            },
            "description": "Sorting criterion. Several criteria can be used simultaneously and will be applied in order. Add a minus sign `-` before the criteria name to sort by descending order."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResource_Repository_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-polar-allowed-subjects": [
          "Anonymous",
          "Organization",
          "User"
        ],
        "x-speakeasy-pagination": {
          "type": "offsetLimit",
          "inputs": [
            {
              "name": "page",
              "in": "parameters",
              "type": "page"
            },
            {
              "name": "limit",
              "in": "parameters",
              "type": "limit"
            }
          ],
          "outputs": {
            "results": "$.items",
            "numPages": "$.pagination.max_page"
          }
        },
        "x-speakeasy-group": "repositories",
        "x-speakeasy-name-override": "list",
        "x-codeSamples": [
          {
            "lang": "go",
            "label": "Go (SDK)",
            "source": "package main\n\nimport(\n\t\"context\"\n\t\"os\"\n\tpolargo \"github.com/polarsource/polar-go\"\n\t\"github.com/polarsource/polar-go/models/operations\"\n\t\"log\"\n)\n\nfunc main() {\n    ctx := context.Background()\n    \n    s := polargo.New(\n        polargo.WithSecurity(os.Getenv(\"POLAR_ACCESS_TOKEN\")),\n    )\n\n    res, err := s.Repositories.List(ctx, operations.RepositoriesListRequest{})\n    if err != nil {\n        log.Fatal(err)\n    }\n    if res.ListResourceRepository != nil {\n        for {\n            // handle items\n\n            res, err = res.Next()\n\n            if err != nil {\n                // handle error\n            }\n\n            if res == nil {\n                break\n            }\n        }\n    }\n}"
          },
          {
            "lang": "python",
            "label": "Python (SDK)",
            "source": "from polar_sdk import Polar\n\nwith Polar(\n    access_token=\"\u003cYOUR_BEARER_TOKEN_HERE\u003e\",\n) as polar:\n\n    res = polar.repositories.list()\n\n    while res is not None:\n        # Handle items\n\n        res = res.next()"
          },
          {
            "lang": "typescript",
            "label": "Typescript (SDK)",
            "source": "import { Polar } from \"@polar-sh/sdk\";\n\nconst polar = new Polar({\n  accessToken: process.env[\"POLAR_ACCESS_TOKEN\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await polar.repositories.list({});\n\n  for await (const page of result) {\n    // Handle the page\n    console.log(page);\n  }\n}\n\nrun();"
          },
          {
            "lang": "php",
            "label": "PHP (SDK)",
            "source": "declare(strict_types=1);\n\nrequire 'vendor/autoload.php';\n\nuse Polar;\nuse Polar\\Models\\Operations;\n\n$sdk = Polar\\Polar::builder()\n    -\u003esetSecurity(\n        '\u003cYOUR_BEARER_TOKEN_HERE\u003e'\n    )\n    -\u003ebuild();\n\n$request = new Operations\\RepositoriesListRequest();\n\n$responses = $sdk-\u003erepositories-\u003elist(\n    request: $request\n);\n\n\nforeach ($responses as $response) {\n    if ($response-\u003estatusCode === 200) {\n        // handle response\n    }\n}"
          }
        ]
      }
    },
    "/v1/repositories/{id}": {
      "get": {
        "tags": [
          "repositories",
          "documented",
          "issue_funding"
        ],
        "summary": "Get Repository",
        "description": "Get a repository by ID.",
        "operationId": "repositories:get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid4",
              "description": "The repository ID.",
              "x-polar-selector-widget": {
                "resourceRoot": "/v1/repositories",
                "resourceName": "Repository",
                "displayProperty": "name"
              },
              "title": "Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Repository"
                }
              }
            }
          },
          "404": {
            "description": "Repository not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceNotFound"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-polar-allowed-subjects": [
          "Anonymous",
          "Organization",
          "User"
        ],
        "x-speakeasy-group": "repositories",
        "x-speakeasy-name-override": "get",
        "x-codeSamples": [
          {
            "lang": "go",
            "label": "Go (SDK)",
            "source": "package main\n\nimport(\n\t\"context\"\n\t\"os\"\n\tpolargo \"github.com/polarsource/polar-go\"\n\t\"log\"\n)\n\nfunc main() {\n    ctx := context.Background()\n    \n    s := polargo.New(\n        polargo.WithSecurity(os.Getenv(\"POLAR_ACCESS_TOKEN\")),\n    )\n\n    res, err := s.Repositories.Get(ctx, \"\u003cvalue\u003e\")\n    if err != nil {\n        log.Fatal(err)\n    }\n    if res.Repository != nil {\n        // handle response\n    }\n}"
          },
          {
            "lang": "python",
            "label": "Python (SDK)",
            "source": "from polar_sdk import Polar\n\nwith Polar(\n    access_token=\"\u003cYOUR_BEARER_TOKEN_HERE\u003e\",\n) as polar:\n\n    res = polar.repositories.get(id=\"\u003cvalue\u003e\")\n\n    # Handle response\n    print(res)"
          },
          {
            "lang": "typescript",
            "label": "Typescript (SDK)",
            "source": "import { Polar } from \"@polar-sh/sdk\";\n\nconst polar = new Polar({\n  accessToken: process.env[\"POLAR_ACCESS_TOKEN\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await polar.repositories.get({\n    id: \"\u003cvalue\u003e\",\n  });\n\n  // Handle the result\n  console.log(result);\n}\n\nrun();"
          },
          {
            "lang": "php",
            "label": "PHP (SDK)",
            "source": "declare(strict_types=1);\n\nrequire 'vendor/autoload.php';\n\nuse Polar;\n\n$sdk = Polar\\Polar::builder()\n    -\u003esetSecurity(\n        '\u003cYOUR_BEARER_TOKEN_HERE\u003e'\n    )\n    -\u003ebuild();\n\n\n\n$response = $sdk-\u003erepositories-\u003eget(\n    id: '\u003cvalue\u003e'\n);\n\nif ($response-\u003erepository !== null) {\n    // handle response\n}"
          }
        ]
      },
      "patch": {
        "tags": [
          "repositories",
          "documented",
          "issue_funding"
        ],
        "summary": "Update Repository",
        "description": "Update a repository.",
        "operationId": "repositories:update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid4",
              "description": "The repository ID.",
              "x-polar-selector-widget": {
                "resourceRoot": "/v1/repositories",
                "resourceName": "Repository",
                "displayProperty": "name"
              },
              "title": "Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RepositoryUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Repository updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Repository"
                }
              }
            }
          },
          "403": {
            "description": "You don't have the permission to update this repository.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotPermitted"
                }
              }
            }
          },
          "404": {
            "description": "Repository not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceNotFound"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-polar-allowed-subjects": [
          "Organization",
          "User"
        ],
        "x-speakeasy-group": "repositories",
        "x-speakeasy-name-override": "update",
        "x-codeSamples": [
          {
            "lang": "go",
            "label": "Go (SDK)",
            "source": "package main\n\nimport(\n\t\"context\"\n\t\"os\"\n\tpolargo \"github.com/polarsource/polar-go\"\n\t\"github.com/polarsource/polar-go/models/components\"\n\t\"log\"\n)\n\nfunc main() {\n    ctx := context.Background()\n    \n    s := polargo.New(\n        polargo.WithSecurity(os.Getenv(\"POLAR_ACCESS_TOKEN\")),\n    )\n\n    res, err := s.Repositories.Update(ctx, \"\u003cvalue\u003e\", components.RepositoryUpdate{})\n    if err != nil {\n        log.Fatal(err)\n    }\n    if res.Repository != nil {\n        // handle response\n    }\n}"
          },
          {
            "lang": "python",
            "label": "Python (SDK)",
            "source": "from polar_sdk import Polar\n\nwith Polar(\n    access_token=\"\u003cYOUR_BEARER_TOKEN_HERE\u003e\",\n) as polar:\n\n    res = polar.repositories.update(id=\"\u003cvalue\u003e\", repository_update={})\n\n    # Handle response\n    print(res)"
          },
          {
            "lang": "typescript",
            "label": "Typescript (SDK)",
            "source": "import { Polar } from \"@polar-sh/sdk\";\n\nconst polar = new Polar({\n  accessToken: process.env[\"POLAR_ACCESS_TOKEN\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await polar.repositories.update({\n    id: \"\u003cvalue\u003e\",\n    repositoryUpdate: {},\n  });\n\n  // Handle the result\n  console.log(result);\n}\n\nrun();"
          },
          {
            "lang": "php",
            "label": "PHP (SDK)",
            "source": "declare(strict_types=1);\n\nrequire 'vendor/autoload.php';\n\nuse Polar;\nuse Polar\\Models\\Components;\n\n$sdk = Polar\\Polar::builder()\n    -\u003esetSecurity(\n        '\u003cYOUR_BEARER_TOKEN_HERE\u003e'\n    )\n    -\u003ebuild();\n\n$repositoryUpdate = new Components\\RepositoryUpdate();\n\n$response = $sdk-\u003erepositories-\u003eupdate(\n    id: '\u003cvalue\u003e',\n    repositoryUpdate: $repositoryUpdate\n\n);\n\nif ($response-\u003erepository !== null) {\n    // handle response\n}"
          }
        ]
      }
    },
    "/v1/organizations/": {
      "get": {
        "tags": [
          "organizations",
          "documented",
          "featured"
        ],
        "summary": "List Organizations",
        "description": "List organizations.",
        "operationId": "organizations:list",
        "parameters": [
          {
            "name": "slug",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by slug.",
              "title": "Slug"
            },
            "description": "Filter by slug."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "description": "Page number, defaults to 1.",
              "default": 1,
              "title": "Page"
            },
            "description": "Page number, defaults to 1."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "description": "Size of a page, defaults to 10. Maximum is 100.",
              "default": 10,
              "title": "Limit"
            },
            "description": "Size of a page, defaults to 10. Maximum is 100."
          },
          {
            "name": "sorting",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OrganizationSortProperty"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Sorting criterion. Several criteria can be used simultaneously and will be applied in order. Add a minus sign `-` before the criteria name to sort by descending order.",
              "default": [
                "created_at"
              ],
              "title": "Sorting"
            },
            "description": "Sorting criterion. Several criteria can be used simultaneously and will be applied in order. Add a minus sign `-` before the criteria name to sort by descending order."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResource_Organization_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-polar-allowed-subjects": [
          "Organization",
          "User"
        ],
        "x-speakeasy-pagination": {
          "type": "offsetLimit",
          "inputs": [
            {
              "name": "page",
              "in": "parameters",
              "type": "page"
            },
            {
              "name": "limit",
              "in": "parameters",
              "type": "limit"
            }
          ],
          "outputs": {
            "results": "$.items",
            "numPages": "$.pagination.max_page"
          }
        },
        "x-speakeasy-group": "organizations",
        "x-speakeasy-name-override": "list",
        "x-codeSamples": [
          {
            "lang": "go",
            "label": "Go (SDK)",
            "source": "package main\n\nimport(\n\t\"context\"\n\t\"os\"\n\tpolargo \"github.com/polarsource/polar-go\"\n\t\"log\"\n)\n\nfunc main() {\n    ctx := context.Background()\n    \n    s := polargo.New(\n        polargo.WithSecurity(os.Getenv(\"POLAR_ACCESS_TOKEN\")),\n    )\n\n    res, err := s.Organizations.List(ctx, nil, nil, nil, nil)\n    if err != nil {\n        log.Fatal(err)\n    }\n    if res.ListResourceOrganization != nil {\n        for {\n            // handle items\n\n            res, err = res.Next()\n\n            if err != nil {\n                // handle error\n            }\n\n            if res == nil {\n                break\n            }\n        }\n    }\n}"
          },
          {
            "lang": "python",
            "label": "Python (SDK)",
            "source": "from polar_sdk import Polar\n\nwith Polar(\n    access_token=\"\u003cYOUR_BEARER_TOKEN_HERE\u003e\",\n) as polar:\n\n    res = polar.organizations.list()\n\n    while res is not None:\n        # Handle items\n\n        res = res.next()"
          },
          {
            "lang": "typescript",
            "label": "Typescript (SDK)",
            "source": "import { Polar } from \"@polar-sh/sdk\";\n\nconst polar = new Polar({\n  accessToken: process.env[\"POLAR_ACCESS_TOKEN\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await polar.organizations.list({});\n\n  for await (const page of result) {\n    // Handle the page\n    console.log(page);\n  }\n}\n\nrun();"
          },
          {
            "lang": "php",
            "label": "PHP (SDK)",
            "source": "declare(strict_types=1);\n\nrequire 'vendor/autoload.php';\n\nuse Polar;\nuse Polar\\Models\\Components;\n\n$sdk = Polar\\Polar::builder()\n    -\u003esetSecurity(\n        '\u003cYOUR_BEARER_TOKEN_HERE\u003e'\n    )\n    -\u003ebuild();\n\n\n\n$responses = $sdk-\u003eorganizations-\u003elist(\n    slug: '\u003cvalue\u003e',\n    page: 1,\n    limit: 10,\n    sorting: [\n        Components\\OrganizationSortProperty::MinusName,\n    ]\n\n);\n\n\nforeach ($responses as $response) {\n    if ($response-\u003estatusCode === 200) {\n        // handle response\n    }\n}"
          }
        ]
      },
      "post": {
        "tags": [
          "organizations",
          "documented",
          "featured"
        ],
        "summary": "Create Organization",
        "description": "Create an organization.",
        "operationId": "organizations:create",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrganizationCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Organization created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-polar-allowed-subjects": [
          "User"
        ],
        "x-speakeasy-group": "organizations",
        "x-speakeasy-name-override": "create",
        "x-codeSamples": [
          {
            "lang": "go",
            "label": "Go (SDK)",
            "source": "package main\n\nimport(\n\t\"context\"\n\t\"os\"\n\tpolargo \"github.com/polarsource/polar-go\"\n\t\"github.com/polarsource/polar-go/models/components\"\n\t\"log\"\n)\n\nfunc main() {\n    ctx := context.Background()\n    \n    s := polargo.New(\n        polargo.WithSecurity(os.Getenv(\"POLAR_ACCESS_TOKEN\")),\n    )\n\n    res, err := s.Organizations.Create(ctx, components.OrganizationCreate{\n        Name: \"\u003cvalue\u003e\",\n        Slug: \"\u003cvalue\u003e\",\n    })\n    if err != nil {\n        log.Fatal(err)\n    }\n    if res.Organization != nil {\n        // handle response\n    }\n}"
          },
          {
            "lang": "python",
            "label": "Python (SDK)",
            "source": "from polar_sdk import Polar\n\nwith Polar(\n    access_token=\"\u003cYOUR_BEARER_TOKEN_HERE\u003e\",\n) as polar:\n\n    res = polar.organizations.create(request={\n        \"name\": \"\u003cvalue\u003e\",\n        \"slug\": \"\u003cvalue\u003e\",\n    })\n\n    # Handle response\n    print(res)"
          },
          {
            "lang": "typescript",
            "label": "Typescript (SDK)",
            "source": "import { Polar } from \"@polar-sh/sdk\";\n\nconst polar = new Polar({\n  accessToken: process.env[\"POLAR_ACCESS_TOKEN\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await polar.organizations.create({\n    name: \"\u003cvalue\u003e\",\n    slug: \"\u003cvalue\u003e\",\n  });\n\n  // Handle the result\n  console.log(result);\n}\n\nrun();"
          },
          {
            "lang": "php",
            "label": "PHP (SDK)",
            "source": "declare(strict_types=1);\n\nrequire 'vendor/autoload.php';\n\nuse Polar;\nuse Polar\\Models\\Components;\n\n$sdk = Polar\\Polar::builder()\n    -\u003esetSecurity(\n        '\u003cYOUR_BEARER_TOKEN_HERE\u003e'\n    )\n    -\u003ebuild();\n\n$request = new Components\\OrganizationCreate(\n    name: '\u003cvalue\u003e',\n    slug: '\u003cvalue\u003e',\n);\n\n$response = $sdk-\u003eorganizations-\u003ecreate(\n    request: $request\n);\n\nif ($response-\u003eorganization !== null) {\n    // handle response\n}"
          }
        ]
      }
    },
    "/v1/organizations/{id}": {
      "get": {
        "tags": [
          "organizations",
          "documented",
          "featured"
        ],
        "summary": "Get Organization",
        "description": "Get an organization by ID.",
        "operationId": "organizations:get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid4",
              "description": "The organization ID.",
              "x-polar-selector-widget": {
                "resourceRoot": "/v1/organizations",
                "resourceName": "Organization",
                "displayProperty": "name"
              },
              "title": "Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          },
          "404": {
            "description": "Organization not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceNotFound"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-polar-allowed-subjects": [
          "Organization",
          "User"
        ],
        "x-speakeasy-group": "organizations",
        "x-speakeasy-name-override": "get",
        "x-codeSamples": [
          {
            "lang": "go",
            "label": "Go (SDK)",
            "source": "package main\n\nimport(\n\t\"context\"\n\t\"os\"\n\tpolargo \"github.com/polarsource/polar-go\"\n\t\"log\"\n)\n\nfunc main() {\n    ctx := context.Background()\n    \n    s := polargo.New(\n        polargo.WithSecurity(os.Getenv(\"POLAR_ACCESS_TOKEN\")),\n    )\n\n    res, err := s.Organizations.Get(ctx, \"\u003cvalue\u003e\")\n    if err != nil {\n        log.Fatal(err)\n    }\n    if res.Organization != nil {\n        // handle response\n    }\n}"
          },
          {
            "lang": "python",
            "label": "Python (SDK)",
            "source": "from polar_sdk import Polar\n\nwith Polar(\n    access_token=\"\u003cYOUR_BEARER_TOKEN_HERE\u003e\",\n) as polar:\n\n    res = polar.organizations.get(id=\"\u003cvalue\u003e\")\n\n    # Handle response\n    print(res)"
          },
          {
            "lang": "typescript",
            "label": "Typescript (SDK)",
            "source": "import { Polar } from \"@polar-sh/sdk\";\n\nconst polar = new Polar({\n  accessToken: process.env[\"POLAR_ACCESS_TOKEN\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await polar.organizations.get({\n    id: \"\u003cvalue\u003e\",\n  });\n\n  // Handle the result\n  console.log(result);\n}\n\nrun();"
          },
          {
            "lang": "php",
            "label": "PHP (SDK)",
            "source": "declare(strict_types=1);\n\nrequire 'vendor/autoload.php';\n\nuse Polar;\n\n$sdk = Polar\\Polar::builder()\n    -\u003esetSecurity(\n        '\u003cYOUR_BEARER_TOKEN_HERE\u003e'\n    )\n    -\u003ebuild();\n\n\n\n$response = $sdk-\u003eorganizations-\u003eget(\n    id: '\u003cvalue\u003e'\n);\n\nif ($response-\u003eorganization !== null) {\n    // handle response\n}"
          }
        ]
      },
      "patch": {
        "tags": [
          "organizations",
          "documented",
          "featured"
        ],
        "summary": "Update Organization",
        "description": "Update an organization.",
        "operationId": "organizations:update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid4",
              "description": "The organization ID.",
              "x-polar-selector-widget": {
                "resourceRoot": "/v1/organizations",
                "resourceName": "Organization",
                "displayProperty": "name"
              },
              "title": "Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrganizationUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Organization updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          },
          "403": {
            "description": "You don't have the permission to update this organization.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotPermitted"
                }
              }
            }
          },
          "404": {
            "description": "Organization not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceNotFound"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-polar-allowed-subjects": [
          "Organization",
          "User"
        ],
        "x-speakeasy-group": "organizations",
        "x-speakeasy-name-override": "update",
        "x-codeSamples": [
          {
            "lang": "go",
            "label": "Go (SDK)",
            "source": "package main\n\nimport(\n\t\"context\"\n\t\"os\"\n\tpolargo \"github.com/polarsource/polar-go\"\n\t\"github.com/polarsource/polar-go/models/components\"\n\t\"log\"\n)\n\nfunc main() {\n    ctx := context.Background()\n    \n    s := polargo.New(\n        polargo.WithSecurity(os.Getenv(\"POLAR_ACCESS_TOKEN\")),\n    )\n\n    res, err := s.Organizations.Update(ctx, \"\u003cvalue\u003e\", components.OrganizationUpdate{})\n    if err != nil {\n        log.Fatal(err)\n    }\n    if res.Organization != nil {\n        // handle response\n    }\n}"
          },
          {
            "lang": "python",
            "label": "Python (SDK)",
            "source": "from polar_sdk import Polar\n\nwith Polar(\n    access_token=\"\u003cYOUR_BEARER_TOKEN_HERE\u003e\",\n) as polar:\n\n    res = polar.organizations.update(id=\"\u003cvalue\u003e\", organization_update={})\n\n    # Handle response\n    print(res)"
          },
          {
            "lang": "typescript",
            "label": "Typescript (SDK)",
            "source": "import { Polar } from \"@polar-sh/sdk\";\n\nconst polar = new Polar({\n  accessToken: process.env[\"POLAR_ACCESS_TOKEN\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await polar.organizations.update({\n    id: \"\u003cvalue\u003e\",\n    organizationUpdate: {},\n  });\n\n  // Handle the result\n  console.log(result);\n}\n\nrun();"
          },
          {
            "lang": "php",
            "label": "PHP (SDK)",
            "source": "declare(strict_types=1);\n\nrequire 'vendor/autoload.php';\n\nuse Polar;\nuse Polar\\Models\\Components;\n\n$sdk = Polar\\Polar::builder()\n    -\u003esetSecurity(\n        '\u003cYOUR_BEARER_TOKEN_HERE\u003e'\n    )\n    -\u003ebuild();\n\n$organizationUpdate = new Components\\OrganizationUpdate();\n\n$response = $sdk-\u003eorganizations-\u003eupdate(\n    id: '\u003cvalue\u003e',\n    organizationUpdate: $organizationUpdate\n\n);\n\nif ($response-\u003eorganization !== null) {\n    // handle response\n}"
          }
        ]
      }
    },
    "/v1/subscriptions/": {
      "get": {
        "tags": [
          "subscriptions",
          "documented"
        ],
        "summary": "List Subscriptions",
        "description": "List subscriptions.",
        "operationId": "subscriptions:list",
        "parameters": [
          {
            "name": "organization_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "uuid4",
                  "description": "The organization ID.",
                  "x-polar-selector-widget": {
                    "resourceRoot": "/v1/organizations",
                    "resourceName": "Organization",
                    "displayProperty": "name"
                  }
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "uuid4",
                    "description": "The organization ID.",
                    "x-polar-selector-widget": {
                      "resourceRoot": "/v1/organizations",
                      "resourceName": "Organization",
                      "displayProperty": "name"
                    }
                  }
                },
                {
                  "type": "null"
                }
              ],
              "title": "OrganizationID Filter",
              "description": "Filter by organization ID."
            },
            "description": "Filter by organization ID."
          },
          {
            "name": "product_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "uuid4",
                  "description": "The product ID.",
                  "x-polar-selector-widget": {
                    "resourceRoot": "/v1/products",
                    "resourceName": "Product",
                    "displayProperty": "name"
                  }
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "uuid4",
                    "description": "The product ID.",
                    "x-polar-selector-widget": {
                      "resourceRoot": "/v1/products",
                      "resourceName": "Product",
                      "displayProperty": "name"
                    }
                  }
                },
                {
                  "type": "null"
                }
              ],
              "title": "ProductID Filter",
              "description": "Filter by product ID."
            },
            "description": "Filter by product ID."
          },
          {
            "name": "customer_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "uuid4",
                  "description": "The customer ID."
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "uuid4",
                    "description": "The customer ID."
                  }
                },
                {
                  "type": "null"
                }
              ],
              "title": "CustomerID Filter",
              "description": "Filter by customer ID."
            },
            "description": "Filter by customer ID."
          },
          {
            "name": "discount_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "uuid4",
                  "description": "The product ID.",
                  "x-polar-selector-widget": {
                    "resourceRoot": "/v1/products",
                    "resourceName": "Product",
                    "displayProperty": "name"
                  }
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "uuid4",
                    "description": "The product ID.",
                    "x-polar-selector-widget": {
                      "resourceRoot": "/v1/products",
                      "resourceName": "Product",
                      "displayProperty": "name"
                    }
                  }
                },
                {
                  "type": "null"
                }
              ],
              "title": "DiscountID Filter",
              "description": "Filter by discount ID."
            },
            "description": "Filter by discount ID."
          },
          {
            "name": "active",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by active or inactive subscription.",
              "title": "Active"
            },
            "description": "Filter by active or inactive subscription."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "description": "Page number, defaults to 1.",
              "default": 1,
              "title": "Page"
            },
            "description": "Page number, defaults to 1."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "description": "Size of a page, defaults to 10. Maximum is 100.",
              "default": 10,
              "title": "Limit"
            },
            "description": "Size of a page, defaults to 10. Maximum is 100."
          },
          {
            "name": "sorting",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SubscriptionSortProperty"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Sorting criterion. Several criteria can be used simultaneously and will be applied in order. Add a minus sign `-` before the criteria name to sort by descending order.",
              "default": [
                "-started_at"
              ],
              "title": "Sorting"
            },
            "description": "Sorting criterion. Several criteria can be used simultaneously and will be applied in order. Add a minus sign `-` before the criteria name to sort by descending order."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResource_Subscription_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-polar-allowed-subjects": [
          "Organization",
          "User"
        ],
        "x-speakeasy-pagination": {
          "type": "offsetLimit",
          "inputs": [
            {
              "name": "page",
              "in": "parameters",
              "type": "page"
            },
            {
              "name": "limit",
              "in": "parameters",
              "type": "limit"
            }
          ],
          "outputs": {
            "results": "$.items",
            "numPages": "$.pagination.max_page"
          }
        },
        "x-speakeasy-group": "subscriptions",
        "x-speakeasy-name-override": "list",
        "x-codeSamples": [
          {
            "lang": "go",
            "label": "Go (SDK)",
            "source": "package main\n\nimport(\n\t\"context\"\n\t\"os\"\n\tpolargo \"github.com/polarsource/polar-go\"\n\t\"github.com/polarsource/polar-go/models/operations\"\n\t\"log\"\n)\n\nfunc main() {\n    ctx := context.Background()\n    \n    s := polargo.New(\n        polargo.WithSecurity(os.Getenv(\"POLAR_ACCESS_TOKEN\")),\n    )\n\n    res, err := s.Subscriptions.List(ctx, operations.SubscriptionsListRequest{})\n    if err != nil {\n        log.Fatal(err)\n    }\n    if res.ListResourceSubscription != nil {\n        for {\n            // handle items\n\n            res, err = res.Next()\n\n            if err != nil {\n                // handle error\n            }\n\n            if res == nil {\n                break\n            }\n        }\n    }\n}"
          },
          {
            "lang": "python",
            "label": "Python (SDK)",
            "source": "from polar_sdk import Polar\n\nwith Polar(\n    access_token=\"\u003cYOUR_BEARER_TOKEN_HERE\u003e\",\n) as polar:\n\n    res = polar.subscriptions.list()\n\n    while res is not None:\n        # Handle items\n\n        res = res.next()"
          },
          {
            "lang": "typescript",
            "label": "Typescript (SDK)",
            "source": "import { Polar } from \"@polar-sh/sdk\";\n\nconst polar = new Polar({\n  accessToken: process.env[\"POLAR_ACCESS_TOKEN\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await polar.subscriptions.list({});\n\n  for await (const page of result) {\n    // Handle the page\n    console.log(page);\n  }\n}\n\nrun();"
          },
          {
            "lang": "php",
            "label": "PHP (SDK)",
            "source": "declare(strict_types=1);\n\nrequire 'vendor/autoload.php';\n\nuse Polar;\nuse Polar\\Models\\Operations;\n\n$sdk = Polar\\Polar::builder()\n    -\u003esetSecurity(\n        '\u003cYOUR_BEARER_TOKEN_HERE\u003e'\n    )\n    -\u003ebuild();\n\n$request = new Operations\\SubscriptionsListRequest();\n\n$responses = $sdk-\u003esubscriptions-\u003elist(\n    request: $request\n);\n\n\nforeach ($responses as $response) {\n    if ($response-\u003estatusCode === 200) {\n        // handle response\n    }\n}"
          }
        ]
      }
    },
    "/v1/subscriptions/export": {
      "get": {
        "tags": [
          "subscriptions",
          "documented"
        ],
        "summary": "Export Subscriptions",
        "description": "Export subscriptions as a CSV file.",
        "operationId": "subscriptions:export",
        "parameters": [
          {
            "name": "organization_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "uuid4",
                  "description": "The organization ID.",
                  "x-polar-selector-widget": {
                    "resourceRoot": "/v1/organizations",
                    "resourceName": "Organization",
                    "displayProperty": "name"
                  }
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "uuid4",
                    "description": "The organization ID.",
                    "x-polar-selector-widget": {
                      "resourceRoot": "/v1/organizations",
                      "resourceName": "Organization",
                      "displayProperty": "name"
                    }
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by organization ID.",
              "title": "Organization Id"
            },
            "description": "Filter by organization ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-polar-allowed-subjects": [
          "Organization",
          "User"
        ],
        "x-speakeasy-group": "subscriptions",
        "x-speakeasy-name-override": "export",
        "x-codeSamples": [
          {
            "lang": "go",
            "label": "Go (SDK)",
            "source": "package main\n\nimport(\n\t\"context\"\n\t\"os\"\n\tpolargo \"github.com/polarsource/polar-go\"\n\t\"log\"\n)\n\nfunc main() {\n    ctx := context.Background()\n    \n    s := polargo.New(\n        polargo.WithSecurity(os.Getenv(\"POLAR_ACCESS_TOKEN\")),\n    )\n\n    res, err := s.Subscriptions.Export(ctx, nil)\n    if err != nil {\n        log.Fatal(err)\n    }\n    if res.Any != nil {\n        // handle response\n    }\n}"
          },
          {
            "lang": "python",
            "label": "Python (SDK)",
            "source": "from polar_sdk import Polar\n\nwith Polar(\n    access_token=\"\u003cYOUR_BEARER_TOKEN_HERE\u003e\",\n) as polar:\n\n    res = polar.subscriptions.export()\n\n    # Handle response\n    print(res)"
          },
          {
            "lang": "typescript",
            "label": "Typescript (SDK)",
            "source": "import { Polar } from \"@polar-sh/sdk\";\n\nconst polar = new Polar({\n  accessToken: process.env[\"POLAR_ACCESS_TOKEN\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await polar.subscriptions.export({});\n\n  // Handle the result\n  console.log(result);\n}\n\nrun();"
          },
          {
            "lang": "php",
            "label": "PHP (SDK)",
            "source": "declare(strict_types=1);\n\nrequire 'vendor/autoload.php';\n\nuse Polar;\n\n$sdk = Polar\\Polar::builder()\n    -\u003esetSecurity(\n        '\u003cYOUR_BEARER_TOKEN_HERE\u003e'\n    )\n    -\u003ebuild();\n\n\n\n$response = $sdk-\u003esubscriptions-\u003eexport(\n    organizationId: [\n        '\u003cvalue\u003e',\n    ]\n);\n\nif ($response-\u003eany !== null) {\n    // handle response\n}"
          }
        ]
      }
    },
    "/v1/subscriptions/{id}": {
      "get": {
        "tags": [
          "subscriptions",
          "documented"
        ],
        "summary": "Get Subscription",
        "description": "Get a subscription by ID.",
        "operationId": "subscriptions:get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid4",
              "description": "The subscription ID.",
              "title": "Id"
            },
            "description": "The subscription ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscription"
                }
              }
            }
          },
          "404": {
            "description": "Subscription not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceNotFound"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-polar-allowed-subjects": [
          "Organization",
          "User"
        ],
        "x-speakeasy-group": "subscriptions",
        "x-speakeasy-name-override": "get",
        "x-codeSamples": [
          {
            "lang": "go",
            "label": "Go (SDK)",
            "source": "package main\n\nimport(\n\t\"context\"\n\t\"os\"\n\tpolargo \"github.com/polarsource/polar-go\"\n\t\"log\"\n)\n\nfunc main() {\n    ctx := context.Background()\n    \n    s := polargo.New(\n        polargo.WithSecurity(os.Getenv(\"POLAR_ACCESS_TOKEN\")),\n    )\n\n    res, err := s.Subscriptions.Get(ctx, \"\u003cvalue\u003e\")\n    if err != nil {\n        log.Fatal(err)\n    }\n    if res.Subscription != nil {\n        // handle response\n    }\n}"
          },
          {
            "lang": "python",
            "label": "Python (SDK)",
            "source": "from polar_sdk import Polar\n\nwith Polar(\n    access_token=\"\u003cYOUR_BEARER_TOKEN_HERE\u003e\",\n) as polar:\n\n    res = polar.subscriptions.get(id=\"\u003cvalue\u003e\")\n\n    # Handle response\n    print(res)"
          },
          {
            "lang": "typescript",
            "label": "Typescript (SDK)",
            "source": "import { Polar } from \"@polar-sh/sdk\";\n\nconst polar = new Polar({\n  accessToken: process.env[\"POLAR_ACCESS_TOKEN\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await polar.subscriptions.get({\n    id: \"\u003cvalue\u003e\",\n  });\n\n  // Handle the result\n  console.log(result);\n}\n\nrun();"
          },
          {
            "lang": "php",
            "label": "PHP (SDK)",
            "source": "declare(strict_types=1);\n\nrequire 'vendor/autoload.php';\n\nuse Polar;\n\n$sdk = Polar\\Polar::builder()\n    -\u003esetSecurity(\n        '\u003cYOUR_BEARER_TOKEN_HERE\u003e'\n    )\n    -\u003ebuild();\n\n\n\n$response = $sdk-\u003esubscriptions-\u003eget(\n    id: '\u003cvalue\u003e'\n);\n\nif ($response-\u003esubscription !== null) {\n    // handle response\n}"
          }
        ]
      },
      "patch": {
        "tags": [
          "subscriptions",
          "documented"
        ],
        "summary": "Update Subscription",
        "description": "Update a subscription.",
        "operationId": "subscriptions:update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid4",
              "description": "The subscription ID.",
              "title": "Id"
            },
            "description": "The subscription ID."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubscriptionUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subscription updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscription"
                }
              }
            }
          },
          "403": {
            "description": "Subscription is already canceled or will be at the end of the period.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlreadyCanceledSubscription"
                }
              }
            }
          },
          "404": {
            "description": "Subscription not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceNotFound"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-polar-allowed-subjects": [
          "Organization",
          "User"
        ],
        "x-speakeasy-group": "subscriptions",
        "x-speakeasy-name-override": "update",
        "x-codeSamples": [
          {
            "lang": "go",
            "label": "Go (SDK)",
            "source": "package main\n\nimport(\n\t\"context\"\n\t\"os\"\n\tpolargo \"github.com/polarsource/polar-go\"\n\t\"github.com/polarsource/polar-go/models/components\"\n\t\"log\"\n)\n\nfunc main() {\n    ctx := context.Background()\n    \n    s := polargo.New(\n        polargo.WithSecurity(os.Getenv(\"POLAR_ACCESS_TOKEN\")),\n    )\n\n    res, err := s.Subscriptions.Update(ctx, \"\u003cvalue\u003e\", components.CreateSubscriptionUpdateSubscriptionCancel(\n        components.SubscriptionCancel{},\n    ))\n    if err != nil {\n        log.Fatal(err)\n    }\n    if res.Subscription != nil {\n        // handle response\n    }\n}"
          },
          {
            "lang": "python",
            "label": "Python (SDK)",
            "source": "from polar_sdk import Polar\n\nwith Polar(\n    access_token=\"\u003cYOUR_BEARER_TOKEN_HERE\u003e\",\n) as polar:\n\n    res = polar.subscriptions.update(id=\"\u003cvalue\u003e\", subscription_update={\n        \"revoke\": True,\n    })\n\n    # Handle response\n    print(res)"
          },
          {
            "lang": "typescript",
            "label": "Typescript (SDK)",
            "source": "import { Polar } from \"@polar-sh/sdk\";\n\nconst polar = new Polar({\n  accessToken: process.env[\"POLAR_ACCESS_TOKEN\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await polar.subscriptions.update({\n    id: \"\u003cvalue\u003e\",\n    subscriptionUpdate: {},\n  });\n\n  // Handle the result\n  console.log(result);\n}\n\nrun();"
          },
          {
            "lang": "php",
            "label": "PHP (SDK)",
            "source": "declare(strict_types=1);\n\nrequire 'vendor/autoload.php';\n\nuse Polar;\nuse Polar\\Models\\Components;\n\n$sdk = Polar\\Polar::builder()\n    -\u003esetSecurity(\n        '\u003cYOUR_BEARER_TOKEN_HERE\u003e'\n    )\n    -\u003ebuild();\n\n\n\n$response = $sdk-\u003esubscriptions-\u003eupdate(\n    id: '\u003cvalue\u003e',\n    subscriptionUpdate: new Components\\SubscriptionCancel()\n\n);\n\nif ($response-\u003esubscription !== null) {\n    // handle response\n}"
          }
        ]
      },
      "delete": {
        "tags": [
          "subscriptions",
          "documented"
        ],
        "summary": "Revoke Subscription",
        "description": "Revoke a subscription, i.e cancel immediately.",
        "operationId": "subscriptions:revoke",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid4",
              "description": "The subscription ID.",
              "title": "Id"
            },
            "description": "The subscription ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Subscription revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscription"
                }
              }
            }
          },
          "403": {
            "description": "This subscription is already revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlreadyCanceledSubscription"
                }
              }
            }
          },
          "404": {
            "description": "Subscription not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceNotFound"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-polar-allowed-subjects": [
          "Organization",
          "User"
        ],
        "x-speakeasy-group": "subscriptions",
        "x-speakeasy-name-override": "revoke",
        "x-codeSamples": [
          {
            "lang": "go",
            "label": "Go (SDK)",
            "source": "package main\n\nimport(\n\t\"context\"\n\t\"os\"\n\tpolargo \"github.com/polarsource/polar-go\"\n\t\"log\"\n)\n\nfunc main() {\n    ctx := context.Background()\n    \n    s := polargo.New(\n        polargo.WithSecurity(os.Getenv(\"POLAR_ACCESS_TOKEN\")),\n    )\n\n    res, err := s.Subscriptions.Revoke(ctx, \"\u003cvalue\u003e\")\n    if err != nil {\n        log.Fatal(err)\n    }\n    if res.Subscription != nil {\n        // handle response\n    }\n}"
          },
          {
            "lang": "python",
            "label": "Python (SDK)",
            "source": "from polar_sdk import Polar\n\nwith Polar(\n    access_token=\"\u003cYOUR_BEARER_TOKEN_HERE\u003e\",\n) as polar:\n\n    res = polar.subscriptions.revoke(id=\"\u003cvalue\u003e\")\n\n    # Handle response\n    print(res)"
          },
          {
            "lang": "typescript",
            "label": "Typescript (SDK)",
            "source": "import { Polar } from \"@polar-sh/sdk\";\n\nconst polar = new Polar({\n  accessToken: process.env[\"POLAR_ACCESS_TOKEN\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await polar.subscriptions.revoke({\n    id: \"\u003cvalue\u003e\",\n  });\n\n  // Handle the result\n  console.log(result);\n}\n\nrun();"
          },
          {
            "lang": "php",
            "label": "PHP (SDK)",
            "source": "declare(strict_types=1);\n\nrequire 'vendor/autoload.php';\n\nuse Polar;\n\n$sdk = Polar\\Polar::builder()\n    -\u003esetSecurity(\n        '\u003cYOUR_BEARER_TOKEN_HERE\u003e'\n    )\n    -\u003ebuild();\n\n\n\n$response = $sdk-\u003esubscriptions-\u003erevoke(\n    id: '\u003cvalue\u003e'\n);\n\nif ($response-\u003esubscription !== null) {\n    // handle response\n}"
          }
        ]
      }
    },
    "/v1/advertisements/": {
      "get": {
        "tags": [
          "advertisements",
          "documented"
        ],
        "summary": "List Campaigns",
        "description": "List active advertisement campaigns for a benefit.",
        "operationId": "advertisements:list",
        "parameters": [
          {
            "name": "benefit_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid4",
              "description": "The benefit ID.",
              "x-polar-selector-widget": {
                "resourceRoot": "/v1/benefits",
                "resourceName": "Benefit",
                "displayProperty": "description"
              },
              "title": "Benefit Id"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "description": "Page number, defaults to 1.",
              "default": 1,
              "title": "Page"
            },
            "description": "Page number, defaults to 1."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "description": "Size of a page, defaults to 10. Maximum is 100.",
              "default": 10,
              "title": "Limit"
            },
            "description": "Size of a page, defaults to 10. Maximum is 100."
          },
          {
            "name": "sorting",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AdvertisementSortProperty"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Sorting criterion. Several criteria can be used simultaneously and will be applied in order. Add a minus sign `-` before the criteria name to sort by descending order.",
              "default": [
                "granted_at"
              ],
              "title": "Sorting"
            },
            "description": "Sorting criterion. Several criteria can be used simultaneously and will be applied in order. Add a minus sign `-` before the criteria name to sort by descending order."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdvertisementCampaignListResource"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-speakeasy-pagination": {
          "type": "offsetLimit",
          "inputs": [
            {
              "name": "page",
              "in": "parameters",
              "type": "page"
            },
            {
              "name": "limit",
              "in": "parameters",
              "type": "limit"
            }
          ],
          "outputs": {
            "results": "$.items",
            "numPages": "$.pagination.max_page"
          }
        },
        "x-speakeasy-group": "advertisements",
        "x-speakeasy-name-override": "list",
        "x-codeSamples": [
          {
            "lang": "go",
            "label": "Go (SDK)",
            "source": "package main\n\nimport(\n\t\"context\"\n\t\"os\"\n\tpolargo \"github.com/polarsource/polar-go\"\n\t\"log\"\n)\n\nfunc main() {\n    ctx := context.Background()\n    \n    s := polargo.New(\n        polargo.WithSecurity(os.Getenv(\"POLAR_ACCESS_TOKEN\")),\n    )\n\n    res, err := s.Advertisements.List(ctx, \"\u003cvalue\u003e\", nil, nil, nil)\n    if err != nil {\n        log.Fatal(err)\n    }\n    if res.AdvertisementCampaignListResource != nil {\n        for {\n            // handle items\n\n            res, err = res.Next()\n\n            if err != nil {\n                // handle error\n            }\n\n            if res == nil {\n                break\n            }\n        }\n    }\n}"
          },
          {
            "lang": "python",
            "label": "Python (SDK)",
            "source": "from polar_sdk import Polar\n\nwith Polar(\n    access_token=\"\u003cYOUR_BEARER_TOKEN_HERE\u003e\",\n) as polar:\n\n    res = polar.advertisements.list(benefit_id=\"\u003cvalue\u003e\")\n\n    while res is not None:\n        # Handle items\n\n        res = res.next()"
          },
          {
            "lang": "typescript",
            "label": "Typescript (SDK)",
            "source": "import { Polar } from \"@polar-sh/sdk\";\n\nconst polar = new Polar({\n  accessToken: process.env[\"POLAR_ACCESS_TOKEN\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await polar.advertisements.list({\n    benefitId: \"\u003cvalue\u003e\",\n  });\n\n  for await (const page of result) {\n    // Handle the page\n    console.log(page);\n  }\n}\n\nrun();"
          },
          {
            "lang": "php",
            "label": "PHP (SDK)",
            "source": "declare(strict_types=1);\n\nrequire 'vendor/autoload.php';\n\nuse Polar;\nuse Polar\\Models\\Components;\n\n$sdk = Polar\\Polar::builder()\n    -\u003esetSecurity(\n        '\u003cYOUR_BEARER_TOKEN_HERE\u003e'\n    )\n    -\u003ebuild();\n\n\n\n$responses = $sdk-\u003eadvertisements-\u003elist(\n    benefitId: '\u003cvalue\u003e',\n    page: 1,\n    limit: 10,\n    sorting: [\n        Components\\AdvertisementSortProperty::Clicks,\n    ]\n\n);\n\n\nforeach ($responses as $response) {\n    if ($response-\u003estatusCode === 200) {\n        // handle response\n    }\n}"
          }
        ]
      }
    },
    "/v1/advertisements/{id}": {
      "get": {
        "tags": [
          "advertisements",
          "documented"
        ],
        "summary": "Get Campaign",
        "description": "Get an advertisement campaign by ID.",
        "operationId": "advertisements:get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid4",
              "description": "The advertisement campaign ID.",
              "title": "Id"
            },
            "description": "The advertisement campaign ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdvertisementCampaign"
                }
              }
            }
          },
          "404": {
            "description": "Advertisement campaign not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceNotFound"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-speakeasy-group": "advertisements",
        "x-speakeasy-name-override": "get",
        "x-codeSamples": [
          {
            "lang": "go",
            "label": "Go (SDK)",
            "source": "package main\n\nimport(\n\t\"context\"\n\t\"os\"\n\tpolargo \"github.com/polarsource/polar-go\"\n\t\"log\"\n)\n\nfunc main() {\n    ctx := context.Background()\n    \n    s := polargo.New(\n        polargo.WithSecurity(os.Getenv(\"POLAR_ACCESS_TOKEN\")),\n    )\n\n    res, err := s.Advertisements.Get(ctx, \"\u003cvalue\u003e\")\n    if err != nil {\n        log.Fatal(err)\n    }\n    if res.AdvertisementCampaign != nil {\n        // handle response\n    }\n}"
          },
          {
            "lang": "python",
            "label": "Python (SDK)",
            "source": "from polar_sdk import Polar\n\nwith Polar(\n    access_token=\"\u003cYOUR_BEARER_TOKEN_HERE\u003e\",\n) as polar:\n\n    res = polar.advertisements.get(id=\"\u003cvalue\u003e\")\n\n    # Handle response\n    print(res)"
          },
          {
            "lang": "typescript",
            "label": "Typescript (SDK)",
            "source": "import { Polar } from \"@polar-sh/sdk\";\n\nconst polar = new Polar({\n  accessToken: process.env[\"POLAR_ACCESS_TOKEN\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await polar.advertisements.get({\n    id: \"\u003cvalue\u003e\",\n  });\n\n  // Handle the result\n  console.log(result);\n}\n\nrun();"
          },
          {
            "lang": "php",
            "label": "PHP (SDK)",
            "source": "declare(strict_types=1);\n\nrequire 'vendor/autoload.php';\n\nuse Polar;\n\n$sdk = Polar\\Polar::builder()\n    -\u003esetSecurity(\n        '\u003cYOUR_BEARER_TOKEN_HERE\u003e'\n    )\n    -\u003ebuild();\n\n\n\n$response = $sdk-\u003eadvertisements-\u003eget(\n    id: '\u003cvalue\u003e'\n);\n\nif ($response-\u003eadvertisementCampaign !== null) {\n    // handle response\n}"
          }
        ]
      }
    },
    "/v1/oauth2/": {
      "get": {
        "tags": [
          "oauth2",
          "clients",
          "documented"
        ],
        "summary": "List Clients",
        "description": "List OAuth2 clients.",
        "operationId": "oauth2:clients:list",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "description": "Page number, defaults to 1.",
              "default": 1,
              "title": "Page"
            },
            "description": "Page number, defaults to 1."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "description": "Size of a page, defaults to 10. Maximum is 100.",
              "default": 10,
              "title": "Limit"
            },
            "description": "Size of a page, defaults to 10. Maximum is 100."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResource_OAuth2Client_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-polar-allowed-subjects": [
          "User"
        ],
        "x-speakeasy-pagination": {
          "type": "offsetLimit",
          "inputs": [
            {
              "name": "page",
              "in": "parameters",
              "type": "page"
            },
            {
              "name": "limit",
              "in": "parameters",
              "type": "limit"
            }
          ],
          "outputs": {
            "results": "$.items",
            "numPages": "$.pagination.max_page"
          }
        },
        "x-speakeasy-group": "oauth2.clients",
        "x-speakeasy-name-override": "list",
        "x-codeSamples": [
          {
            "lang": "go",
            "label": "Go (SDK)",
            "source": "package main\n\nimport(\n\t\"context\"\n\t\"os\"\n\tpolargo \"github.com/polarsource/polar-go\"\n\t\"log\"\n)\n\nfunc main() {\n    ctx := context.Background()\n    \n    s := polargo.New(\n        polargo.WithSecurity(os.Getenv(\"POLAR_ACCESS_TOKEN\")),\n    )\n\n    res, err := s.Oauth2.Clients.List(ctx, nil, nil)\n    if err != nil {\n        log.Fatal(err)\n    }\n    if res.ListResourceOAuth2Client != nil {\n        for {\n            // handle items\n\n            res, err = res.Next()\n\n            if err != nil {\n                // handle error\n            }\n\n            if res == nil {\n                break\n            }\n        }\n    }\n}"
          },
          {
            "lang": "python",
            "label": "Python (SDK)",
            "source": "from polar_sdk import Polar\n\nwith Polar(\n    access_token=\"\u003cYOUR_BEARER_TOKEN_HERE\u003e\",\n) as polar:\n\n    res = polar.oauth2.clients.list()\n\n    while res is not None:\n        # Handle items\n\n        res = res.next()"
          },
          {
            "lang": "typescript",
            "label": "Typescript (SDK)",
            "source": "import { Polar } from \"@polar-sh/sdk\";\n\nconst polar = new Polar({\n  accessToken: process.env[\"POLAR_ACCESS_TOKEN\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await polar.oauth2.clients.list({});\n\n  for await (const page of result) {\n    // Handle the page\n    console.log(page);\n  }\n}\n\nrun();"
          },
          {
            "lang": "php",
            "label": "PHP (SDK)",
            "source": "declare(strict_types=1);\n\nrequire 'vendor/autoload.php';\n\nuse Polar;\n\n$sdk = Polar\\Polar::builder()\n    -\u003esetSecurity(\n        '\u003cYOUR_BEARER_TOKEN_HERE\u003e'\n    )\n    -\u003ebuild();\n\n\n\n$responses = $sdk-\u003eoauth2-\u003eclients-\u003elist(\n    page: 1,\n    limit: 10\n\n);\n\n\nforeach ($responses as $response) {\n    if ($response-\u003estatusCode === 200) {\n        // handle response\n    }\n}"
          }
        ]
      }
    },
    "/v1/oauth2/register": {
      "post": {
        "tags": [
          "oauth2",
          "clients",
          "documented"
        ],
        "summary": "Create Client",
        "description": "Create an OAuth2 client.",
        "operationId": "oauth2:clients:oauth2:create_client",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OAuth2ClientConfiguration"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-polar-allowed-subjects": [
          "User"
        ],
        "x-speakeasy-group": "oauth2.clients",
        "x-speakeasy-name-override": "create",
        "x-codeSamples": [
          {
            "lang": "go",
            "label": "Go (SDK)",
            "source": "package main\n\nimport(\n\t\"context\"\n\t\"os\"\n\tpolargo \"github.com/polarsource/polar-go\"\n\t\"github.com/polarsource/polar-go/models/components\"\n\t\"log\"\n)\n\nfunc main() {\n    ctx := context.Background()\n    \n    s := polargo.New(\n        polargo.WithSecurity(os.Getenv(\"POLAR_ACCESS_TOKEN\")),\n    )\n\n    res, err := s.Oauth2.Clients.Create(ctx, components.OAuth2ClientConfiguration{\n        RedirectUris: []string{\n            \"https://inferior-chainstay.com\",\n        },\n        ClientName: \"\u003cvalue\u003e\",\n    })\n    if err != nil {\n        log.Fatal(err)\n    }\n    if res.Any != nil {\n        // handle response\n    }\n}"
          },
          {
            "lang": "python",
            "label": "Python (SDK)",
            "source": "from polar_sdk import Polar\n\nwith Polar(\n    access_token=\"\u003cYOUR_BEARER_TOKEN_HERE\u003e\",\n) as polar:\n\n    res = polar.oauth2.clients.create(request={\n        \"redirect_uris\": [\n            \"https://inferior-chainstay.com\",\n        ],\n        \"client_name\": \"\u003cvalue\u003e\",\n    })\n\n    # Handle response\n    print(res)"
          },
          {
            "lang": "typescript",
            "label": "Typescript (SDK)",
            "source": "import { Polar } from \"@polar-sh/sdk\";\n\nconst polar = new Polar({\n  accessToken: process.env[\"POLAR_ACCESS_TOKEN\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await polar.oauth2.clients.create({\n    redirectUris: [\n      \"https://inferior-chainstay.com\",\n    ],\n    clientName: \"\u003cvalue\u003e\",\n  });\n\n  // Handle the result\n  console.log(result);\n}\n\nrun();"
          },
          {
            "lang": "php",
            "label": "PHP (SDK)",
            "source": "declare(strict_types=1);\n\nrequire 'vendor/autoload.php';\n\nuse Polar;\nuse Polar\\Models\\Components;\n\n$sdk = Polar\\Polar::builder()\n    -\u003esetSecurity(\n        '\u003cYOUR_BEARER_TOKEN_HERE\u003e'\n    )\n    -\u003ebuild();\n\n$request = new Components\\OAuth2ClientConfiguration(\n    redirectUris: [\n        'https://probable-heating.com/',\n    ],\n    clientName: '\u003cvalue\u003e',\n);\n\n$response = $sdk-\u003eoauth2-\u003eclients-\u003ecreate(\n    request: $request\n);\n\nif ($response-\u003eany !== null) {\n    // handle response\n}"
          }
        ]
      }
    },
    "/v1/oauth2/register/{client_id}": {
      "get": {
        "tags": [
          "oauth2",
          "clients",
          "documented"
        ],
        "summary": "Get Client",
        "description": "Get an OAuth2 client by Client ID.",
        "operationId": "oauth2:clients:oauth2:get_client",
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Client Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-polar-allowed-subjects": [
          "Anonymous",
          "User"
        ],
        "x-speakeasy-group": "oauth2.clients",
        "x-speakeasy-name-override": "get",
        "x-codeSamples": [
          {
            "lang": "go",
            "label": "Go (SDK)",
            "source": "package main\n\nimport(\n\t\"context\"\n\t\"os\"\n\tpolargo \"github.com/polarsource/polar-go\"\n\t\"log\"\n)\n\nfunc main() {\n    ctx := context.Background()\n    \n    s := polargo.New(\n        polargo.WithSecurity(os.Getenv(\"POLAR_ACCESS_TOKEN\")),\n    )\n\n    res, err := s.Oauth2.Clients.Get(ctx, \"\u003cid\u003e\")\n    if err != nil {\n        log.Fatal(err)\n    }\n    if res.Any != nil {\n        // handle response\n    }\n}"
          },
          {
            "lang": "python",
            "label": "Python (SDK)",
            "source": "from polar_sdk import Polar\n\nwith Polar(\n    access_token=\"\u003cYOUR_BEARER_TOKEN_HERE\u003e\",\n) as polar:\n\n    res = polar.oauth2.clients.get(client_id=\"\u003cid\u003e\")\n\n    # Handle response\n    print(res)"
          },
          {
            "lang": "typescript",
            "label": "Typescript (SDK)",
            "source": "import { Polar } from \"@polar-sh/sdk\";\n\nconst polar = new Polar({\n  accessToken: process.env[\"POLAR_ACCESS_TOKEN\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await polar.oauth2.clients.get({\n    clientId: \"\u003cid\u003e\",\n  });\n\n  // Handle the result\n  console.log(result);\n}\n\nrun();"
          },
          {
            "lang": "php",
            "label": "PHP (SDK)",
            "source": "declare(strict_types=1);\n\nrequire 'vendor/autoload.php';\n\nuse Polar;\n\n$sdk = Polar\\Polar::builder()\n    -\u003esetSecurity(\n        '\u003cYOUR_BEARER_TOKEN_HERE\u003e'\n    )\n    -\u003ebuild();\n\n\n\n$response = $sdk-\u003eoauth2-\u003eclients-\u003eget(\n    clientId: '\u003cid\u003e'\n);\n\nif ($response-\u003eany !== null) {\n    // handle response\n}"
          }
        ]
      },
      "put": {
        "tags": [
          "oauth2",
          "clients",
          "documented"
        ],
        "summary": "Update Client",
        "description": "Update an OAuth2 client.",
        "operationId": "oauth2:clients:oauth2:update_client",
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Client Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OAuth2ClientConfigurationUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-polar-allowed-subjects": [
          "Anonymous",
          "User"
        ],
        "x-speakeasy-group": "oauth2.clients",
        "x-speakeasy-name-override": "update",
        "x-codeSamples": [
          {
            "lang": "go",
            "label": "Go (SDK)",
            "source": "package main\n\nimport(\n\t\"context\"\n\t\"os\"\n\tpolargo \"github.com/polarsource/polar-go\"\n\t\"github.com/polarsource/polar-go/models/components\"\n\t\"log\"\n)\n\nfunc main() {\n    ctx := context.Background()\n    \n    s := polargo.New(\n        polargo.WithSecurity(os.Getenv(\"POLAR_ACCESS_TOKEN\")),\n    )\n\n    res, err := s.Oauth2.Clients.Update(ctx, \"\u003cid\u003e\", components.OAuth2ClientConfigurationUpdate{\n        RedirectUris: []string{\n            \"https://grown-worth.name\",\n            \"https://worthwhile-avalanche.org/\",\n            \"https://general-digit.com/\",\n        },\n        ClientName: \"\u003cvalue\u003e\",\n        ClientID: \"\u003cid\u003e\",\n    })\n    if err != nil {\n        log.Fatal(err)\n    }\n    if res.Any != nil {\n        // handle response\n    }\n}"
          },
          {
            "lang": "python",
            "label": "Python (SDK)",
            "source": "from polar_sdk import Polar\n\nwith Polar(\n    access_token=\"\u003cYOUR_BEARER_TOKEN_HERE\u003e\",\n) as polar:\n\n    res = polar.oauth2.clients.update(client_id=\"\u003cid\u003e\", o_auth2_client_configuration_update={\n        \"redirect_uris\": [\n            \"https://grown-worth.name\",\n            \"https://worthwhile-avalanche.org/\",\n            \"https://general-digit.com/\",\n        ],\n        \"client_name\": \"\u003cvalue\u003e\",\n        \"client_id\": \"\u003cid\u003e\",\n    })\n\n    # Handle response\n    print(res)"
          },
          {
            "lang": "typescript",
            "label": "Typescript (SDK)",
            "source": "import { Polar } from \"@polar-sh/sdk\";\n\nconst polar = new Polar({\n  accessToken: process.env[\"POLAR_ACCESS_TOKEN\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await polar.oauth2.clients.update({\n    clientId: \"\u003cid\u003e\",\n    oAuth2ClientConfigurationUpdate: {\n      redirectUris: [\n        \"https://grown-worth.name\",\n        \"https://worthwhile-avalanche.org/\",\n        \"https://general-digit.com/\",\n      ],\n      clientName: \"\u003cvalue\u003e\",\n      clientId: \"\u003cid\u003e\",\n    },\n  });\n\n  // Handle the result\n  console.log(result);\n}\n\nrun();"
          },
          {
            "lang": "php",
            "label": "PHP (SDK)",
            "source": "declare(strict_types=1);\n\nrequire 'vendor/autoload.php';\n\nuse Polar;\nuse Polar\\Models\\Components;\n\n$sdk = Polar\\Polar::builder()\n    -\u003esetSecurity(\n        '\u003cYOUR_BEARER_TOKEN_HERE\u003e'\n    )\n    -\u003ebuild();\n\n$oAuth2ClientConfigurationUpdate = new Components\\OAuth2ClientConfigurationUpdate(\n    redirectUris: [\n        'https://passionate-flu.org',\n    ],\n    clientName: '\u003cvalue\u003e',\n    clientId: '\u003cid\u003e',\n);\n\n$response = $sdk-\u003eoauth2-\u003eclients-\u003eupdate(\n    clientId: '\u003cid\u003e',\n    oAuth2ClientConfigurationUpdate: $oAuth2ClientConfigurationUpdate\n\n);\n\nif ($response-\u003eany !== null) {\n    // handle response\n}"
          }
        ]
      },
      "delete": {
        "tags": [
          "oauth2",
          "clients",
          "documented"
        ],
        "summary": "Delete Client",
        "description": "Delete an OAuth2 client.",
        "operationId": "oauth2:clients:oauth2:delete_client",
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Client Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-polar-allowed-subjects": [
          "Anonymous",
          "User"
        ],
        "x-speakeasy-group": "oauth2.clients",
        "x-speakeasy-name-override": "delete",
        "x-codeSamples": [
          {
            "lang": "go",
            "label": "Go (SDK)",
            "source": "package main\n\nimport(\n\t\"context\"\n\t\"os\"\n\tpolargo \"github.com/polarsource/polar-go\"\n\t\"log\"\n)\n\nfunc main() {\n    ctx := context.Background()\n    \n    s := polargo.New(\n        polargo.WithSecurity(os.Getenv(\"POLAR_ACCESS_TOKEN\")),\n    )\n\n    res, err := s.Oauth2.Clients.Delete(ctx, \"\u003cid\u003e\")\n    if err != nil {\n        log.Fatal(err)\n    }\n    if res.Any != nil {\n        // handle response\n    }\n}"
          },
          {
            "lang": "python",
            "label": "Python (SDK)",
            "source": "from polar_sdk import Polar\n\nwith Polar(\n    access_token=\"\u003cYOUR_BEARER_TOKEN_HERE\u003e\",\n) as polar:\n\n    res = polar.oauth2.clients.delete(client_id=\"\u003cid\u003e\")\n\n    # Handle response\n    print(res)"
          },
          {
            "lang": "typescript",
            "label": "Typescript (SDK)",
[...]
